// RWD Table
.rwd_table_wrapper {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
  }
}

// RWD Video
// -- youtube
.video_youtube {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// -- facebook
.video_facebook {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Popup
.popup_block {
  position: relative;
  width: 90%;
  max-width: 800px;
  padding: 1.5em;
  margin: 0 auto;
  background-color: $white;
  box-sizing: border-box;
  .popup_inner {}
}

// Fixed Buttons
#fixedButtons {
  position: fixed;
  z-index: 99;
  right: 0.5em;
  bottom: 1em;
  width: 40px;
  a {
    display: block;
    margin-bottom: 0.5em;
    color: $gray-darken;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  span {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
  }
  @include breakpoint(768px) {
    right: 1em;
  }
  @include breakpoint(1280px) {
    width: 48px;
    bottom: 1.5em;
  }
  @include breakpoint(1440px) {
    right: calc((100vw - 1300px) / 2 - 48px - 1em);
  }
}