// RWD Table
.rwd_table_wrapper {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
  }
}

// RWD Video
// -- youtube
.video_youtube {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// -- facebook
.video_facebook {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Popup
.popup_block {
  position: relative;
  width: 98%;
  max-width: 1024px;
  padding: 1em;
  margin: 2.5em auto;
  border: 4px solid $khaki-dark;
  box-sizing: border-box;
  background-color: $white;
  box-sizing: border-box;
  .mfp-close {
    position: absolute;
    right: -4px;
    top: auto !important;
    bottom: 100%;
    width: 24px;
    height: 24px;
    margin-bottom: 0.8rem;
    font-size: 0;
    opacity: 1;
    &:before {
      content: '';
      display: block;
      @include retina-sprite($icon-close-popup-group);
      @extend .transition;
    }
    &:hover {
      transform: translateY(-20%);
    }
  }
  .popup_pager_controls {
    a {
      position: absolute;
      z-index: 2;
      top: 50%;
      display: block;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      font-size: 0;
      &.prev {
        left: 0.5rem;
      }
      &.next {
        right: 0.5rem;
      }
      i {
        @extend .transition;
      }
      &:hover {
        &.prev {
          i {
            transform: translateX(-20%);
          }
        }
        &.next {
          i {
            transform: translateX(20%);
          }
        }
      }
    }
    .slick-arrow {
      z-index: 2;
      top: 50%;
      display: block;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      font-size: 0;
      &:before {
        @extend .transition;
      }
      &.slick-prev {
        left: 0.5rem;
        &:before {
          @include retina-sprite($icon-prev-popup-group);
        }
      }
      &.slick-next {
        right: 0.5rem;
        &:before {
          @include retina-sprite($icon-next-popup-group);
        }
      }
      &:hover {
        &.slick-prev {
          &:before {
            transform: translateX(-20%);
          }
        }
        &.slick-next {
          &:before {
            transform: translateX(20%);
          }
        }
      }
    }
  }
  .popup_inner {
    margin: 0 auto;
    overflow: hidden;
  }
  .popup_media {
    max-width: 700px;
  }
  .popup_form {
    max-width: 480px;
  }
  .popup_slider {
    .slick-track {
      overflow: hidden;
      transition: height 0.2s ease-in-out;
    }
  }
  @include breakpoint(768px) {
    padding: 3.125em 2em;
    .popup_pager_controls {
      a {
        &.prev {
          left: 1.25rem;
        }
        &.next {
          right: 1.25rem;
        }
      }
      .slick-arrow {
        &.slick-prev {
          left: 1.25rem;
        }
        &.slick-next {
          right: 1.25rem;
        }
      }
    }
  }
}
#popupEntrance {
  max-width: 480px;
}

// Fixed Buttons
#fixedButtons {
  position: fixed;
  z-index: 99;
  right: 0.5em;
  bottom: 1em;
  width: 40px;
  a {
    display: block;
    margin-bottom: 0.5em;
    color: $gray-darken;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  span {
    display: block;
    font-size: 0.875em;
    line-height: 1.25;
  }
  a:hover {
    color: $khaki;
  }
  @include breakpoint(768px) {
    right: 1em;
  }
  @include breakpoint(1280px) {
    width: 48px;
    bottom: 1.5em;
  }
  @include breakpoint(1440px) {
    right: calc((100vw - 1300px) / 2 - 48px - 1em);
  }
}