// RWD Table
.rwd_table_wrapper {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
  }
}

// RWD Video
// -- youtube
.video_youtube {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// -- facebook
.video_facebook {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Popup
.popup_block {
  position: relative;
  width: 90%;
  max-width: 800px;
  padding: 1.5em;
  margin: 0 auto;
  background-color: $white;
  box-sizing: border-box;
  .popup_inner {}
}