::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $gray;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $gray;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $gray;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $gray;
}

input[type="radio"],
input[type="checkBox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  outline: none;
  vertical-align: middle;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  margin: 0;
  border: $khaki-dark 1px solid;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="date"] {
  &:focus {
    background-color: $gray-lightest;
  }
}

select {
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
  height: 220px;
  padding: 10px;
  outline: none;
  border: $khaki-dark 1px solid;
  box-sizing: border-box;
  resize: vertical;
  &:focus {
    outline: none;
    background-color: $gray-lightest;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: none;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
  }
}

.radio_wrapper {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  input[type="radio"] {
    margin-right: .3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    cursor: pointer;
  }
}

.check_wrapper {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  input[type="checkBox"] {
    margin-right: .3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    cursor: pointer;
  }
}

.radio_switch {
  position: relative;
  display: flex;
  width: 46px;
  height: 22px;
  border-radius: 11px;
  input[type="radio"] {
    display: none;
  }
  label {
    cursor: pointer;
    flex: 0 0 auto;
    display: block;
    line-height: 1.25;
  }
  .switch_off:checked ~ .switch_on_label,
  .switch_on:checked ~ .switch_off_label {
    width: 100%;
  }
  .switch_off:checked ~ .switch_off_label,
  .switch_on:checked ~ .switch_on_label {
    width: 0%;
  }
  .turn_dot {
    content: '';
    pointer-events: none;
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: $white;
    @extend .transition;
  }
  .switch_off:checked ~ .turn_dot {
    left: 2px;
  }
  .switch_on:checked ~ .turn_dot {
    left: 26px;
  }
}

.select_wrapper {
  width: 100%;
  overflow: hidden;
  select {
    width: 100%;
    background-image: url(../images/arrow_select.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}

.controls {
  line-height: 36px;
  .text {
    font-size: 1em;
  }
  .error_text {
    display: none;
    padding-left: .3em;
    color: red;
    font-size: .875em;
    line-height: 1.6;
  }
  &.error {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
      box-shadow: 0 0 0 1px red;
    }
    .error_text {
      display: block;
    }
  }
}

.controls_group {
  margin-bottom: 1em;
  @extend .clear;
  > label {
    display: block;
    margin-bottom: .5em;
    box-sizing: border-box;
  }
}

// Button Radio
.btn_radio {
  display: inline-block;
  input[type="radio"] {
    display: none;
  }
  label {
    display: block;
    padding: 0.7em 0.5em;
    border: $khaki-dark 1px solid;
    box-sizing: border-box;
    background-color: $white;
    color: $gray-darken;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    @extend .transition;
  }
  input[type="radio"]:checked + label {
    border-color: $khaki;
    background-color: $khaki;
    color: $white;
  }
}

// Dropdow Menu
.dropdown_menu {
  position: relative;
  .dropdown_head {
    padding: 0 10px;
    border: $khaki-dark 1px solid;
    box-sizing: border-box;
    background-color: $white;
    background-image: url(../images/arrow_select.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    appearance: none;
    color: $gray;
    font-size: 0.875em;
    line-height: 34px;
    cursor: pointer;
  }
  .dropdown_list {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-color: $khaki-dark;
    border-style: solid;
    border-width: 0 1px 1px;
    box-sizing: border-box;
    background-color: $white;
    li {
      list-style: none;
      border-bottom: $khaki-lightest 1px solid;
      &:last-child {
        border-bottom: none;
      }
      a {
        display: block;
        padding: 0 10px;
        box-sizing: border-box;
        color: $main;
        font-size: 0.875em;
        line-height: 34px;
        &.current, &:hover {
          color: $gray-darken;
        }
      }
    }
  }
}

// Call action
.call_action {
  margin-top: 1.875em;
  text-align: center;
  .btn {
    width: 120px;
    display: inline-block;
  }
}

// Captcha
.captcha {
  font-size: 0;
  .captcha_inner {
    display: inline-block;
    width: 304px; //use width google reCaptcha
    font-size: 1rem;
    transform-origin: 0 0;
  }
}

// Currency Language
.currency_language {
  .select_wrapper {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    select {
      height: 30px;
      padding: 0 18px 0 0;
      border: none;
      background-color: transparent;
      background-image: url(../images/arrow_select_white.png);
      color: $white;
      font-size: 0.875em;
    }
  }
}

// Search Form
.search_form {
  display: flex;
  border: 1px solid $khaki-dark;
  input {
    flex: 1 1 auto;
    border: none;
    border-right: 1px solid #E1DCD0;
    font-size: 0.875em;
  }
  button {
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: $white;
    text-align: center;
    &:hover {
      background-color: $khaki-lightest;
    }
    i.icon_search {
      vertical-align: middle;
    }
  }
}
.filter_search_bar .search_form {
  input {
    background-color: transparent;
    &:focus {
      background-color: $white;
    }
  }
  button {
    background-color: transparent;
    &:hover {
      background-color: $white;
    }
  }
}

// Map Mode
#mapMode.radio_switch {
  background-color: #FFDD5B;
  box-shadow: 0 0 3px rgba($black, 0.4);
  label {
    span {
      position: absolute;
      top: 100%;
      left: 50%;
      display: block;
      margin-top: 0.5em;
      color: $gray-darken;
      font-size: 0.75em;
      white-space: nowrap;
      transform: translateX(-50%);
    }
  }
  .switch_on_label span {
    color: $white;
  }
  .switch_off:checked ~ .switch_on_label span,
  .switch_on:checked ~ .switch_off_label span {
    display: none;
  }
  .switch_on:checked ~ .turn_dot {
    background-color: #323741;
  }
}

// Comments Form
.comments_form {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
  box-sizing: border-box;
  background-color: $gray-lightest;
  .profile_picture {
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    margin-right: 0.5em;
    border: $khaki-light 2px solid;
    box-sizing: border-box;
  }
  .controls {
    flex: 1 1 auto;
    display: flex;
    input[type="text"] {
      flex: 1 1 auto;
      height: 44px;
      box-sizing: border-box;
    }
    button {
      flex: 0 0 auto;
      width: 60px;
      height: 44px;
      margin-left: 0.5em;
      border: 1px solid $khaki;
      box-sizing: border-box;
      background-color: $white;
      color: #626262;
      &:hover {
        background-color: $khaki;
        color: $white;
      }
    }
  }
  @include breakpoint(768px) {
    padding: 1.25em 1.5em;
    .profile_picture {
      width: 60px;
      height: 60px;
      margin-right: 1.25em;
    }
    .controls {
      button {
        width: 120px;
        margin-left: 0.875em;
      }
    }
  }
}
.message_block {
  .comments_form {
    align-items: flex-start;
    padding: 0 0.5em 1em;
    background-color: transparent;
    .controls {
      flex-wrap: wrap;
      textarea {
        width: 100%;
        height: 148px;
        box-sizing: border-box;
      }
      button {
        width: 100%;
        margin-top: 0.5em;
        margin-left: 0;
      }
    }
    @include breakpoint(768px) {
      padding: 0 1.5em 1.25em;
      .controls {
        flex-wrap: nowrap;
        align-items: flex-end;
        textarea {
          flex: 1 1 auto;
          width: calc(100% - 120px - 0.5em);
        }
        button {
          width: 120px;
          margin-top: 0;
          margin-left: 0.5em;
        }
      }
    }
    @include breakpoint(1024px) {
      padding: 0 3em 2.25em;
    }
  }
}

// Popup Entrance
#popupEntrance {
  .controls_group {
    margin-bottom: 1.5em;
    > label {
      display: block;
      padding: 0;
      margin-bottom: 0.3em;
      font-family: 'Crimson Text', serif;
      font-size: 1.875em;
      font-style: italic;
      text-align: center;
      line-height: 1.25;
    }
    select {
      box-sizing: border-box;
      background-position: calc(100% - 10px) center;
    }
  }
  .btn.confirm {
    display: block;
    width: 150px;
    margin: 2em auto 0;
  }
}