@include susy-breakpoint(1024px) {
  #footer {
    .footer_information {
      width: 325px;
      float: left;
    }
    .footer_nav {
      width: calc(100% - 325px - 2.5em);
      max-width: 750px;
      float: right;
    }
  }
}
