#footer {
  padding: 2em 1em;
  box-sizing: border-box;
	background-color: $khaki-lightest;
	.footer_inner {
		max-width: 1200px;
		margin: 0 auto;
  }
  .footer_main {
    margin-bottom: 1.5em;
    .footer_logo {
      display: block;
      max-width: 254px;
      margin-bottom: 0.8em;
      img {
        display: block;
      }
    }
    .copyright {
      margin-bottom: 0.8rem;
      color: $gray-darken;
      font-size: 1.125em;
      line-height: 1.2;
    }
    .social_apps_links {
      font-size: 0;
      a {
        display: inline-block;
        &:last-child {
          margin-right: 0 !important;
        }
      }
      .social {
        margin-bottom: 0.8rem;
        a {
          margin-right: 0.3rem;
        }
      }
      .apps {
        a {
          margin-right: 0.5rem;
        }
      }
      @include breakpoint(360px) {
        .social {
          display: inline-block;
          margin-right: 0.8rem;
          margin-bottom: 0;
          vertical-align: middle;
        }
        .apps {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    hr {
      margin: 0.875em 0;
      border: none;
      height: 1px;
      background-color: #CFCFCF;
    }
    .cooperation_link {
      margin-bottom: 0.5em;
      max-width: 295px;
      box-sizing: border-box;
    }
    .interested_link {
      color: $gray-darken;
      font-size: 0.875em;
      font-style: italic;
      letter-spacing: 0.018em;
      i.icon_hand {
        margin-top: -3px;
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }
  }
}
