@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../node_modules/susy/sass/susy";
$susy: (
    columns: 12,
    gutters: 1,
    math: fluid
);

// Normalize
@import "normalize";

// General
@import "general/general";

// Componets
@import "components/com";

// Navigation
@import "navigation/nav";

// Layout
@import "layout/head";
@import "layout/main";
@import "layout/foot";

// Plugins
@import "plugins/leaflet";
@import "plugins/leaflet.responsive.popup";
@import "plugins/leaflet.fullscreen";
@import "plugins/slick";
@import "plugins/slick-theme";
@import "../../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar";
@import "../../bower_components/magnific-popup/dist/magnific-popup";
@import "../../bower_components/rateyo/src/jquery.rateyo";

// Plugins Setting
// leaflet
.leaflet-control-layers-toggle {
  background-image: url(../images/leaflet/layers.png);
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/leaflet/layers-2x.png);
}
.leaflet-default-icon-path {
  background-image: url(../images/leaflet/marker-icon.png);
}

// slick
.slick-slide:focus {
  outline: none;
}
.slick-prev,
.slick-next {
  z-index: 3;
  width: 18px;
  height: 52px;
  &:before {
    display: block;
    width: 18px;
    height: 52px;
    font-size: 0;
  }
  &:hover {
    opacity: 1;
  }
}
.slick-prev {
  &:before {
    @include retina-sprite($arrow-slider-prev-group);
  }
}
.slick-next {
  &:before {
    @include retina-sprite($arrow-slider-next-group);
  }
}

// mCustomScrollbar
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(../images/mCSB_buttons.png);
}
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
  -ms-touch-action: auto;
  touch-action: auto;
}
.mCustomScrollBox {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
  -ms-touch-action: auto;
  touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.mCSB_inside > .mCSB_container {
  margin-right: 1.25em;
  &.mCS_x_hidden {
    margin-bottom: 0 !important;
  }
}
.mCSB_scrollTools {
  .mCSB_draggerRail {
    margin-left: 10px;
  }
  .mCSB_dragger .mCSB_dragger_bar {
    margin-left: 10px;
  }
}
.mCS-dark-3 {
  &.mCSB_scrollTools {
    .mCSB_draggerRail {
      background-color: #E2E2E2;
    }
    .mCSB_dragger{
      .mCSB_dragger_bar {
        background-color: #C7BFAF;
      }
      &:hover, &.mCSB_dragger_onDrag {
        .mCSB_dragger_bar {
          background-color: $main;
        }
      }
    }
  }
  &.mCSB_scrollTools_horizontal {
    height: 12px;
    .mCSB_draggerRail {
      height: 12px;
      margin: 0;
      border-radius: 6px;
    }
    .mCSB_dragger {
      .mCSB_dragger_bar {
        height: 12px;
        margin: 0;
        border-radius: 6px;
      }
    }
  }
}
.mCS-dark-2 {
  &.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 20px;
  }
  &.mCSB_scrollTools {
    .mCSB_draggerRail {
      background-color: #E2E2E2;
    }
    .mCSB_dragger{
      .mCSB_dragger_bar {
        background-color: #C7BFAF;
      }
      &:hover, &.mCSB_dragger_onDrag {
        .mCSB_dragger_bar {
          background-color: $main;
        }
      }
    }
  }
}

// Popup
.mfp-bg {
  z-index: 99990;
}
.mfp-wrap {
  z-index: 99991;
}