extends layouts/default.pug

block value
  - var currentUrl = 'about';

block main
  .page_banner
    img(src="images/banner_company.jpg")
  .company_block.page_block
    .block_inner
      h1.block_title About Vetrina Mia
      .block_main
        .words
          p Nam porttitor blandit accumsan. Ut vel dictum sem, #[span.font_khaki pretium dui]. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam.
          p Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam.
        .social_links
          | Connect with us:
          a(href="javascript:;", target="_blank")
            i.icon_share_facebook
          a(href="javascript:;", target="_blank")
            i.icon_share_instagram
          a(href="javascript:;", target="_blank")
            i.icon_share_pinterest
          a(href="javascript:;", target="_blank")
            i.icon_share_twitter
          a(href="javascript:;", target="_blank")
            i.icon_share_youtube
          a(href="javascript:;", target="_blank")
            i.icon_share_weibo