extends layouts/default.pug

block value
  - var currentUrl = 'brands';

block main
  .filter_search_bar
    .bar_inner
      .filter_buttons
        a.active(href="brands.html") All
        a(href="search_brands.html") A-Z
      .search_form
        input(type="search", placeholder="Designer / Brand name")
        button(type="button", onclick="location.href='search_brands.html'") #[i.icon_search]

  .topping_block.brand_topping
    .block_inner.wide
      .topping_header
        .brand_topping_header
          a.header_content(href="brand_story.html")
            .thumb
              //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
              .pic(style="background-image: url(images/img_brand.jpg);")
                img.size(src="images/size_1x1.png")
              //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
            .intro
              .brand_name Brand Name
              h3 Georgie Wood-Weber On Packing Like A Pro
              h4.designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_s
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/flag_italy.png")
                span Stella Lin
      .topping_main
        .topping_list.brand_topping_list.scrollbar_y
          //↓ 三篇 ↓
          .item
            a.item_content(href="brand_story.html")
              .thumb
                //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                .pic(style="background-image: url(https://source.unsplash.com/6cHumpSxTvs/360x360);")
                  img.size(src="images/size_1x1.png")
                //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
              .intro
                .brand_name Brand Name - Marchesa Notte
                h3 Channel Love Island’s Ovie In These Cute AF Tees
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
                h4.designer_name
                  //↓ 知名設計才會有鑽石icon ↓
                  i.icon_diamond_s
                  //↑ 知名設計才會有鑽石icon ↑
                  img.flag(src="images/flag/flag_italy.png")
                  span Cindy Chou
          each i inArray(2)
            .item
              a.item_content(href="brand_story.html")
                .thumb
                  //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(https://via.placeholder.com/360x360);")
                    img.size(src="images/size_1x1.png")
                  //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .intro
                  .brand_name Maryam Nassir Zadeh
                  h3 Channel Love Island’s Ovie In These Cute AF Tees
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
                  h4.designer_name
                    img.flag(src="images/flag/flag_france.png")
                    span Cindy Liao
          //↑ 三篇 ↑

  .list_items_wrapper.page_block.bg_gray
    .block_inner.wide
      h2.block_title Fashion in Italy
      .block_main
        .list_items
          .item
            a(href="brand_story.html")
              h3.brand_name Haute Couture Automne
              .thumb
                .pic(style="background-image: url(images/img_brand.jpg);")
                  img.size(src="images/size_1x1.png")
              p Channel Love Island’s Ovie In These Cute AF Tees
              .designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_s
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/flag_france.png")
                span Katherine Stanley
          each i inArray(4)
            .item
              a(href="brand_story.html")
                h3.brand_name A. TEODORO
                .thumb
                  .pic(style="background-image: url(https://via.placeholder.com/360x360);")
                    img.size(src="images/size_1x1.png")
                p Voici la coiffure que l’on verra partout à la rentrée
                .designer_name
                  img.flag(src="images/flag/flag_italy.png")
                  span Mannix Lo

  .list_items_wrapper.page_block
    .block_inner.wide
      h2.block_title Explore world
      .block_main
        .list_items
          .item
            a(href="brand_story.html")
              h3.brand_name Haute Couture Automne
              .thumb
                .pic(style="background-image: url(images/img_brand.jpg);")
                  img.size(src="images/size_1x1.png")
              p Channel Love Island’s Ovie In These Cute AF Tees
              .designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_s
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/flag_france.png")
                span Katherine Stanley
          each i inArray(9)
            .item
              a(href="brand_story.html")
                h3.brand_name A. TEODORO
                .thumb
                  .pic(style="background-image: url(https://via.placeholder.com/360x360);")
                    img.size(src="images/size_1x1.png")
                p Voici la coiffure que l’on verra partout à la rentrée
                .designer_name
                  img.flag(src="images/flag/flag_italy.png")
                  span Mannix Lo
        a.btn.common.more(href="javascript:;")
          | View More

  .list_items_wrapper.page_block
    .block_inner.wide
      h2.block_title Brand Projects
      .block_main
        .list_items
          .item
            a(href="brand_story.html")
              h3.brand_name Haute Couture Automne
              .thumb
                .pic(style="background-image: url(images/img_brand.jpg);")
                  img.size(src="images/size_1x1.png")
              p Channel Love Island’s Ovie In These Cute AF Tees
              .designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_s
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/flag_france.png")
                span Katherine Stanley
          each i inArray(9)
            .item
              a(href="brand_story.html")
                h3.brand_name A. TEODORO
                .thumb
                  .pic(style="background-image: url(https://via.placeholder.com/360x360);")
                    img.size(src="images/size_1x1.png")
                p Voici la coiffure que l’on verra partout à la rentrée
                .designer_name
                  img.flag(src="images/flag/flag_italy.png")
                  span Mannix Lo
        a.btn.common.more(href="javascript:;")
          | View More