extends layouts/default.pug

block value
  - var currentUrl = 'designers';

block main
  .filter_search_bar
    .bar_inner
      .filter_buttons
        a.active(href="designers.html") All
        a(href="search_designers.html") A-Z
      .search_form
        input(type="search", placeholder="Designer name")
        button(type="button", onclick="location.href='search_designers.html'") #[i.icon_search]

  .topping_block.designer_topping
    .block_inner
      .topping_header
        .designer_card
          a.btn_favorite(data-designerId="01", href="javascript:;")
            i.icon_favorite_heart
          a.card_content(href="designer_home.html")
            .thumb
              //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
              .pic(style="background-image: url(images/img_designer.jpg);")
                img.size(src="images/size_3x4.png")
              //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
            .intro
              .profile_picture
                //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                .pic(style="background-image: url(images/img_profile.jpg)")
                  img.size(src="images/size_1x1.png")
                //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
              h3.designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_s
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/IT.png")
                span Douglas Robinson
              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
      .topping_main
        .topping_list.designer_topping_list.scrollbar_y
          //↓ 三篇 ↓
          .item
            a.btn_favorite(data-designerId="02", href="javascript:;")
              i.icon_favorite_heart
            a.item_content(href="designer_home.html")
              .thumb
                //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                .pic(style="background-image: url(https://via.placeholder.com/360x480);")
                  img.size(src="images/size_3x4.png")
                //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
              .intro
                .intro_inner
                  .profile_picture(href="designer_home.html")
                    //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                    .pic(style="background-image: url(https://via.placeholder.com/100x100)")
                      img.size(src="images/size_1x1.png")
                    //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                  h3.designer_name
                    //↓ 知名設計才會有鑽石icon ↓
                    i.icon_diamond_s
                    //↑ 知名設計才會有鑽石icon ↑
                    img.flag(src="images/flag/IT.png")
                    span Cindy Chou
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
          each i inArray(2)
            .item
              a.btn_favorite(data-designerId="03", href="javascript:;")
                i.icon_favorite_heart
              a.item_content(href="designer_home.html")
                .thumb
                  //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(https://via.placeholder.com/360x480);")
                    img.size(src="images/size_3x4.png")
                  //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .intro
                  .intro_inner
                    .profile_picture(href="designer_home.html")
                      //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                      .pic(style="background-image: url(https://via.placeholder.com/100x100)")
                        img.size(src="images/size_1x1.png")
                      //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                    h3.designer_name
                      img.flag(src="images/flag/FR.png")
                      span Cindy Chou
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
          //↑ 三篇 ↑

  .list_slider_wrapper.page_block.designer_story
    .block_inner
      h2.block_title Designer Story
      .block_main
        .list_slider
          .slide
            a(href="designer_home.html")
              .designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/FR.png")
                span Chloe Liao
              .thumb.is_video
                .pic(style="background-image: url(images/img_video.jpg);")
                  img.size(src="images/size_16x9.png")
              h3.slide_title Channel Love Island’s Ovie In These Cute AF Tees
          each i inArray(5)
            .slide
              a(href="designer_home.html")
                .designer_name
                  img.flag(src="images/flag/IT.png")
                  span Chloe Liao
                .thumb.is_video
                  .pic(style="background-image: url(https://via.placeholder.com/510x288);")
                    img.size(src="images/size_16x9.png")
                h3.slide_title Channel Love Island’s Ovie In These Cute AF Tees

  .list_items_wrapper.page_block
    .block_inner
      h2.block_title Explore world
      .block_main
        .list_items
          .item
            a(href="designer_home.html")
              h3.designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_s
                //↑ 知名設計才會有鑽石icon ↑
                img.flag(src="images/flag/FR.png")
                span Katherine Stanley
              .thumb
                .pic(style="background-image: url(images/img_designer.jpg);")
                  img.size(src="images/size_3x4.png")
              p Channel Love Island’s Ovie In These Cute AF Tees
          each i inArray(19)
            .item
              a(href="designer_home.html")
                h3.designer_name
                  img.flag(src="images/flag/IT.png")
                  span Virginia Cox
                .thumb
                  .pic(style="background-image: url(https://via.placeholder.com/360x480);")
                    img.size(src="images/size_3x4.png")
                p Voici la coiffure que l’on verra partout à la rentrée
        a.btn.common.more(href="javascript:;")
          | More Designers

block js
  script.
    $(function() {
      // favorite 加入愛心的點擊事件
      $(document).on('click', '.btn_favorite', function() {
        // designerId 取得穿搭的 ID
        var designerId = $(this).attr('data-designerId');

        if ($(this).hasClass('active')) {
          // 取消最愛寫這裡

          $(this).removeClass('active');
        } else {
          // 加入最愛寫這裡

          $(this).addClass('active');
        }
      });
    });