extends layouts/default.pug

block value
  - var currentUrl = 'designers';

block main
  .designer_banner.banner_slider
    .slide
      img(src="images/banner_designer.jpg", alt="")
    .slide
      img(src="https://via.placeholder.com/1920x826", alt="")
    .slide
      img(src="https://via.placeholder.com/1920x826", alt="")

  .designer_header
    .designer_header_inner
      .designer_header_mian
        .designer_info
          a(href="designer_profile.html")
            .profile_picture
              //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
              .pic(style="background-image: url(images/img_profile.jpg")
                img.size(src="images/size_1x1.png")
              //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
            .text
              .designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_b
                //↑ 知名設計才會有鑽石icon ↑
                span Douglas Robinson
              .country
                img.flag(src="images/flag/flag_italy.png")
                span Italy
        ul.links
          li
            a.popup(href="javascript:;", title="Just for you")
              i.icon_just_for_you
              span Just for you
          li
            a.popup(href="javascript:;", title="Message")
              i.icon_message
              span Message
          li
            a.btn_favorite(href="javascript:;", data-designerId="designer001", title="Favorite")
              i.icon_favorite_heart_big
              span (#[span.count 1207])
          li
            a.popup(href="javascript:;", title="Gift Designer")
              i.icon_gift_designer
              span Gift Designer
          li
            a.popup(href="javascript:;", title="Make a Wish")
              i.icon_make_wish
              span Make a Wish
      .designer_navigation
        .designer_navigation_inner
          .reviews
            a(href="designer_review.html")
              i.icon_star_full_big
              span.score 4.8
              span.count (232 Reviews)
          .nav_menu
            ul
              li
                a.current(href="designer_home.html") Home
              li
                a(href="designer_profile.html") Designer Profile
              li
                a(href="javascript:;") Brand Story
                ul
                  li
                    a(href="brand_story.html") Brand Name 01
                  li
                    a(href="brand_story.html") Brand Name 02
              li
                a(href="designer_products.html") Product
              li
                a(href="designer_review.html") Review
            a.toggle_menu(href="javascript:;")
              | Menu

  .designer_about.page_block
    .block_inner
      .designer_about_image
        img(src="images/img_designer_about.jpg")
      .designer_about_intro
        h2.block_title About Designer
        .text
          p I think my key issue was this: I didn’t leave myself enough time to plan this wedding. And I’m happy to admit it. If I didn’t have such a hectic career, AND PRIMARILY.
          p Les collections OMOY sont le reflet de l’’histoire de leur créatrice, de ses voyages entre l’Afrique et l’’Europe, de son héritage culturel et des influences modernes qui l’ont nourrie. Les pièces mixent des formes élégantes et contemporaines à des matériaux naturels, bruts, fabriqués à la main selon un savoir-faire.
        a.btn.common.more(href="designer_profile.html") My Profile

  .designer_event.page_block
    .block_inner
      // ↓ 直播影片的時候使用 ↓
      //
        <div class="event_video fit_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FbjUyCDrHI0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      // ↑ 直播影片的時候使用 ↑
      // ↓ 倒數期間使用 ↓
      .event_countdown
        h2.block_title RUNWAY#[br]NEW EVENT
        .countdown(data-date="2020-12-31", data-time="18:30")
      // ↑ 倒數期間使用 ↑
      .event_content
        h3.event_title 2019 Autumn collection title
        .event_time
          i.dot
          | Collection on 2019.8.31 20:00
        .text.
          Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque.
        // ↓ 直播影片的時候不放 ↓
        a.thumb.is_video.popup(href="popup_video.html")
          .pic(style="background-image: url(images/img_video.jpg);")
            img.size(src="images/size_16x9.png")
        // ↑ 直播影片的時候不放 ↑

  .designer_hometown.page_block
    .block_inner
      .designer_hometown_main
        h2.block_title My Hometown - Seggiano
        .country_city
          img.flag(src="images/flag/flag_italy.png")
          span Italy, Seggiano
        .intro_text.
          Seggiano is a comune (municipality) in the Province of Grosseto in the Italian region Tuscany, located about 100 kilometres (62 mi) south of Florence and about 40 kilometres (25 mi) northeast of Grosseto.
        .hometown_characteristics
          .item
            .thumb
              .pic(style="background-image: url(images/img_designer_hometown.jpg);")
                img.size(src="images/size_4x3.png")
            h3 Wildflower raw honey
            .text.
              From the Monte Cimino area: sumptuosly thick amber coloured, rich in active enzymes, vitamins and minerals. Each batch of wildflower will be slightly different, according to the predominant flowering prior to honey collection.
          .item
            .thumb
              .pic(style="background-image: url(https://via.placeholder.com/360x270);")
                img.size(src="images/size_4x3.png")
            h3 Italian Honey with Truffle
            .text.
              Italian honey 96%, Italian white truffle (Tuber Magnatum Pico)#[br]
              or Italian bianchetto truffle (Tuber Borchii Vitt.) 3%, flavor.
          .item
            .thumb
              .pic(style="background-image: url(https://via.placeholder.com/360x270);")
                img.size(src="images/size_4x3.png")
            h3 CALAMARATA PASTA RINGS
            .text.
              These fun Calamari ring pasta make a different and delicious addition to your pasta choices, the seafood, meats or vegetables get caught up in the rings and make it so tasty and love the presentation!

block js
  // build:js scripts/plugins/countdown.js
  script(src="scripts/plugins/countdown.js")
  // endbuild

  script.
    $(function() {
      // 愛心的點擊事件
      $(document).on('click', '.btn_favorite', function(event) {
        // designerId 取得穿搭的 ID
        var designerId = $(this).attr('data-designerId');
        var countNumber = parseInt($(this).find('.count').text());

        if ($(this).hasClass('active')) {
          // 取消最愛寫這裡

          $(this).removeClass('active');
          $(this).find('.count').text(countNumber - 1);
        } else {
          // 加入最愛寫這裡

          $(this).addClass('active');
          $(this).find('.count').text(countNumber + 1);
        }
      });
    });