extends layouts/default.pug

block value
  - var currentUrl = 'designers';

block main
  .designer_banner.banner_slider
    .slide
      img(src="images/banner_designer.jpg", alt="")
    .slide
      img(src="https://via.placeholder.com/1920x826", alt="")
    .slide
      img(src="https://via.placeholder.com/1920x826", alt="")

  .designer_header
    .designer_header_inner
      .designer_header_mian
        .designer_info
          a(href="designer_profile.html")
            .profile_picture
              //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
              .pic(style="background-image: url(images/img_profile.jpg")
                img.size(src="images/size_1x1.png")
              //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
            .text
              .designer_name
                //↓ 知名設計才會有鑽石icon ↓
                i.icon_diamond_b
                //↑ 知名設計才會有鑽石icon ↑
                span Douglas Robinson
              .country
                img.flag(src="images/flag/flag_italy.png")
                span Italy
        ul.links
          li
            a.popup(href="javascript:;", title="Just for you")
              i.icon_just_for_you
              span Just for you
          li
            a.popup(href="javascript:;", title="Message")
              i.icon_message
              span Message
          li
            a.btn_favorite(href="javascript:;", data-designerId="designer001", title="Favorite")
              i.icon_favorite_heart_big
              span (#[span.count 1207])
          li
            a.popup(href="javascript:;", title="Gift Designer")
              i.icon_gift_designer
              span Gift Designer
          li
            a.popup(href="javascript:;", title="Make a Wish")
              i.icon_make_wish
              span Make a Wish
      .designer_navigation
        .designer_navigation_inner
          .reviews
            a(href="designer_review.html")
              i.icon_star_full_big
              span.score 4.8
              span.count (232 Reviews)
          .nav_menu
            ul
              li
                a(href="designer_home.html") Home
              li
                a(href="designer_profile.html") Designer Profile
              li
                a(href="javascript:;") Brand Story
                ul
                  li
                    a(href="brand_story.html") Brand Name 01
                  li
                    a(href="brand_story.html") Brand Name 02
              li
                a.current(href="designer_products.html") Product
              li
                a(href="designer_review.html") Review
            a.toggle_menu(href="javascript:;")
              | Menu

  .designer_brands_sort.page_block
    .block_inner
      h2.block_title My Brands
      .block_main
        .brands_sort
          .item
            a(href="javascript:;")
              .brand_logo
                .pic(style="background-image: url(images/img_brand_logo.jpg);")
                  img.size(src="images/size_1x1.png")
              h3 Maison Artaner
          .item
            a(href="javascript:;")
              .brand_logo
                .pic(style="background-image: url(images/img_brand_logo2.jpg);")
                  img.size(src="images/size_1x1.png")
              h3 Article Suivant
  
  .designer_new_arrivals.page_block
    .block_inner
      h2.block_title New Arrivals
      .block_main
        .news_arrivals.scrollbar_x
          .news_arrivals_inner
            .products_list
              .item
                a(href="product_detail.html")
                  .thumb
                    .pic(style="background-image: url(images/img_product01.jpg)")
                      img.size(src="images/size_3x4.png")
                  h3 The Chelsea Heritage Trench Coat
                  .price NT$ 98800
              .item
                a(href="product_detail.html")
                  .thumb
                    .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                      img.size(src="images/size_3x4.png")
                  h3 The Chelsea Heritage Trench Coat
                  .price NT$ 98800
            .master_vision
              img(src="images/img_master_vision.jpg")
            .products_list
              .item
                a(href="product_detail.html")
                  .thumb
                    .pic(style="background-image: url(images/img_product01.jpg)")
                      img.size(src="images/size_3x4.png")
                  h3 The Chelsea Heritage Trench Coat
                  .price NT$ 98800
              .item
                a(href="product_detail.html")
                  .thumb
                    .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                      img.size(src="images/size_3x4.png")
                  h3 The Chelsea Heritage Trench Coat
                  .price NT$ 98800
  
  .designer_products.page_block
    .block_inner
      h2.block_title Products
      .block_main
        .nav_menu
          ul
            li
              a(href="designer_home.html") Home
            li
              a(href="designer_profile.html") Designer Profile
            li
              a(href="javascript:;") Brand Story
            li
              a.current(href="designer_products.html") Product
            li
              a(href="designer_review.html") Review
        .products_list
          .item
            a(href="product_detail.html")
              .thumb
                .pic(style="background-image: url(images/img_product01.jpg)")
                  img.size(src="images/size_3x4.png")
              h3 Lemite - Sleeveless Eyelet-Lace Dress
              .price NT$ 988
          each i inArray(3)
            .item
              a(href="product_detail.html")
                .thumb
                  .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                    img.size(src="images/size_3x4.png")
                h3 Lemite - Sleeveless Eyelet-Lace Dress
                .price NT$ 1200

block js
  script.
    $(function() {
      // 愛心的點擊事件
      $(document).on('click', '.btn_favorite', function(event) {
        // designerId 取得設計師的 ID
        var designerId = $(this).attr('data-designerId');
        var countNumber = parseInt($(this).find('.count').text());

        if ($(this).hasClass('active')) {
          // 取消最愛寫這裡

          $(this).removeClass('active');
          $(this).find('.count').text(countNumber - 1);
        } else {
          // 加入最愛寫這裡

          $(this).addClass('active');
          $(this).find('.count').text(countNumber + 1);
        }
      });
    });