extends layouts/default.pug

block value
  - var currentUrl = 'events';

block main
  .topping_block.event_topping
    .block_inner
      .topping_header
        .event_topping_header
          a.header_content(href="event_detail.html")
            .thumb
              //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
              .pic(style="background-image: url(images/img_event.jpg);")
                img.size(src="images/size_1x1.png")
              //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
            .intro
              .date 2019.09.09
              h3 Georgie Wood-Weber On Packing Like A Pro
              p So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motionsh.
              .btn.common.more View More
      .topping_main
        .topping_list.event_topping_list.scrollbar_y
          //↓ 三篇 ↓
          .item
            a.item_content(href="event_detail.html")
              .thumb
                //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                .pic(style="background-image: url(https://source.unsplash.com/2YPSfYQA6Z0/360x360);")
                  img.size(src="images/size_1x1.png")
                //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
              .intro
                .date 2019.8.12
                h3 Channel Love Island’s Ovie In These Cute AF Tees
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
          each i inArray(2)
            .item
              a.item_content(href="event_detail.html")
                .thumb
                  //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(https://via.placeholder.com/360x360);")
                    img.size(src="images/size_1x1.png")
                  //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .intro
                  .date 2019.07.28
                  h3 Channel Love Island’s Ovie In These Cute AF Tees
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diamLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diams
          //↑ 三篇 ↑

  .list_slider_wrapper.page_block.designer_story
    .block_inner
      h2.block_title New Collections
      .list_slider
        .slide
          .date 2019.10.12
          a.thumb.is_video(href="event_detail.html")
            .pic(style="background-image: url(images/img_video.jpg);")
              img.size(src="images/size_16x9.png")
          h3.slide_title Channel Love Island’s Ovie In These Cute AF Tees
        each i inArray(5)
          .slide
            .date 2019.09.28
            a.thumb.is_video(href="event_detail.html")
              .pic(style="background-image: url(https://via.placeholder.com/510x288);")
                img.size(src="images/size_16x9.png")
            h3.slide_title Channel Love Island’s Ovie In These Cute AF Tees

  .list_items_wrapper.page_block
    .block_inner.wide
      h2.block_title Explore Events
      .list_items
        .item
          a(href="event_detail.html")
            .date 2019.09.09
            .thumb
              .pic(style="background-image: url(images/img_event.jpg);")
                img.size(src="images/size_1x1.png")
            h3.event_title Channel Love Island’s Ovie In These Cute AF Tees
        each i inArray(9)
          .item
            a(href="event_detail.html")
              .date 2019.08.29
              .thumb
                .pic(style="background-image: url(https://via.placeholder.com/360x360);")
                  img.size(src="images/size_1x1.png")
              h3.event_title Voici la coiffure que l’on verra partout à la rentrée
      a.btn.common.more(href="javascript:;")
        | View More
