extends layouts/default.pug

block main
  .forgot_password.page_block
    .block_inner
      h2.block_title
        | Forgot your password?
      .text.
        Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at con.
      .form_wrapper
        .controls_group.forgot_password_controls
          label Your Account Email
          .controls
            input(type="email", placeholder="E-mail")
            button.btn.confirm(type="submit") Reset