extends layouts/default.pug

block value
  - var currentUrl = 'index';

block main
  .store_map_wrapper
    .store_map_main
      #storeMap
      #mapControls
        a.fullScreen(href="javascript:;")
          img(src="images/map_fullScreen.png")
        .zoom_controls
          a.zoomOut(href="javascript:;")
            img(src="images/map_zoomOut.png")
          a.zoomIn(href="javascript:;")
            img(src="images/map_zoomIn.png")
        .mode
      #streetAside
        a.toggle_control(href="javascript:;")
          | Shopping map
        .search_form
          input(type="search", placeholder="Search Store")
          button(type="button") #[i.icon_search]
        .street_list
          .item
            a(href="javascript:;") Versailles Avenue
            ul
              li
                a(href="javascript:;") Store Name 001
              li
                a(href="javascript:;") Store Name 002
    #streetStore

  .top_designers.page_block
    .block_inner
      h2.block_title
        | Top Designers
      .block_main
        .top_designers_slider
          .slide
            a.slide_inner(href="designer_home.html")
              .thumb
                //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                .pic(style="background-image: url(images/img_designer.jpg);")
                  img.size(src="images/size_3x4.png")
                //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .brand_name
                  | Stephen Herrera
              .intro
                .profile_picture
                  //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(images/img_profile.jpg")
                    img.size(src="images/size_1x1.png")
                  //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .text
                  h3.designer_name
                    //↓ 知名設計才會有鑽石icon ↓
                    i.icon_diamond_s
                    //↑ 知名設計才會有鑽石icon ↑
                    span Douglas Robinson
                  .country
                    img.flag(src="images/flag/flag_italy.png")
                    span Italy
                  //- .tags
                  //-   span
                  //-     | #vintage
          each i inArray(6)
            .slide
              a.slide_inner(href="designer_home.html")
                .thumb
                  //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(https://via.placeholder.com/360x480);")
                    img.size(src="images/size_3x4.png")
                  //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                  .brand_name
                    | MU Jason Williams
                .intro
                  .profile_picture
                    //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                    .pic(style="background-image: url(https://via.placeholder.com/100x100)")
                      img.size(src="images/size_1x1.png")
                    //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                  .text
                    h3.designer_name
                      //- i.icon_diamond_s
                      span Shirley Gibson
                    .country
                      img.flag(src="images/flag/flag_france.png")
                      span France
                    //- .tags
                    //-   span
                    //-     | #casual
                    //-   span
                    //-     | #comfy
        a.btn.common.more(href="designers_list.html")
          | All designers

  .what_next.page_block
    h2.block_title
      | What's Next
    .what_next_main.scrollbar_x
      .items
        each i inArray(3)
          .item
            .video_type
              .dot.red
              h3 Live Stream
              .mark_live
                | Live
            //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            .video.video_youtube
              iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            //↑ 如果是 youtube 的影片，class 要加 'video_youtube' ↑
          .item
            .video_type
              .dot.green
              h3 Summer Collection
              //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            .video.video_youtube
              iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            //↑ 如果是 youtube 的影片，class 要加 'video_youtube' ↑
          .item
            .video_type
              .dot.yellow
              h3 Pre Sale
            //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            .video.video_youtube
              iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            //↑ 如果是 youtube 的影片，class 要加 'video_youtube' ↑

  .ads_banner
    .slide
      .pic
        img(src="images/img_ad_banner.jpg")
      //↓ 後台可設定網站五個顏色 ↓ -- bg_brown、bg_red、bg_purple、bg_blue、bg_green
      .text.bg_brown
        .text_inner
          .title SALE
          .subtitle 20% #[small off]
          p 2019 Summer Collection
          a.btn(href="javascript:;")
            | SHOP NOW
    .slide
      .pic
        img(src="https://via.placeholder.com/1920x710")
      //↓ 後台可設定網站五個顏色 ↓ -- bg_brown、bg_red、bg_purple、bg_blue、bg_green
      .text.bg_brown
        .text_inner
          .title SALE
          .subtitle 20% #[small off]
          p 2019 Summer Collection
          a.btn(href="javascript:;")
            | SHOP NOW

  .ootd_list_wrapper.page_block
    .block_inner.wide
      h2.block_title
        | OOTD Inspirations
      .block_main
        .ootd_list
          .grid_sizer
          .gutter_sizer
          //↓ 穿搭的list，15筆 ↓
          each i inArray(3)
            .item
              .item_inner
                //↓ 愛心加'active'，表示為有加入最愛 ↓
                a.btn_favorite.active(data-ootdId="ootd01", href="javascript:;")
                  i.icon_favorite_heart
                //↑ 愛心加'active'，表示為有加入最愛 ↑
                a(href="ootd_detail.html")
                  .thumb
                    img(src="images/img_ootd.jpg")
                  .text
                    h3
                      | The Best Street Style From Copen Fashion Week
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd02", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x587")
                  .text
                    h3
                      | Lorem ipsum dolor sit met, consectetur adipiscing text text
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd03", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x360")
                  .text
                    h3
                      | The Best Street Style From Copen Fashion Week
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd04", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x360")
                  .text
                    h3
                      | So strongly and metapcally did I conceiv.
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd05", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x427")
                  .text
                    h3
                      | Keytar McSweeney's Williamsburg, readyma.
          //↑ 穿搭的list，15筆 ↑
        a.btn.common.more(href="ootd.html")
          | MORE

block js
  // build:js scripts/plugins/leaflet.js
  script(src="scripts/plugins/leaflet.js")
  script(src="scripts/plugins/leaflet.responsive.popup.js")
  // endbuild

  // build:js scripts/storeMap.js
  script(src="scripts/storeMap.js")
  // endbuild

  script.
    $(function() {
      var streetStores = [];

      // Store Map
      var streetMap = 'images/leaflet/street.png';

      $.ajax({
        url: 'json/stores.json',
        dataType: 'json',
        error: function() {
          console.log('ajax error!')
        },
        success: function(data) {
          streetStores = data;
          var storeIcons = [];

          for(var i=0; i < streetStores.length; i++) {
            if( streetStores[i].stores.length !== 0 ) {
              for(j=0; j < streetStores[i].stores.length; j++) {
                var store = streetStores[i].stores[j];
                var storeObj = {
                  latlng: store.latlng,
                  storeName: store.storeName,
                  markerHtml: '<a href="javascript:;" data-storeid="' + store.id + '">' + 
                    '<img class="store_icon" src="images/leaflet/store_marker.svg"/>' + 
                  '</a>',
                  popupHtml: '<div class="map_popup">' + 
                    '<div class="map_popup_inner">' +
                      '<div class="map_popup_head">' + 
                        '<a class="brand_name" href="' + store.brandLink + '">' + 
                          '<div class="brand_picture">' + 
                            '<div class="pic" style="background-image: url(' + store.brandImg + ');">' + 
                              '<img class="size" src="images/size_1x1.png">' +
                            '</div>' + 
                          '</div>' + 
                          '<h2>' + store.storeName + '</h2>' + 
                        '</a>' + 
                        '<div class="address">' + 
                          '<i class="icon_map_marker"></i>' + 
                          '<span>' + 'No.' + store.number + ', ' + streetStores[i].streetName + '</span>' + 
                        '</div>' + 
                      '</div>' + 
                      '<div class="map_popup_content">' +
                        '<div class="intro">' + 
                          '<a class="designer_info" href="' + store.designerLink + '">' + 
                            '<div class="profile_picture">' + 
                              '<div class="pic" style="background-image: url(' + store.designerImg + ')">' + 
                                '<img class="size" src="images/size_1x1.png">' +
                              '</div>' + 
                            '</div>' + 
                            '<h3 class="designer_name">' + 
                              '<span class="name">' + store.designerName + '</span>' + 
                              '<div class="divide_line"></div>' + 
                              '<img class="flag" src="' + store.flag + '">' + 
                              '<span class="country">' + store.country + '</span>' + 
                            '</h3>' + 
                          '</a>' + 
                          '<div class="text">' +  store.description + '</div>' + 
                          '<a class="btn common more" href="' + store.productsLink + '">' + 'Products' + '</a>' + 
                        '</div>' + 
                        '<div class="picture">' + 
                          '<div class="thumb">' + 
                            '<div class="pic" style="background-image: url(' + store.brandPic + ')">' + 
                              '<img class="size" src="images/size_4x3.png">' + 
                            '</div>' + 
                          '</div>' + 
                        '</div>' +
                      '</div>' + 
                    '</div>' + 
                  '</div>'
                }
                storeIcons.push(storeObj);
              }
            }
          }

          storeMap(streetMap, storeIcons);
        }
      });

      // OOTD 加入愛心的點擊事件
      $(document).on('click', '.btn_favorite', function() {
        // ootdId 取得穿搭的 ID
        var ootdId = $(this).attr('data-ootdId');

        if ($(this).hasClass('active')) {
          // 取消最愛寫這裡

          $(this).removeClass('active');
        } else {
          // 加入最愛寫這裡

          $(this).addClass('active');
        }
      });
    });