extends layouts/default.pug

block value
  - var currentUrl = 'index';

block main
  .store_map_wrapper
    .store_map_main
      #storeMap
      #mapSky
        img.sky_day(src="images/leaflet/sky.png")
        img.sky_night(src="images/leaflet/sky_night.png")
      #mapMode.radio_switch
        input#day.switch_off(type="radio", name="mapMode", checked)
        input#night.switch_on(type="radio", name="mapMode")
        label.switch_off_label(for="day") #[span Day mode]
        label.switch_on_label(for="night") #[span Night mode]
        .turn_dot
      #streetAside.isOpen
        a.open_aside(href="javascript:;")
          i.arrow_double_left
        .aside_title
          h2 Shopping map
          a.close_aside(href="javascript:;")
            i.arrow_double_right
        //- .search_form
        //-   input(type="search", placeholder="Search Store")
        //-   button(type="button") #[i.icon_search]
        .street_list
          //- .item.active
          //-   a.street_name(href="javascript:;", data-streetId="") Versailles Avenue
          //-   ul
          //-     li
          //-       a.store_name(href="javascript:;", data-storeId="") Store Name 001
          //-     li
          //-       a.store_name(href="javascript:;", data-storeId="") Store Name 002
    #streetStores
      .street_intro
        .intro_inner
          h2
          hr
          h3
          .text
          //- h2 J street
          //- hr
          //- h3 Casual Free style
          //- .text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party.
      .stores_slider
        //- .slide
        //-   a.thumb(href="designer_products.html")
        //-     //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
        //-     .pic(style="background-image: url(images/img_brand.jpg);")
        //-       img.size(src="images/size_1x1.png")
        //-     //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
        //-   .intro
        //-     h3.store_name
        //-       a(href="brand_story.html")
        //-         | Store Name
        //-     a.designer_info(href="designer_home.html")
        //-       .profile_picture
        //-         //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
        //-         .pic(style="background-image: url(images/img_profile.jpg")
        //-           img.size(src="images/size_1x1.png")
        //-         //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
        //-       .designer_name
        //-         //↓ 知名設計才會有鑽石icon ↓
        //-         i.icon_diamond_s
        //-         //↑ 知名設計才會有鑽石icon ↑
        //-         img.flag(src="images/flag/flag_italy.png")
        //-         span Designer Name

  .top_designers.page_block
    .block_inner
      h2.block_title
        | Top Designers
      .block_main
        .top_designers_slider
          .slide
            a.slide_inner(href="designer_home.html")
              .thumb
                //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                .pic(style="background-image: url(images/img_designer.jpg);")
                  img.size(src="images/size_3x4.png")
                //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .brand_name
                  | Stephen Herrera
              .designer_info
                .profile_picture
                  //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(images/img_profile.jpg")
                    img.size(src="images/size_1x1.png")
                  //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                .text
                  h3.designer_name
                    //↓ 知名設計才會有鑽石icon ↓
                    i.icon_diamond_s
                    //↑ 知名設計才會有鑽石icon ↑
                    span Douglas Robinson
                  .country
                    img.flag(src="images/flag/flag_italy.png")
                    span Italy
                  //- .tags
                  //-   span
                  //-     | #vintage
          each i inArray(6)
            .slide
              a.slide_inner(href="designer_home.html")
                .thumb
                  //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(https://via.placeholder.com/360x480);")
                    img.size(src="images/size_3x4.png")
                  //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                  .brand_name
                    | MU Jason Williams
                .designer_info
                  .profile_picture
                    //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                    .pic(style="background-image: url(https://via.placeholder.com/100x100)")
                      img.size(src="images/size_1x1.png")
                    //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                  .text
                    h3.designer_name
                      //- i.icon_diamond_s
                      span Shirley Gibson
                    .country
                      img.flag(src="images/flag/flag_france.png")
                      span France
                    //- .tags
                    //-   span
                    //-     | #casual
                    //-   span
                    //-     | #comfy
        a.btn.common.more(href="designers.html")
          | All designers

  .what_next.page_block
    h2.block_title
      | What's Next
    .what_next_main.scrollbar_x
      .items
        each i inArray(3)
          .item
            .video_type
              .dot.red
              h3 Live Stream
              .mark_live
                | Live
            //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            .video.video_youtube
              iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            //↑ 如果是 youtube 的影片，class 要加 'video_youtube' ↑
          .item
            .video_type
              .dot.green
              h3 Summer Collection
              //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            .video.video_youtube
              iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            //↑ 如果是 youtube 的影片，class 要加 'video_youtube' ↑
          .item
            .video_type
              .dot.yellow
              h3 Pre Sale
            //↓ 如果是 youtube 的影片，class 要加 'video_youtube' ↓
            .video.video_youtube
              iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            //↑ 如果是 youtube 的影片，class 要加 'video_youtube' ↑

  .ads_banner
    .slide
      .pic
        img(src="images/img_ad_banner.jpg")
      //↓ 後台可設定網站五個顏色 ↓ -- bg_brown、bg_red、bg_purple、bg_blue、bg_green
      .text.bg_brown
        .text_inner
          .title SALE
          .subtitle 20% #[small off]
          p 2019 Summer Collection
          a.btn(href="javascript:;")
            | SHOP NOW
    .slide
      .pic
        img(src="https://via.placeholder.com/1920x710")
      //↓ 後台可設定網站五個顏色 ↓ -- bg_brown、bg_red、bg_purple、bg_blue、bg_green
      .text.bg_brown
        .text_inner
          .title SALE
          .subtitle 20% #[small off]
          p 2019 Summer Collection
          a.btn(href="javascript:;")
            | SHOP NOW

  .ootd_list_wrapper.page_block
    .block_inner.wide
      h2.block_title
        | OOTD Inspirations
      .block_main
        .ootd_list
          .grid_sizer
          .gutter_sizer
          //↓ 穿搭的list，15筆 ↓
          each i inArray(3)
            .item
              .item_inner
                //↓ 愛心加'active'，表示為有加入最愛 ↓
                a.btn_favorite.active(data-ootdId="ootd01", href="javascript:;")
                  i.icon_favorite_heart
                //↑ 愛心加'active'，表示為有加入最愛 ↑
                a(href="ootd_detail.html")
                  .thumb
                    img(src="images/img_ootd.jpg")
                  .text
                    h3
                      | The Best Street Style From Copen Fashion Week
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd02", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x587")
                  .text
                    h3
                      | Lorem ipsum dolor sit met, consectetur adipiscing text text
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd03", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x360")
                  .text
                    h3
                      | The Best Street Style From Copen Fashion Week
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd04", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x360")
                  .text
                    h3
                      | So strongly and metapcally did I conceiv.
            .item
              .item_inner
                a.btn_favorite(data-ootdId="ootd05", href="javascript:;")
                  i.icon_favorite_heart
                a(href="ootd_detail.html")
                  .thumb
                    img(src="https://via.placeholder.com/240x427")
                  .text
                    h3
                      | Keytar McSweeney's Williamsburg, readyma.
          //↑ 穿搭的list，15筆 ↑
        a.btn.common.more(href="ootd.html")
          | MORE

block js
  // build:js scripts/plugins/leaflet.js
  script(src="scripts/plugins/leaflet.js")
  script(src="scripts/plugins/leaflet.responsive.popup.js")
  script(src="scripts/plugins/Leaflet.fullscreen.js")
  // endbuild

  // build:js scripts/storeMap.js
  script(src="scripts/storeMap.js")
  // endbuild

  script.
    $(function() {
      // 開啟選擇語言和幣別的跳窗
      popupEntrance();

      // Map
      var streetImgs = {
        daymode: 'images/leaflet/street.png',
        nightmode: 'images/leaflet/street_night.png'
      };
      var streetStores = [];
      var currentStreetId;

      $.ajax({
        url: 'json/stores.json',
        dataType: 'json',
        error: function() {
          console.log('ajax error!')
        },
        success: function(data) {
          streetStores = data;

          var storeIcons = [];

          for(var i=0; i < streetStores.length; i++) {
            // Street Item
            var $streetLink = $('<a></a>').addClass('street_name').attr('href', 'javascript:;').attr('data-streetid', streetStores[i].id).text(streetStores[i].streetName);
            var $streetItem = $('<div></div>').addClass('item').append($streetLink);
            
            // First Street Item
            if(i == 0) {
              $streetItem.addClass('active');

              // 顯示街道資料
              streetIntro(streetStores[i]);
            }

            // 街道的商店設定
            if( streetStores[i].stores.length !== 0 ) {
              var $storeItems = $('<ul></ul>');

              for(j=0; j < streetStores[i].stores.length; j++) {
                // 商店的標點
                var store = streetStores[i].stores[j];
                var diamondhtml = (streetStores[i].stores[j].diamond) ? '<i class="icon_diamond_s"></i>' : '';
                var storeObj = {
                  storeId: store.id,
                  latlng: store.latlng,
                  storeName: store.storeName,
                  markerHtml: '<a href="javascript:;">' +
                    '<i class="store_icon"></i>' +
                  '</a>',
                  popupHtml: '<div class="map_popup">' +
                    '<div class="map_popup_inner">' +
                      '<div class="map_popup_head">' +
                        '<a class="brand_name" href="' + store.brandLink + '">' +
                          '<div class="brand_picture">' +
                            '<div class="pic" style="background-image: url(' +store.brandImg + ');">' + 
                              '<img class="size" src="images/size_1x1.png">' +
                            '</div>' +
                          '</div>' +
                          '<h2>' + store.storeName + '</h2>' +
                        '</a>' +
                        '<div class="address">' +
                          '<i class="icon_map_marker"></i>' +
                          '<span>' + 'No.' + store.number + ', ' + streetStores[i].streetName + '</span>' +
                        '</div>' +
                      '</div>' +
                      '<div class="map_popup_content">' +
                        '<div class="intro">' +
                          '<a class="designer_info" href="' + store.designerLink + '">' +
                            '<div class="profile_picture">' +
                              '<div class="pic" style="background-image: url(' +store.designerImg + ')">' +
                                '<img class="size" src="images/size_1x1.png">' +
                              '</div>' +
                            '</div>' +
                            '<h3 class="designer_name">' +
                              diamondhtml +
                              '<span class="name">' + store.designerName + '</span>' +
                              '<div class="divide_line"></div>' +
                              '<div class="country">' +
                                '<img class="flag" src="' + store.flag + '">' +
                                '<span class="country">' + store.country + '</span>' +
                              '</div>' +
                            '</h3>' +
                          '</a>' +
                          '<div class="text">' +  store.description + '</div>' +
                          '<a class="btn common more" href="' + store.productsLink + '">' + 'Products' + '</a>' +
                        '</div>' +
                        '<div class="picture">' +
                          '<div class="thumb">' +
                            '<div class="pic" style="background-image: url(' + store.brandPic + ')">' +
                              '<img class="size" src="images/size_4x3.png">' +
                            '</div>' +
                          '</div>' +
                        '</div>' +
                      '</div>' +
                    '</div>' +
                  '</div>'
                }
                storeIcons.push(storeObj);

                // Aside Store Item
                var $storeLink = $('<a></a>').addClass('store_name').attr('href', 'javascript:;').attr('data-storeid', store.id).text(store.storeName);
                var $storeItem = $('<li></li>').append($storeLink);
                $storeItems.append($storeItem);
              }

              // 街道塞入店家
              $streetItem.append($storeItems);
            }

            // Street Aside 塞入街道、店家
            $('#streetAside .street_list').append($streetItem);
          }
          
          // 設定地圖、加入商店的標點
          storeMap(streetImgs, storeIcons);

          // Street Aside Store List 加入捲軸
          $('#streetAside .street_list').mCustomScrollbar({
            theme: 'dark-3',
            axis: 'y',
            autoHideScrollbar: true
          });
        }
      });

      // Street Aside 的 click 設定
      $('#streetAside').on('click', '.open_aside', function(event) {
        $('#streetAside').addClass('isOpen');
      });
      $('#streetAside').on('click', '.close_aside', function (event) {
        $('#streetAside').removeClass('isOpen');
      });
      $('#streetAside .street_list').on('click', '.street_name', function (event) {
        $(this).parent('.item').siblings('.item').children('ul').stop().slideUp(function(event) {
          $(this).parent('.item').removeClass('active');
        });
        $(this).parent('.item').children('ul').stop().slideDown(function(event) {
          $(this).parent('.item').addClass('active');
        });

        var streetid = $(this).attr('data-streetId');
        if(streetid !== currentStreetId) {
          $.each(streetStores, function(i, item) {
            if( item.id == streetid ) {
              $('#streetStores .stores_slider').slick('unslick');
              $('#streetStores .stores_slider').empty();
              streetIntro(streetStores[i]);
            }
          });
        }
      });

      // 街道資料的顯示、切換
      function streetIntro(streetData) {
        currentStreetId = streetData.id;

        // Street Intro
        $('#streetStores .street_intro h2').text(streetData.streetName);
        $('#streetStores .street_intro h3').text(streetData.style);
        $('#streetStores .street_intro .text').text(streetData.streetDescription);

        // Street Stores Slider
        $('#streetStores .stores_slider').slick({
          speed: 500,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [
            {
              breakpoint: 1280,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 560,
              settings: {
                centerMode: true,
                centerPadding: '44px',
                slidesToShow: 1,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 370,
              settings: {
                centerMode: true,
                centerPadding: '20px',
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });

        for(var i=0; i < streetData.stores.length; i++) {
          var diamondhtml = (streetData.stores[i].diamond) ? '<i class="icon_diamond_s"></i>' : '';
          var slidehtml = '<div class="slide">' +
            '<a class="thumb" href="' + streetData.stores[i].productsLink + '">' +
              '<div class="pic" style="background-image: url(' + streetData.stores[i].brandPic + ');">' +
                '<img class="size" src="images/size_1x1.png" />' +
              '</div>' +
            '</a>' +
            '<div class="intro">' +
              '<h3 class="store_name">' +
                '<a href="' + streetData.stores[i].brandLink + '">' + streetData.stores[i].storeName + '</a>' +
              '</h3>' +
              '<a class="designer_info" href="' + streetData.stores[i].designerLink + '">' +
                '<div class="profile_picture">' +
                  '<div class="pic" style="background-image: url(' + streetData.stores[i].designerImg + ')">' +
                    '<img class="size" src="images/size_1x1.png" />' +
                  '</div>' +
                '</div>' +
                '<div class="designer_name">' +
                  diamondhtml +
                  '<img class="flag" src="' + streetData.stores[i].flag + '" />' +
                  '<span>' + streetData.stores[i].designerName + '</span>' +
                '</div>' +
              '</a>' +
            '</div>' +
          '</div>';

          $('#streetStores .stores_slider').slick('slickAdd', slidehtml);
        }
      }

      // OOTD 加入愛心的點擊事件
      $(document).on('click', '.btn_favorite', function(event) {
        // ootdId 取得穿搭的 ID
        var ootdId = $(this).attr('data-ootdId');

        if ($(this).hasClass('active')) {
          // 取消最愛寫這裡

          $(this).removeClass('active');
        } else {
          // 加入最愛寫這裡

          $(this).addClass('active');
        }
      });
    }); 