extends layouts/default.pug

block value
  - var currentUrl = 'memberReviews';

block main
  .member_center.page_block
    .block_inner
      .center_container.container
        .container_aside
          .aside_block
            .aside_menu.fold_block
              .fold
                .fold_title My Account
                .fold_content
                  ul
                    li
                      a(href="member_account.html") Account
                    li
                      a(href="member_history.html") Order History
                    li
                      a(href="member_points.html") My Points
                    li
                      a(href="member_gift.html") Gift Designer
                    li
                      a(href="member_model.html") Be VM Model
              hr
              .fold
                .fold_title My Style
                .fold_content
                  ul
                    li
                      a(href="member_favorite.html") My Favorite
                    li
                      a(href="member_style.html") Style Inpsiration
                    li
                      a.current(href="member_reviews.html") My Reviews
                    li
                      a(href="member_upcoming.html") Upcoming Events
        .container_main
          h1.block_title My Reviews
          .reviews_wrapper.has_thumb
            //↓ 一頁六篇 ↓
            each i inArray(2)
              .item
                .review
                  .review_picture
                    .thumb
                      .pic(style="background-image: url(https://source.unsplash.com/WcXxxQYp_aM/300x400);")
                        img.size(src="images/size_3x4.png")
                  .review_content
                    .product_name
                      | Drop-Shoulder A-Line Dress With Belt
                    .purchase_info.
                      Size: #[span L] &nbsp; &nbsp; &nbsp;Color: #[span White]
                    .rate_date
                      .rate_star.hide(data-rateyo-read-only="true")
                      .date
                        // 評價完成時顯示日期
                    .text
                      // 評價完成時顯示評語
                  //↓ data-reviewid 為評價 ID ↓
                  a.btn.common.popup_review(data-reviewid='011', href="popup_review.html")
                    | Review
                  //↑ data-reviewid 為評價 ID ↑
            each i inArray(2)
              .item
                .review
                  .review_picture
                    .thumb
                      .pic(style="background-image: url(images/img_product01.jpg);")
                        img.size(src="images/size_3x4.png")
                  .review_content
                    .product_name
                      | Drop-Shoulder A-Line Dress With Belt
                    .purchase_info.
                      Size: #[span L] &nbsp; &nbsp; &nbsp;Color: #[span White]
                    .rate_date
                      .rate_star(data-rateyo-read-only="true", data-rateyo-rating="5")
                      .date 2019.08.01
                    .text
                      | Nice! Comfort!
                .review.reply
                  .review_content
                    .user_info
                      .profile_picture
                        .pic(style="background-image: url(images/img_profile.jpg);")
                          img.size(src="images/size_1x1.png")
                      .title
                        .name Lily Allen
                        .divide_line
                        span Reply
                        .divide_line
                        span 2019.08.01
                    .text
                      | Thank you ：）
              .item
                .review
                  .review_picture
                    .thumb
                      .pic(style="background-image: url(https://source.unsplash.com/WcXxxQYp_aM/300x400);")
                        img.size(src="images/size_3x4.png")
                  .review_content
                    .product_name
                      | Drop-Shoulder C-Line Dress With Belt
                    .purchase_info.
                      Size: #[span L] &nbsp; &nbsp; &nbsp;Color: #[span White]
                    .rate_date
                      .rate_star(data-rateyo-read-only="true", data-rateyo-rating="4.5")
                      .date 2019.08.01
                    .text
                      | I am really pleased with this dress, I am 5' 1" and usually size 10, but size 8 fitted me well and the length is just fine on me and not too long. It could be worn as a summer dress to the office, or dressed up with heels for a smart evening out or afternoon tea. Lovely vibrant colours and nice flowing material. Very pleased - another great dress from Matalan at a very reasonable price.
            //↑ 一頁六篇 ↑
          .pager_bar
            .pages
              | Page 1 of 15
            ul.pager_navigation
              li.prev
                a(href="javascript:;") &lt; Previous
              li.current
                a(href="javascript:;") 1
              li
                a(href="javascript:;") 2
              li
                a(href="javascript:;") 3
              li
                a(href="javascript:;") 4
              li
                a(href="javascript:;") 5
              li.next
                a(href="javascript:;") Next &gt;

block js
  script.
    $(function() {
      $('.popup_review').magnificPopup({
        type: 'ajax',
        callbacks: {
          ajaxContentAdded: function() {
            var $popupItem = this.st.el, //取得開啟 popup 的 button
                $rateStar = $popupItem.parents('.review').find('.rate_star'),
                $date = $popupItem.parents('.review').find('.date'),
                $commentMsg = $popupItem.parents('.review').find('.text'),
                reviewID = $popupItem.attr('data-reviewid');

            // Edit Star Init
            $('#reviewStar').rateYo({
              starWidth: '18px',
              spacing: '5px',
              halfStar: true,
              normalFill: '#FFFFFF',
              ratedFill: '#CEB685',
              starSvg: '<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns: xlink = "http://www.w3.org/1999/xlink" >' +
                '<path stroke="#CEB685" d="M13.5814958,11.3522884 L14.3257952,15.6308479 C14.3632805,15.8461616 14.2785781,16.0518821 14.0990812,16.1805018 C13.9192239,16.3087662 13.6953934,16.3243995 13.4989561,16.2234935 L9.600846,14.2028849 C9.4130591,14.1058872 9.20616911,14.0568553 9,14.0568553 C8.79383089,14.0568553 8.58730134,14.1058872 8.399154,14.2032402 L4.50176478,16.2234935 C4.30460655,16.3243995 4.0807761,16.3087662 3.90127921,16.1805018 C3.72178233,16.0518821 3.63744041,15.8465169 3.67456527,15.6308479 L4.41886461,11.3522884 C4.49059128,10.9394262 4.3518236,10.5180368 4.04761603,10.2259776 L0.893805278,7.19559776 C0.734853216,7.04281744 0.680787889,6.82750378 0.749631072,6.61965149 C0.81811382,6.41144389 0.99004156,6.26861206 1.20954679,6.23699008 L5.5675726,5.61272259 C5.98820084,5.55267637 6.35188027,5.29259452 6.53966718,4.91668388 L8.488542,1.02362814 C8.58658046,0.827500849 8.77797172,0.710606139 8.99963956,0.710606139 C9.22166784,0.710606139 9.41269866,0.827500849 9.51109756,1.02362814 L11.4599724,4.91668388 C11.6477593,5.29259452 12.0110783,5.55267637 12.4317065,5.61272259 L16.7900928,6.23699008 C17.009598,6.26861206 17.1815257,6.41144389 17.2500085,6.61965149 C17.3184912,6.82750378 17.2647863,7.04281744 17.1058343,7.19559776 L13.952384,10.2256223 C13.6481764,10.5180368 13.5094087,10.9390709 13.5814958,11.3522884 Z"></path>' +
              '</svg >',
              onSet: function (rating, rateYoInstance) {
                if( $(this).parent('.controls').hasClass('error') & rating > 0) {
                  $(this).parent('.controls').removeClass('error');
                } else if (rating == 0) {
                  $(this).parent('.controls').addClass('error');
                }
              }
            });

            // 儲存review
            $('#saveBtn').on('click', function() {
              var rating = $('#reviewStar').rateYo('rating'),
                  comment = $('#reviewComment').val().replace(/\r?\n/g, '<br />').replace(/\s+/g, ' ');
              var date = new Date(),
                  month = date.getMonth()+1,
                  day = date.getDate(),
                  today = date.getFullYear() + '.' +
                    (('' + month).length < 2 ? '0' : '') + month + '.' +
                    (('' + day).length < 2 ? '0' : '') + day;

              if ( rating == 0 ) {
                $('#reviewStar').parent('.controls').addClass('error');
              } else {
                // 在這裡傳值給後端
                // reviewID: 評分Id; rating: 評分星數; comment: 評論內容;
                // date: 含時區的日期資料

                $rateStar.rateYo('rating', rating).removeClass('hide');
                $date.text(today);
                $commentMsg.html(comment);
                
                $popupItem.remove();
                $.magnificPopup.close();
              }
            });
          }
        }
      });
    });