extends layouts/default.pug

block value
  - var currentUrl = 'policy';

block main
  .page_banner
    img(src="images/banner_company.jpg")
  .company_block.page_block
    .block_inner
      h1.block_title Terms and Policy
      .block_main
        .words
          p Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio. Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum ullamcorper est sit amet, molestie mollis nul.
          p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien sollicitudin lacinia lacinia. Vivamus facilisis dolor et massa placerat, at vestibulum nisl egestas. Nullam rhoncus lacus non odio luctus, eu condimentum mauris ultrices. Praesent blandit, augue a posuere aliquam, arcu tortor feugiat turpis, qui.
        .social_links
          | Connect with us:
          a(href="javascript:;", target="_blank")
            i.icon_share_facebook
          a(href="javascript:;", target="_blank")
            i.icon_share_instagram
          a(href="javascript:;", target="_blank")
            i.icon_share_pinterest
          a(href="javascript:;", target="_blank")
            i.icon_share_twitter
          a(href="javascript:;", target="_blank")
            i.icon_share_youtube
          a(href="javascript:;", target="_blank")
            i.icon_share_weibo