.popup_block
  //↓ 若為單一影片，不顯示上下頁控制項 ↓
  .popup_pager_controls
    //- a.prev(href="javascript:;")
    //-   i.icon_prev_popup
    //- a.next(href="javascript:;")
    //-   i.icon_next_popup
  //↑ 若為單一影片，不顯示上下頁控制項 ↑
  .popup_inner.popup_media
    .popup_slider
      .slide
        img(src="images/img_product01_showcase_big.jpg")
      .slide
        img(src="https://via.placeholder.com/600x800")
      .slide
        iframe(width="560", height="315", src="https://www.youtube.com/embed/-pPHyof98kk", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
      .slide
        img(src="https://via.placeholder.com/600x800")
      .slide
        iframe(width="560", height="315", src="https://www.youtube.com/embed/-pPHyof98kk", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)