.popup_block
  //↓ 若為單一影片，不顯示上下頁控制項 ↓
  .popup_pager_controls
    a.prev(href="javascript:;")
      i.icon_prev_popup
    a.next(href="javascript:;")
      i.icon_next_popup
  //↑ 若為單一影片，不顯示上下頁控制項 ↑
  .popup_inner.popup_video.fit_video
    iframe(width="560", height="315", src="https://www.youtube.com/embed/FbjUyCDrHI0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)