.popup_block
  .popup_inner.popup_form.popup_makeWish
    h2.block_title.has_icon
      span
        i.icon_meteor_left
        | Make a Wish
        i.icon_meteor_right
    .text.
      Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
    form.form_wrapper
      .controls_group
        label Subject
        .controls
          input(type="text", placeholder="Title")
      .controls_group
        label Your Wish
        .controls
          textarea(placeholder="Make a wish, we will realize it for you…")
      .call_action
        button.btn.common.popup_modal_dismiss(type="smbmit") Send