.popup_block
  //↓ 若為單一照片，不顯示上下頁控制項 ↓
  .popup_pager_controls
    a.prev(href="javascript:;")
      i.icon_prev_popup
    a.next(href="javascript:;")
      i.icon_next_popup
  //↑ 若為單一照片，不顯示上下頁控制項 ↑
  .popup_inner.popup_media
    img(src="https://source.unsplash.com/TS--uNw-JqE/685x385")