.popup_block.bg_gray
  .popup_inner.popup_remittanceAccount
    h2.block_title
      | Remittance Account
    table.order_table
      tr
        th Order Number
        td No.2093574395
      tr
        th Date
        td 2019/09/05
      tr
        th Total
        td #[span.font_red NT $32800]
      tr
        th Bank Code
        td 700
      tr
        th Bank Account
        td 220000394866608