.popup_block.popup_create
  .popup_inner
    .popup_create_form
      .create_form_inner
        h2.block_title
          | Join us
        .form_wrapper
          .controls_group
            label Account
            .controls
              input(type="email", placeholder="Email")
          .controls_group
            label Password
            .controls
              input(type="password", placeholder="Password")
          .controls_group
            label Password Confirmed
            .controls
              input(type="password", placeholder="Password")
          .call_action
            button.btn Sign Up
    .popup_create_picture
      .thumb
        .pic(style="background-image: url(images/img_popup_create.jpg)")
          img.size(src="images/size_1x1.png")