.popup_block
  .popup_inner.popup_form.just_for_you
    h2.block_title.has_icon
      span
        i.icon_just_for_you
        | Just for you
    .text.
      Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit.
    .form_wrapper
      .controls_group
        label Your Name
        .controls
          input(type="text")
      .controls_group
        label Contact Email
        .controls
          input(type="email")
      .controls_group
        label A made to order function
        .controls
          textarea(placeholder="Hello! Leave a message…")
      .call_action
        button.btn.common Send