extends layouts/default.pug

block value
  - var currentUrl = 'women';

block main
  .breadcrumbs
    .breadcrumbs_inner
      a(href="products.html") Women
      span /
      a(href="products.html") Clothing
      span /
      a(href="products.html") Dresses
      span /

  .products_showcase.page_block
    .block_inner
      .showcase_slider_wrapper
        .showcase_nav
          .slide
            .thumb
              .pic(style="background-image: url(images/img_product01.jpg)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb
              .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb.is_video
              .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                img.size(src="images/size_3x4.png")
        .showcase_slider
          .slide
            .thumb
              .pic(style="background-image: url(images/img_product01_showcase.jpg)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb
              .pic(style="background-image: url(https://via.placeholder.com/470x627)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb.is_video
              .pic(style="background-image: url(https://via.placeholder.com/470x627)")
                img.size(src="images/size_3x4.png")