extends layouts/default.pug

block value
  - var currentUrl = 'women';

block main
  .breadcrumbs.pb_none
    .breadcrumbs_inner
      a(href="products.html") Women
      span /
      a(href="products.html") Clothing
      span /
      a(href="products.html") Dresses
      span /

  .product_showcase.page_block
    .block_inner
      .showcase_slider_wrapper
        .showcase_nav
          .slide
            .thumb
              .pic(style="background-image: url(images/img_product01.jpg)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb
              .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb.is_video
              .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb
              .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                img.size(src="images/size_3x4.png")
          .slide
            .thumb.is_video
              .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                img.size(src="images/size_3x4.png")
        .showcase_slider
          .slide
            a.thumb.popup(href="popup_products.html", data-index="0")
              .pic(style="background-image: url(images/img_product01_showcase.jpg)")
                img.size(src="images/size_3x4.png")
          .slide
            a.thumb.popup(href="popup_products.html", data-index="1")
              .pic(style="background-image: url(https://via.placeholder.com/470x627)")
                img.size(src="images/size_3x4.png")
          .slide
            a.thumb.is_video.popup(href="popup_products.html", data-index="2")
              .pic(style="background-image: url(https://via.placeholder.com/470x627)")
                img.size(src="images/size_3x4.png")
          .slide
            a.thumb.popup(href="popup_products.html", data-index="3")
              .pic(style="background-image: url(https://via.placeholder.com/470x627)")
                img.size(src="images/size_3x4.png")
          .slide
            a.thumb.is_video.popup(href="popup_products.html", data-index="4")
              .pic(style="background-image: url(https://via.placeholder.com/470x627)")
                img.size(src="images/size_3x4.png")
        .share_links
          | Share
          a.facebook(href="javascript:;", target="_blank")
            i.icon_share_facebook
          a.pinterest(href="javascript:;", target="_blank")
            i.icon_share_pinterest
      .showcase_content
        h1.product_title
          | PRINTED MINI DRESS
        .product_intro
          | Printed silk dress with aquatic flower motif
        .product_price
          | $2,880
          //↓ 如果是Sale 使用這個 ↓
          //
            <span class="strikethrough">$2,880</span>
            <span class="sale_price">$1,990</span>
          //↑ 如果是Sale 使用這個 ↑
        .products_sku
          .controls_group
            label Size
            .controls
              .select_wrapper
                select
                  option S
                  option M
                  option L
              .note (size guide)
          .controls_group
            label Color
            .controls
              .select_wrapper
                select
                  option Select a color
                  option Blue
                  option Red
          .controls_group
            label Quantity
            .controls
              .quantity_counter
                button.minus(type="button") －
                input.quantity(type="number", value="1", min="1", readOnly="true")
                button.plus(type="button") ＋
          .call_action
            button.btn.confirm(type="button") Add to cart
            //↓ 如果是預購改用這個 button ↓
            // <button class="btn" type="button">Preorder Now</button>
            //↑ 如果是預購改用這個 button ↑
            //↓ class 加 'active' 表示加入最愛 ↓
            a.btn_favorite(href="javascript:;", data-productId="product001", title="Favorite")
              i.icon_favorite_heart
            //↑ class 加 'active' 表示加入最愛 ↑
        .products_fold.fold_block
          .fold
            .fold_title Product Details
            .fold_content
              ul
                li As seen in the Spring Summer '20 lookbook, pair with white strappy sandals to complete the look
                li Ruffled hem, puffed sleeves, mini length, lined
                li Zipper fastening and hook &amp; eye closure
                li Composition: 100% rayon light
                li Hand-wash &amp; rinse in cold water, dry flat or tumble dry, do not bleach or dry clean
          .fold
            .fold_title Shipping &nbsp; Returns
            .fold_content
              | Returnable within 14 days of delivery date. Return Policy
              br
              | Free shipping available worldwide. Check our shipping policy to see your countries minimum order requirement. Shipping Policy.

  .product_detail_reviews.page_block
    .block_inner
      .tabber_wrapper
        .tabber-selectors
          .sort_menu
            ul
              li
                a.tabber-anchor.active(href="javascript:;") Product Detail
              li
                a.tabber-anchor(href="javascript:;") Reviews
        .tabber-contents
          .tabber-content.active
            .product_detail
              img(src="images/img_product_detail.jpg")
          .tabber-content
            .product_reviews
              .reviews_title
                span.score 4.8
                .rate_star(data-rateyo-read-only="true", data-rateyo-star-width="24px", data-rateyo-rating="4.5")
                span.count (32 Reviews)
              .reviews_wrapper
                each i inArray(5)
                  .item
                    .review
                      .review_content
                        .user_info
                          .profile_picture
                            .pic(style="background-image: url(https://source.unsplash.com/JQDflNNnrEE/100x100);")
                              img.size(src="images/size_1x1.png")
                          .title
                            .name Lily Allen
                        .purchase_info.
                          Size: #[span L] &nbsp; &nbsp; &nbsp;Color: #[span White]
                        .rate_date
                          .rate_star(data-rateyo-read-only="true", data-rateyo-rating="5")
                          .date 2019.08.01
                        .text
                          | Nice! Comfort!
                    .review.reply
                      .review_content
                        .user_info
                          .profile_picture
                            .pic(style="background-image: url(images/img_profile.jpg);")
                              img.size(src="images/size_1x1.png")
                          .title
                            .name Lily Allen
                            .divide_line
                            span Reply
                            .divide_line
                            span 2019.08.01
                        .text
                          | Thank you ：）
                  .item
                    .review
                      .review_content
                        .user_info
                          .profile_picture
                            .pic(style="background-image: url(https://source.unsplash.com/6W4F62sN_yI/100x100);")
                              img.size(src="images/size_1x1.png")
                          .title
                            .name Ann Li
                        .purchase_info.
                          Size: #[span M] &nbsp; &nbsp; &nbsp;Color: #[span Black]
                        .rate_date
                          .rate_star(data-rateyo-read-only="true", data-rateyo-rating="4.5")
                          .date 2019.08.01
                        .text
                          | I am really pleased with this dress, I am 5' 1" and usually size 10, but size 8 fitted me well and the length is just fine on me and not too long. It could be worn as a summer dress to the office, or dressed up with heels for a smart evening out or afternoon tea. Lovely vibrant colours and nice flowing material. Very pleased - another great dress from Matalan at a very reasonable price.
              .pager_bar
                .pages
                  | Page 1 of 15
                ul.pager_navigation
                  li.prev
                    a(href="javascript:;") &lt; Previous
                  li.current
                    a(href="javascript:;") 1
                  li
                    a(href="javascript:;") 2
                  li
                    a(href="javascript:;") 3
                  li
                    a(href="javascript:;") 4
                  li
                    a(href="javascript:;") 5
                  li.next
                    a(href="javascript:;") Next &gt;

  .product_about
    .designer_banner.banner_slider
      .slide
        img(src="images/banner_designer.jpg", alt="")
      .slide
        img(src="https://via.placeholder.com/1920x826", alt="")
      .slide
        img(src="https://via.placeholder.com/1920x826", alt="")
    .tabber_wrapper
      .tabber-selectors
        .sort_menu
          ul
            li
              a.tabber-anchor.active(href="javascript:;") About Designer
            li
              a.tabber-anchor(href="javascript:;") Manufacture
            li
              a.tabber-anchor(href="javascript:;") Fabric
      .tabber-contents
        .tabber-content.active
          .product_about_designer
            .designer_introduction
              .intro_content
                .designer_info
                  .profile_picture
                    //↓ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                    .pic(style="background-image: url(images/img_profile.jpg")
                      img.size(src="images/size_1x1.png")
                    //↑ 1:1，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                  .text
                    .designer_name
                      //↓ 知名設計才會有鑽石icon ↓
                      i.icon_diamond_b
                      //↑ 知名設計才會有鑽石icon ↑
                      span Douglas Robinson
                .intro_text
                  p Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage. Chillwave craft beer tote bag stumptown quinoa hashtag. Dreamcatcher locavore iPhone chillwave, occupy trust fund slow-carb distillery art party narwhal.
                a.btn.common(href="designer_home.html")
                  | view more
                hr
                h2.subtitle Brand Name
                .intro_text
                  p Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage. Chillwave craft beer tote bag stumptown quinoa hashtag. Dreamcatcher locavore iPhone chillwave, occupy trust fund slow-carb distillery art party narwhal.
                a.btn.common(href="brand_story.html")
                  | brand story
              .intro_image
                .thumb
                  //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                  .pic(style="background-image: url(images/img_designer.jpg);")
                    img.size(src="images/size_3x4.png")
                  //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
            .latest_post
              h2.subtitle Latest Post
              .post_bolck_wrapper
                .post_block
                  .post_main
                    .post_content
                      h3.post_title The Best Street Style From Copenhagen Fashion Week
                      time.date 2019.09.09 23:48
                      .text.
                        Following the cancellation of Stockholm Fashion Week’s latest season, to allow the Swedish Fashion Council to find more sustainable alternatives, all eyes have been on its Danish neighbour.
                    .post_media
                      a.thumb.popup(href="popup_media.html")
                        .pic(style="background-image: url(https://source.unsplash.com/TS--uNw-JqE/400x225);")
                          img.size(src="images/size_16x9.png")
                  .comments_block
                    .comments_title
                      i.icon_msg
                      h2 2 comments
                      i.arrow_down
                    .comments_content
                      .comments_form
                        .profile_picture
                          .pic(style="background-image: url(https://source.unsplash.com/rDEOVtE7vOs/100x100);")
                            img.size(src="images/size_1x1.png")
                        .controls
                          input(type="text", placeholder="Leave us a message...")
                          button(type="button") Send
                      .comments_messages
                        .item
                          .msg
                            .profile_picture
                              .pic(style="background-image: url(https://source.unsplash.com/JQDflNNnrEE/100x100);")
                                img.size(src="images/size_1x1.png")
                            .msg_content
                              .title
                                .name Lily Allen
                                .divide_line
                                .time 2019.08.01 18:05
                              .text
                                | Donec facilisis tortor ut augue.
                          .msg.reply
                            .profile_picture
                              .pic(style="background-image: url(images/vm_profile_pic.jpg);")
                                img.size(src="images/size_1x1.png")
                            .msg_content
                              .title
                                .name Reply
                                .divide_line
                                .time 2019.08.01 18:05
                              .text
                                | Cras quis.
                        .item
                          .msg
                            .profile_picture
                              .pic(style="background-image: url(images/img_member_noPic.jpg);")
                                img.size(src="images/size_1x1.png")
                            .msg_content
                              .title
                                .name Annie ELe
                                .divide_line
                                .time 2019.08.01 18:05
                              .text
                                | Keytar McSweeney's Williamsburg,.
                      a.open_comments(href="javascript:;")
                        | See more comments
                .post_block
                  .post_main
                    .post_content
                      h3.post_title A Cotton Dress And Trainers Is The Unofficial Uniform Of Copenhagen Fashion Week
                      time.date 2019.09.09 23:48
                      .text.
                        Following the cancellation of Stockholm Fashion Week’s latest season, to allow the Swedish Fashion Council to find more sustainable alternatives, all eyes have been on its Danish neighbour.
                  .comments_block
                    .comments_title
                      i.icon_msg
                      h2 comments
                      i.arrow_down
                    .comments_content
                      .comments_form
                        .profile_picture
                          .pic(style="background-image: url(https://source.unsplash.com/rDEOVtE7vOs/100x100);")
                            img.size(src="images/size_1x1.png")
                        .controls
                          input(type="text", placeholder="Leave us a message...")
                          button(type="button") Send
                      .comments_messages
                        // 沒有留言
                      //↓ 沒有留言不顯示 ↓
                      //
                        <a class="open_comments" href="javascript:;">See more comments</a>
                      //↑ 沒有留言不顯示 ↑
                .post_block
                  .post_main
                    .post_content
                      h3.post_title The Best Street Style From Copenhagen Fashion Week
                      time.date 2019.09.09 23:48
                      .text.
                        Following the cancellation of Stockholm Fashion Week’s latest season, to allow the Swedish Fashion Council to find more sustainable alternatives, all eyes have been on its Danish neighbour.
                    .post_media
                      a.thumb.has_more.popup(href="popup_media.html")
                        .pic(style="background-image: url(https://source.unsplash.com/P3pI6xzovu0/400x225);")
                          img.size(src="images/size_16x9.png")
                        .btn.common
                          | More +
                  .comments_block
                    .comments_title
                      i.icon_msg
                      h2 2 comments
                      i.arrow_down
                    .comments_content
                      .comments_form
                        .profile_picture
                          .pic(style="background-image: url(https://source.unsplash.com/rDEOVtE7vOs/100x100);")
                            img.size(src="images/size_1x1.png")
                        .controls
                          input(type="text", placeholder="Leave us a message...")
                          button(type="button") Send
                      .comments_messages
                        .item
                          .msg
                            .profile_picture
                              .pic(style="background-image: url(https://source.unsplash.com/JQDflNNnrEE/100x100);")
                                img.size(src="images/size_1x1.png")
                            .msg_content
                              .title
                                .name Lily Allen
                                .divide_line
                                .time 2019.08.01 18:05
                              .text
                                | Donec facilisis tortor ut augue.
                          .msg.reply
                            .profile_picture
                              .pic(style="background-image: url(images/vm_profile_pic.jpg);")
                                img.size(src="images/size_1x1.png")
                            .msg_content
                              .title
                                .name Reply
                                .divide_line
                                .time 2019.08.01 18:05
                              .text
                                | Cras quis.
                        .item
                          .msg
                            .profile_picture
                              .pic(style="background-image: url(images/img_member_noPic.jpg);")
                                img.size(src="images/size_1x1.png")
                            .msg_content
                              .title
                                .name Annie ELe
                                .divide_line
                                .time 2019.08.01 18:05
                              .text
                                | Keytar McSweeney's Williamsburg,.
                      a.open_comments(href="javascript:;")
                        | See more comments
              a.btn.common.more(href="designer_home.html")
                | view more
        .tabber-content
        .tabber-content
  
  .product_related_wrapper.page_block.bg_gray
    .block_inner
      h2.block_title You may also like
      .product_list_slider
        .slide
          a.slide_inner(href="product_detail.html")
            .thumb
              .pic(style="background-image: url(images/img_product01.jpg)")
                img.size(src="images/size_3x4.png")
            h3 Lemite - Sleeveless Eyelet-Lace Dress
            .price
              | NT$ 98800
        each i inArray(7)
          .slide
            a.slide_inner(href="product_detail.html")
              .thumb
                .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                  img.size(src="images/size_3x4.png")
              h3 Lemite - Sleeveless Eyelet-Lace Dress
              .price
                | NT$ 98800

  .product_related_wrapper.page_block
    .block_inner
      h2.block_title Recently viewed
      .product_list_slider
        .slide
          a.slide_inner(href="product_detail.html")
            .thumb
              .pic(style="background-image: url(images/img_product01.jpg)")
                img.size(src="images/size_3x4.png")
            h3 Lemite - Sleeveless Eyelet-Lace Dress
            .price
              | NT$ 98800
        each i inArray(7)
          .slide
            a.slide_inner(href="product_detail.html")
              .thumb
                .pic(style="background-image: url(https://via.placeholder.com/300x400)")
                  img.size(src="images/size_3x4.png")
              h3 Lemite - Sleeveless Eyelet-Lace Dress
              .price
                | NT$ 98800

block js
  script.
    $(function() {
      // 愛心的點擊事件
      $(document).on('click', '.btn_favorite', function(event) {
        // productId 取得設計師的 ID
        var productId = $(this).attr('data-productId');

        if ($(this).hasClass('active')) {
          // 取消最愛寫這裡

          $(this).removeClass('active');
        } else {
          // 加入最愛寫這裡

          $(this).addClass('active');
        }
      });
    });