@include susy-breakpoint(1024px, 12) {
  // Container
  .container {
    display: flex;
    .container_main {
      flex: 0 0 auto;
      margin-bottom: 0;
    }
    .container_aside {
      flex: 0 0 auto;
    }
  }

  // Index
  .ads_banner {
    .slide {
      .text {
        .title {
          font-size: 4em;
        }
        .subtitle {
          font-size: 3.5em;
        }
        p {
          font-size: 1.5em;
        }
      }
    }
  }
  .ootd_list_wrapper {
    .ootd_list {
      .grid_sizer,
      .item {
        width: 23.5%;
      }
    }
  }
  
  // OOTD
  .ootd_detail_wrapper {
    .container {
      justify-content: space-between;
      .container_main {
        width: calc(100% - 250px - 2.5em);
        max-width: 860px;
      }
      .container_aside {
        width: 250px;
      }
    }
  }
  .aside_related_products {
    .title {
      margin-bottom: 1.5em;
    }
    .slider {
      .slide {
        padding: 0.75em 0;
      }
      .slick-prev,
      .slick-next {
        width: 30px;
        height: 10px;
        top: auto;
        transform: translate(-50%, 0);
        &:before {
          width: 30px;
          height: 10px;
        }
      }
      .slick-prev {
        top: -10px;
        left: 50%;
        &:before {
          @include retina-sprite($arrow-slider-prev-v-group);
        }
      }
      .slick-next {
        bottom: -10px;
        left: 50%;
        right: auto;
        &:before {
          @include retina-sprite($arrow-slider-next-v-group);
        }
      }
    }
  }

  // Topping Block
  .topping_block {
    .topping_list {
      .item {
        padding-bottom: 0;
        border-bottom: none;
      }
      .item_content {
        display: flex;
        .thumb {
          flex: 0 0 auto;
          display: block;
          margin-right: 1.5em;
        }
        .intro {
          flex: 1 1 auto;
          border-bottom: 1px solid $gray-light;
        }
        .intro_inner {
          padding: 1.5em 0;
        }
      }
    }
  }

  // Designer
  .designer_topping {
    .topping_header {
      width: 45%;
    }
    .designer_topping_list {
      .btn_favorite {
        top: 2.5em;
      }
      .item_content {
        .thumb {
          width: 31.8979266347687%;
        }
      }
    }
  }
}