@include susy-breakpoint(1024px, 12) {
  // Container
  .container {
    display: flex;
    .container_main {
      flex: 0 0 auto;
      margin-bottom: 0;
    }
    .container_aside {
      flex: 0 0 auto;
    }
  }

  // Aside
  .aside_block {
    .aside_title {
      margin-bottom: 1.5em;
    }
  }

  // Index
  #storeMap {
    height: 48vw;
    max-height: calc(100vh - 150px - 44px - 4em);
    .leaflet-popup {
      .leaflet-popup-close-button {
        top: 0.5625rem;
        right: 0.5625rem;
        padding: 0;
      }
    }
    .map_popup {
      width: 780px;
      height: 420px;
      padding: 2rem;
      .map_popup_head {
        margin-bottom: 1.5rem;
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
  .ads_banner {
    .slide {
      .text {
        .title {
          font-size: 4em;
        }
        .subtitle {
          font-size: 3.5em;
        }
        p {
          font-size: 1.5em;
        }
      }
    }
  }
  .ootd_list_wrapper {
    .ootd_list {
      .grid_sizer,
      .item {
        width: 23.5%;
      }
    }
  }
  
  // OOTD
  .detail_wrapper {
    .container {
      justify-content: space-between;
      .container_main {
        width: calc(100% - 250px - 2.5em);
        max-width: 860px;
      }
      .container_aside {
        width: 250px;
      }
    }
  }
  .comments_block {
    &.message_block {
      .comments_messages {
        .item {
          padding: 1em 3em;
        }
      }
    }
  }
  .aside_products_slider {
    .slide {
      padding: 0.75em 0;
    }
    .slick-prev,
    .slick-next {
      width: 30px;
      height: 10px;
      top: auto;
      transform: translate(-50%, 0);
      &:before {
        width: 30px;
        height: 10px;
      }
    }
    .slick-prev {
      top: -10px;
      left: 50%;
      &:before {
        @include retina-sprite($arrow-slider-prev-v-group);
      }
    }
    .slick-next {
      bottom: -10px;
      left: 50%;
      right: auto;
      &:before {
        @include retina-sprite($arrow-slider-next-v-group);
      }
    }
  }

  // Topping Block
  .topping_block {
    .topping_list {
      .item {
        padding-bottom: 0;
        border-bottom: none;
      }
      .item_content {
        display: flex;
        .thumb {
          flex: 0 0 auto;
          display: block;
          margin-right: 1.5em;
        }
        .intro {
          flex: 1 1 auto;
          border-bottom: 1px solid $gray-light;
        }
      }
    }
  }

  // List Items
  .list_items_wrapper {
    .list_items {
      .item {
        width: 25%;
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1)~.item {
          padding-bottom: 2em;
          margin-bottom: 2em;
          border-bottom: 1px solid $khaki-lightest;
        }
        &:nth-last-child(-n+4):nth-child(4n+1),
        &:nth-last-child(-n+4):nth-child(4n+1)~.item {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }

  // Designer
  .designer_topping {
    .topping_header {
      width: 45% !important;
    }
    .designer_topping_list {
      .btn_favorite {
        top: 1.875em;
      }
      .item_content {
        .thumb {
          width: 31.8979266347687%;
        }
        .intro_inner {
          padding: 0.875em 0;
        }
      }
    }
  }

  // Brand
  .brand_topping {
    .brand_topping_header {
      .header_content {
        h3 {
          font-size: 1.875em;
        }
      }
    }
    .brand_topping_list {
      .item_content {
        .thumb {
          width: 38.3333333333333%;
        }
        .intro {
          padding-bottom: 0.8em;
        }
      }
    }
  }
  .brandStory_topping {
    .topping_header {
      width: 60% !important;
      margin-right: 2.5em !important;
    }
  }

  // Event
  .event_topping {
    .event_topping_header {
      .header_content {
        h3 {
          font-size: 1.875em;
        }
      }
    }
    .event_topping_list {
      .item_content {
        .thumb {
          width: 38.3333333333333%;
        }
        .intro {
          padding-bottom: 0.8em;
        }
        p {
          margin-top: 1.25em;
        }
      }
    }
  }
  .aside_other_events {
    white-space: normal;
    .item {
      display: block;
      width: 100%;
      margin: 0 0 1.875em;
      a {
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
}

@include susy-breakpoint(1232px, 12) {
  // Products List
  .products_list {
    .item {
      width: calc((100% - 1.875em * 3) / 4);
      margin-right: 1.875em;
      &:nth-child(2n) {
        margin-right: 1.875em;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-last-child(-n+4):nth-child(4n+1),
      &:nth-last-child(-n+4):nth-child(4n+1)~.item {
        margin-bottom: 0;
      }
    }
  }

  // Brand
  .brandStory_wall {
    .wall_words {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 27.7777777777778vw;
      padding: 1.85em 3.125em;
    }
    .designer_link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 25.8333333333333vw;
      h3 {
        font-size: 2.5em;
      }
    }
  }
  .related_post {
    .related_post_list {
      .item {
        width: calc((100% - 1.875em * 2) / 3);
        margin-right: 1.875em;
      }
    }
  }
}