@include susy-breakpoint(1280px, 12) {
  // Block
  .page_block {
    padding: 4em 1em;
  }

  // Index
  .top_designers_slider {
    padding: 0;
    .slick-prev {
      left: calc(-1.125rem);
    }
    .slick-next {
      right: calc(-1.125rem);
    }
  }
  .ads_banner {
    .slide {
      .text {
        .title {
          font-size: 6em;
        }
        .subtitle {
          margin-bottom: 1.875rem;
          font-size: 4.5em;
        }
        p {
          margin-bottom: 3rem;
          font-size: 1.75em;
        }
      }
    }
  }
}

@include susy-breakpoint(1366px, 12) {
  .ootd_list_wrapper {
    .ootd_list {
      .grid_sizer,
      .item {
        width: 18.4%;
      }
    }
  }
}