@include susy-breakpoint(1280px, 12) {
  // Block
  .page_block {
    padding: 3.5em 1em;
  }

  // Index
  #storeMap {
    height: 48vw;
    max-height: calc(100vh - 150px - 44px);
    .leaflet-tooltip {
      display: block;
    }
  }
  #mapSky {
    left: 0;
    width: 100%;
  }
  #streetStores {
    .street_intro {
      width: 32%;
    }
    .stores_slider {
      width: 68%;
    }
  }
  .top_designers_slider {
    padding: 0;
    .slick-prev {
      left: -1.125rem;
    }
    .slick-next {
      right: -1.125rem;
    }
  }
  .ads_banner {
    .slide {
      .text {
        .title {
          font-size: 6em;
        }
        .subtitle {
          margin-bottom: 1.875rem;
          font-size: 4.5em;
        }
        p {
          margin-bottom: 3rem;
          font-size: 1.75em;
        }
      }
    }
  }

  // Topping Block
  .topping_block {
    .topping_list {
      .item {
        margin-bottom: 1.375em;
      }
    }
  }

  // List Slider
  .list_slider_wrapper {
    .list_slider {
      padding: 0;
      .slick-prev {
        left: -1.125rem;
      }
      .slick-next {
        right: -1.125rem;
      }
    }
  }

  // List Items
  .list_items_wrapper {
    .list_items {
      .item {
        width: 20%;
        &:nth-last-child(-n+4):nth-child(4n+1),
        &:nth-last-child(-n+4):nth-child(4n+1)~.item {
          padding-bottom: 2em;
          margin-bottom: 2em;
          border-bottom: 1px solid $khaki-lightest;
        }
        &:nth-last-child(-n+5):nth-child(5n+1),
        &:nth-last-child(-n+5):nth-child(5n+1)~.item {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
  
  // Designer
  .designer_card {
    .card_content {
      .intro {
        padding: 1.5em 2.25em;
      }
    }
  }
  .designer_topping {
    .topping_header {
      margin-right: 2.25em;
    }
  }
  .designer_header {
    .designer_info {
      .designer_name {
        span {
          font-size: 2.25rem;
        }
      }
    }
  }
  .designer_about {
    &.page_block {
      padding-top: 4.5em;
    }
    .designer_about_image {
      &:before {
        top: -1.5em;
        left: -1.5em;
      }
    }
  }
  .designer_event {
    .event_video {
      margin-top: -3.5em;
      margin-bottom: -3.5em;
    }
  }
  .designer_hometown {
    margin: 3.5em 0;
  }
  .designer_event {
    .event_countdown {
      .countdown {
        .countdown-container {
          min-width: 126px;
          .countdown_value {
            font-size: 4em;
          }
          .countdown_title {
            font-size: 1.125em;
          }
        }
      }
    }
  }
  .designer_profile_topping {
    .designer_info {
      .designer_name {
        span {
          font-size: 2.25rem;
        }
      }
    }
  }
  .designer_profile_brands {
    .brands_items {
      .item {
        width: (100% - 24%) / 3;
        margin-left: 4%;
        margin-right: 4%;
      }
    }
  }
  .designer_brands_sort {
    .brands_sort {
      .item {
        width: calc((100% - 5rem * 3) / 4);
        &:nth-child(3n) {
          margin-right: 5rem;
          &:after {
            display: block;
          }
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1) ~ .item {
          margin-bottom: 1rem;
        }
        &:nth-child(4n) {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
        &:nth-last-child(-n+4):nth-child(4n+1),
        &:nth-last-child(-n+4):nth-child(4n+1) ~ .item {
          margin-bottom: 0;
        }
      }
    }
  }

  // Brand
  .brand_topping {
    .brand_topping_header {
      .header_content {
        h3 {
          font-size: 2.25em;
        }
      }
    }
  }
  .brandStory_wall {
    .wall_words {
      padding: 1.85em calc((100vw - 1200px) / 2) 1.85em 3.125em;
    }
  }

  // Event
  .event_topping {
    .topping_header {
      width: 45.8333333333333% !important;
    }
    .event_topping_header {
      .header_content {
        h3 {
          font-size: 2.25em;
        }
      }
    }
  }

  // Popular Designers
  .feature_designers {
    &:before {
      height: calc(100% - 5.75em);
    }
  }
  .popular_designers {
    .popular_block_wrapper {
      margin-bottom: 5.25em;
    }
    .popular_block {
      padding-bottom: 4.875em;
      margin-bottom: 4.875em;
      .popular_content {
        .designer_info {
          margin-bottom: 2.5rem;
        }
        .text {
          margin-bottom: 2.5em;
        }
      }
    }
  }
}

@include susy-breakpoint(1366px, 12) {
  .ootd_list_wrapper {
    .ootd_list {
      .grid_sizer,
      .item {
        width: 18.4%;
      }
      .item {
        a.btn_favorite {
          display: none;
        }
        &:hover {
          a.btn_favorite {
            display: block;
          }
        }
      }
    }
  }
}