@include susy-breakpoint(1280px, 12) {
  // Block
  .page_block {
    padding: 3.5em 1em;
  }

  // Index
  .top_designers_slider {
    padding: 0;
    .slick-prev {
      left: -1.125rem;
    }
    .slick-next {
      right: -1.125rem;
    }
  }
  .ads_banner {
    .slide {
      .text {
        .title {
          font-size: 6em;
        }
        .subtitle {
          margin-bottom: 1.875rem;
          font-size: 4.5em;
        }
        p {
          margin-bottom: 3rem;
          font-size: 1.75em;
        }
      }
    }
  }

  // Topping Block
  .topping_block {
    .topping_header {
      width: calc((100% - 3.125em) / 2);
      margin-right: 3.125em;
    }
    .topping_list {
      .item {
        margin-bottom: 1.375em;
      }
    }
  }

  // List Slider
  .list_slider_wrapper {
    .list_slider {
      padding: 0;
      .slick-prev {
        left: -1.125rem;
      }
      .slick-next {
        right: -1.125rem;
      }
    }
  }

  // List Items
  .list_items_wrapper {
    .list_items {
      .item {
        width: 20%;
        &:nth-last-child(-n+4):nth-child(4n+1),
        &:nth-last-child(-n+4):nth-child(4n+1)~.item {
          padding-bottom: 2em;
          margin-bottom: 2em;
          border-bottom: 1px solid $khaki-lightest;
        }
        &:nth-last-child(-n+5):nth-child(5n+1),
        &:nth-last-child(-n+5):nth-child(5n+1)~.item {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
  
  // Designer
  .designer_topping {
    .topping_header {
      margin-right: 2.25em;
    }
  }

  // Brand
  .brand_topping {
    .brand_topping_header {
      .header_content {
        h3 {
          font-size: 2.25em;
        }
      }
    }
  }

  // Event
  .event_topping {
    .topping_header {
      width: 45.8333333333333% !important;
    }
    .event_topping_header {
      .header_content {
        h3 {
          font-size: 2.25em;
        }
      }
    }
  }
}

@include susy-breakpoint(1366px, 12) {
  .ootd_list_wrapper {
    .ootd_list {
      .grid_sizer,
      .item {
        width: 18.4%;
      }
      .item {
        a.btn_favorite {
          display: none;
        }
        &:hover {
          a.btn_favorite {
            display: block;
          }
        }
      }
    }
  }
}