@include susy-breakpoint(1440px, 12) {
  // Index
  .top_designers_slider {
    .slick-prev {
      left: calc(-2.125rem);
    }
    .slick-next {
      right: calc(-2.125rem);
    }
  }
  .what_next {
    .items {
      .item {
        &:first-child {
          margin-left: 4.375em;
        }
        &:last-child {
          margin-right: 4.375em;
        }
      }
    }
  }
  .ads_banner {
    .slide {
      .text {
        max-width: 430px;
        padding-left: 4.375em;
      }
    }
  }

  // List Slider
  .list_slider_wrapper {
    .list_slider {
      .slick-prev {
        left: -2.375rem;
      }
      .slick-next {
        right: -2.375rem;
      }
    }
  }
}