// Cart View
.cart_view {
  .title {
    padding: 0.25rem 1.5rem;
    border-bottom: 1px solid $khaki-light;
    box-sizing: border-box;
    font-size: 1.25em;
  }
  .cart_items {
    padding: 0 1.5em;
    box-sizing: border-box;
    .item {
      position: relative;
      display: flex;
      padding: 1em 0.5em;
      border-bottom: 1px solid $khaki-lightest;
      box-sizing: border-box;
      &:last-child {
        border-bottom: none;
      }
      .btn_delete {
        position: absolute;
        top: 1rem;
        right: 0;
        display: block;
        width: 18px;
        height: 18px;
        font-size: 0;
        line-height: 18px;
        text-align: center;
        &:hover {
          background-color: $gray-darken;
        }
        i.icon_delete {
          vertical-align: middle;
        }
      }
      .thumb {
        flex: 0 0 auto;
        display: block;
        width: 40.3508771929825%;
        margin-right: 1.25rem;
        img {
          display: block;
        }
      }
      .content {
        flex: 1 1 auto;
        .price {
          margin-bottom: 0.5em;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          color: #626262;
          font-size: 0.875em;
          li {
            list-style: none;
          }
        }
      }
    }
  }
  .cart_foot {
    padding: 1em 1.5em;
    border-top: 1px solid $khaki-light;
    box-sizing: border-box;
    .total_calculation {
      display: flex;
      align-items: center;
      font-size: 1.125em;
      line-height: 1.2;
      .label {
        flex: 0 0 auto;
      }
      .total_amount {
        flex: 1 1 auto;
        text-align: right;
      }
    }
    .btn {
      max-width: 150px;
      margin: 1em auto 0;
    }
  }
}

// Thumb 
.thumb {
  display: block;
  .pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img.size {
      display: block;
      width: 100%;
      max-width: inherit;
    }
  }
  &.is_video {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black,0.5);
      opacity: 0;
      @extend .transition;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      display: block;
      pointer-events: none;
      @include retina-sprite($icon-play-group);
      transform: translate(-50%, -50%);
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}
.profile_picture {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  .pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img.size {
      display: block;
      width: 100%;
      max-width: inherit;
    }
  }
}

// Designer Name
.designer_name {
  color: $main;
  font-family: 'Crimson Text',serif;
  font-size: 0;
  font-weight: 400;
  line-height: 1.2;
  i[class^="icon_diamond"],
  .flag, span {
    display: inline-block;
    vertical-align: middle;
  }
  i[class^="icon_diamond"],
  .flag {
    margin-right: 0.5rem;
  }
}

// Share links
.share_links {
  color: #626262;
  a {
    display: inline-block;
    margin-left: 0.3rem;
    font-size: 0;
    vertical-align: middle;
    &:hover {
      transform: scale(1.3, 1.3);
    }
  }
}

// Breadcrumbs
.breadcrumbs {
  padding: 1.5em 1em;
  box-sizing: border-box;
	.breadcrumbs_inner {
    max-width: 1200px;
    margin: 0 auto;
    color: $gray-dark;
    font-size: 0.875em;
  }
	a {
		color: $gray-dark;
		&:hover {
			color: $gray-darkest;
		}
	}
	span {
    margin: 0 0.5em;
    &.current {
      margin-right: 0;
    }
	}
}

// Page
.pager_navigation {
	padding: 0 1.5rem 1.5rem;
	box-sizing: border-box;
	text-align: center;
	.pager_nav_inner {
		max-width: 1170px;
		margin: 0 auto;
	}
	a {
		display: inline-block;
		height: 24px;
		padding: 0 .5rem;
		line-height: 24px;
		vertical-align: middle;
		&:hover, &.current {
			// color: $orange;
		}
		> div[class^='icon_'] {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

// Filter Search
.filter_search_bar {
  padding: 1.125em 1em;
  box-sizing: border-box;
  background-color: $gray-lightest;
  .bar_inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  .filter_buttons {
    margin-bottom: 1rem;
    font-size: 0;
    a {
      display: inline-block;
      min-width: 98px;
      padding: 0 0.5em;
      margin-right: 1.25em;
      border: $gray-light 1px solid;
      box-sizing: border-box;
      color: #5C5C5C;
      font-size: 1rem;
      text-align: center;
      line-height: 34px;
      &:hover, &.active {
        border-color: $khaki-dark;
        background-color: $khaki-dark;
        color: $white;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include breakpoint(660px) {
    .bar_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .filter_buttons {
      flex: 1 1 auto;
      margin-bottom: 0;
      margin-right: 1rem;
    }
    .search_form {
      flex: 0 0 auto;
      width: 240px;
    }
  }
}

// Block
.page_block {
  padding: 1.5em 1em;
  box-sizing: border-box;
  &.bg_gray {
    background-color: $gray-lightest;
  }
  .block_inner {
    max-width: 1200px;
    margin: 0 auto;
    &.wide {
      max-width: 1300px;
    }
  }
}
.block_title {
  margin-top: 0;
  font-family: 'Crimson Text',serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}

// Container
.container {
  .container_main {
    margin-bottom: 2em;
  }
}

// Index
.top_designers_slider {
  margin: 0 -0.9375em 2em;
  box-sizing: border-box;
  .slide {
    margin: 0 0.9375em;
  }
  .slide_inner {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }
  .thumb {
    position: relative;
    .brand_name {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      min-height: 60px;
      padding: 0.625em 1em;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
      color: $white;
      text-align: center;
      line-height: 1.4;
      @extend .transition;
    }
  }
  .intro {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
    .profile_picture {
      flex: 0 0 auto;
      margin-right: 0.5em;
    }
    .text {
      flex: 1 1 auto;
    }
    .designer_name {
      margin: 0 0 0.5rem;
      color: $black;
      span {
        font-size: 1.25rem;
      }
    }
    .country {
      .flag, span {
        display: inline-block;
        vertical-align: middle;
      }
      .flag {
        margin-right: 0.5em;
      }
      span {
        color: $gray-dark;
        font-size: 0.875em;
      }
    }
    .tags {
      margin-top: 0.5rem;
      color: $main;
      font-size: 0.875em;
      span {
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: middle;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .slide_inner:hover {
    .thumb .brand_name {
      color: $khaki;
    }
    .intro h3 {
      color: $main;
    }
  }
  .slick-prev,
  .slick-next {
    top: 186.5px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  @include breakpoint(560px) {
    padding: 0 1.125em;
  }
  @include breakpoint(730px) {
    padding: 0 2.125em;
    .slick-prev {
      left: 1rem;
    }
    .slick-next {
      right: 1rem;
    }
  }
}
.what_next {
  &.page_block {
  padding-right: 0;
  padding-left: 0;
  }
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 36px;
  }
  .what_next_main {
    width: 100%;
    overflow-x: auto;
  }
  .items {
    white-space: nowrap;
    font-size: 0;
    .item {
      display: inline-block;
      width: calc(100vw - 3em);
      max-width: 500px;
      margin-right: 1.5em;
      font-size: 1rem;
      &:first-child {
        margin-left: 1.5em;
      }
    }
  }
  .video_type {
    margin-bottom: 0.8em;
    line-height: 1.2;
    .dot, h3, .mark_live {
      display: inline-block;
      vertical-align: middle;
    }
    .dot {
      width: 12px;
      height: 12px;
      margin-right: 0.8em;
      border-radius: 50%;
      &.red {
        background-color: $red;
      }
      &.green {
        background-color: $green;
      }
      &.yellow {
        background-color: $yellow;
      }
    }
    h3 {
      margin: 0;
      font-size: 1.25em;
      font-weight: 400;
    }
    .mark_live {
      padding: 0.1em 0.5em;
      margin-left: 1.5rem;
      border-radius: 2px;
      background-color: $red;
      color: $white;
      font-size: 0.875em;
      line-height: 1;
    }
  }
}
.ads_banner {
  margin-bottom: 0 !important;
  .slide {
    .text {
      padding: 1em 1em 3em;
      box-sizing: border-box;
      color: $white;
      text-align: center;
      line-height: 1.2;
      &.bg_brown {
        background-color: $brown;
      }
      .title {
        margin-bottom: 0.8rem;
        font-size: 3em;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 0.125em;
      }
      .subtitle {
        margin-bottom: 1.125rem;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 0.094em;
        small {
          font-size: 0.88em;
        }
      }
      p {
        margin: 0 0 1.875rem;
        font-size: 1.125em;
      }
      .btn {
        max-width: 150px;
        margin: 0 auto;
        border: 1px solid $white;
        box-sizing: border-box;
        background-color: transparent;
        &:hover {
          border-color: $khaki;
          background-color: $khaki;
        }
      }
    }
  }
  .slick-dots {
    bottom: 0.875rem;
    li {
      width: 10px;
      height: 10px;
      margin: 0 0.4375rem;
      font-size: 0;
      button {
        width: 10px;
        height: 10px;
        padding: 0;
        border-radius: 50%;
        background-color: $white;
        &:before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: $red;
        }
      }
    }
  }
}
.ootd_list_wrapper {
  .ootd_list {
    margin-bottom: 2em;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .grid_sizer,
    .item {
      width: 100%;
    }
    .gutter_sizer {
      width: 0;
    }
    .item {
      float: left;
      margin-bottom: 1.5em;
      .item_inner {
        position: relative;
        max-width: 240px;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.09);
      }
      a {
        display: block;
        &.btn_favorite {
          position: absolute;
          top: 0.625rem;
          right: 0.625rem;
          display: block;
          font-size: 0;
        }
      }
      .thumb {
        img {
          display: block;
        }
      }
      .text {
        padding: 0.8em;
        box-sizing: border-box;
        color: $black;
        h3 {
          overflow: hidden;
          height: 1.4em * 2;
          margin: 0;
          font-size: 1em;
          font-family: 'Crimson Text', serif;
          line-height: 1.4;
        }
      }
      a:hover .text {
        color: $main;
      }
    }
    @include breakpoint(480px) {
      .grid_sizer,
      .item {
        width: 49%;
      }
      .gutter_sizer {
        width: 2%;
      }
    }
    @include breakpoint(730px) {
      .grid_sizer,
      .item {
        width: 32%;
      }
    }
  }
}
.page-load-status {
  display: none;
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

// OOTD
.ootd_detail_wrapper {
  padding-top: 0 !important;
  .ootd_article {
    margin-bottom: 2em;
    .block_title {
      margin-bottom: 0.8rem;
      text-align: left;
    }
    .share_info {
      margin-bottom: 1em;
      .share_links {
        margin-bottom: 0.5em;
      }
      .info {
        .date {
          display: inline-block;
          margin-right: 1.25em;
          vertical-align: middle;
        }
        .btn_favorite {
          display: inline-block;
          vertical-align: middle;
        }
      }
      @include breakpoint(370px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .share_links {
          margin-bottom: 0;
        }
      }
    }
    .article_content {
      > * {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.comments_block {
  .comments_title {
    cursor: pointer;
    padding: 0.8em 0.5em;
    border-top: 1px solid $khaki-lightest;
    border-bottom: 1px solid $gray-light;
    box-sizing: border-box;
    .icon_msg {
      vertical-align: middle;
    }
    h2 {
      display: inline-block;
      margin: 0 0.8em;
      font-size: 1em;
      font-weight: 400;
      vertical-align: middle;
    }
    .arrow_down {
      display: inline-block;
      vertical-align: middle;
      @extend .transition;
    }
    &.active {
      .arrow_down {
        transform: rotate(180deg);
      }
    }
  }
  .comments_content {
    display: none;
    .item {
      padding: 1em 0.5em;
      border-bottom: 1px solid $gray-light;
      box-sizing: border-box;
      &:last-child {
        border-bottom: none;
      }
    }
    .msg {
      display: flex;
      .profile_picture {
        flex: 0 0 auto;
        width: 44px;
        height: 44px;
        margin-right: 0.5em;
        border: 1px solid $khaki-light;
        box-sizing: border-box;
      }
      .msg_content {
        flex: 1 1 auto;
        .title {
          margin-bottom: 0.25em;
          color: $main;
          line-height: 1.2;
        }
        .name {
          display: inline-block;
          font-family: 'Crimson Text',serif;
          font-size: 1.125em;
          font-weight: 600;
          vertical-align: middle;
        }
        .divide_line {
          display: inline-block;
          width: 1px;
          height: 16px;
          margin: 0 0.5rem;
          background-color: $khaki-lighten;
        }
        .time {
          display: inline-block;
          vertical-align: middle;
        }
        .text {
          color: $gray-darken;
          line-height: 1.2;
        }
      }
      &.reply {
        margin-top: 1em;
        margin-left: calc(44px + 0.5em);
      }
    }
  }
  .open_comments {
    display: block;
    padding: 0.875rem;
    box-sizing: border-box;
    background-color: $gray-lightest;
    color: #5C5C5C;
    font-size: 0.875em;
    text-align: center;
    &:hover {
      background-color: $main;
      color: $white;
    }
  }
}
.aside_related_products {
  .title {
    margin-top: 0;
    margin-bottom: 1em;
    color: $main;
    font-family: 'Crimson Text',serif;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
  }
  .slider {
    .slide {
      padding: 0 0.5em;
    }
    a {
      display: block;
      max-width: 240px;
      margin: 0 auto;
      background-color: $white;
      box-shadow: 0 1px 4px rgba(0,0,0,0.09);
      color: $black;
    }
    .thumb {
      img {
        display: block;
      }
    }
    .text {
      padding: 0.5em 1em;
      box-sizing: border-box;
      h3 {
        overflow: hidden;
        height: 1.4em * 2;
        margin-top: 0;
        margin-bottom: 0.2em;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4;
      }
      .price {
        color: $main;
        letter-spacing: 0.021em;
      }
    }
    .slick-prev,
    .slick-next {
      z-index: 3;
      width: 18px;
      height: 52px;
      top: calc((100% - 89px) / 2);
      &:before {
        display: block;
        width: 18px;
        height: 52px;
        font-size: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
    .slick-prev {
      left: 0;
      &:before {
        @include retina-sprite($arrow-slider-prev-group);
      }
    }
    .slick-next {
      right: 0;
      &:before {
        @include retina-sprite($arrow-slider-next-group);
      }
    }
  }
}

// Topping Block
.topping_block {
  padding: 1.25em 1em;
  box-sizing: border-box;
  .block_inner {
    max-width: 1200px;
    margin: 0 auto;
    &.wide {
      max-width: 1300px;
    }
  }
  .topping_header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid $gray-light;
  }
  .topping_list {
    .item {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid $gray-light;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    .item_content {
      .thumb {
        display: none;
      }
    }
  }
}

// List Slider
.list_slider_wrapper {
  background-color: $gray-lightest;
  .list_slider {
    margin: 0 -0.75em;
    padding: 0 0.5em;
    box-sizing: border-box;
    .slide {
      margin: 0 0.75em;
    }
    .designer_name {
      margin: 0 0 0.3rem;
      a {
        display: block;
        color: $main;
        &:hover {
          color: $gray-darken;
        }
      }
      span {
        font-size: 1.125rem;
      }
    }
    .date {
      color: $main;
      font-family: 'Crimson Text',serif;
      font-size: 1.125em;
      font-weight: 500;
    }
    .thumb {
      margin-bottom: 0.8em;
    }
    .slide_title {
      margin: 0;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.3125;
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
}

// List Items
.list_items_wrapper {
  .list_items {
    .item {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid $khaki-lightest;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    a {
      display: block;
      > * {
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .brand_name {
      color: $main;
      font-family: 'Crimson Text',serif;
      font-size: 1.125em;
      font-weight: 400;
      line-height: 1.2;
    }
    .date {
      color: $main;
      font-family: 'Crimson Text',serif;
      font-size: 1.125em;
      font-weight: 500;
    }
    .designer_name {
      span {
        font-size: 1.125rem;
      }
    }
    .event_title {
      margin: 0;
      color: $black;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.2;
    }
    p {
      overflow: hidden;
      max-height: 1.25em * 2;
      color: $black;
      line-height: 1.25;
      @extend .transition;
    }
    a:hover {
      p {
        color: $main;
      }
    }
    @include breakpoint(480px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.5em;
      .item {
        width: 50%;
        padding: 0 0.5em 1em;
        box-sizing: border-box;
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1) ~ .item {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
  .list_items + .btn.more {
    margin-top: 2em;
  }
}

// Designer
.designer_topping {
  .designer_topping_header {
    position: relative;
    .btn_favorite {
      position: absolute;
      z-index: 1;
      top: 1em;
      right: 1em;
    }
    .header_content {
      display: block;
      color: $gray;
      &:hover {
        color: $gray-darken;
      }
      .thumb {
        margin-bottom: 0.8em;
      }
      .intro {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .profile_picture {
        width: 50px;
        height: 50px;
        margin-right: 1em;
        border: 1px solid $khaki-light;
        box-sizing: border-box;
      }
      .designer_name {
        width: calc(100% - 50px - 1rem);
        margin: 0;
        span {
          font-size: 1.125rem;
        }
      }
      &:hover .designer_name {
        color: $gray-darken;
      }
      p {
        overflow: hidden;
        height: 1.2em * 3;
        margin-top: 0.5em;
        line-height: 1.2;
      }
    }
    @include breakpoint(560px) {
      .btn_favorite {
        top: 1.5em;
        right: 1.5em;
      }
      .header_content {
        position: relative;
        z-index: 0;
        color: $white !important;
        &:hover {
          color: $khaki !important;
        }
        .thumb {
          margin-bottom: 0;
        }
        .intro {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 1.5em;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
        }
        .profile_picture {
          width: 82px;
          height: 82px;
          margin-right: 0;
          margin-bottom: 0.5em;
        }
        .designer_name {
          width: 100%;
          color: $white !important;
          span {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .designer_topping_list {
    .item {
      position: relative;
    }
    .btn_favorite {
      position: absolute;
      top: 0.8em;
      right: 0;
    }
    .item_content {
      color: $gray;
      &:hover {
        color: $gray-darken;
      }
      .intro_inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .profile_picture {
        width: 50px;
        height: 50px;
        margin-right: 1em;
        border: 1px solid $khaki-light;
        box-sizing: border-box;
      }
      .designer_name {
        width: calc(100% - 50px - 1rem);
        margin: 0;
        padding-right: 1.875rem;
        box-sizing: border-box;
        span {
          font-size: 1.125rem;
        }
      }
      p {
        overflow: hidden;
        height: 1.2em * 3;
        margin-top: 0.5em;
        line-height: 1.2;
      }
    }
    @include breakpoint(560px) {
      .btn_favorite {
        top: 1em;
      }
      .item_content {
        .profile_picture {
          width: 62px;
          height: 62px;
        }
        .designer_name {
          width: calc(100% - 62px - 1rem);
          span {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// Brand
.brand_topping {
  padding: 0 1em 1.25em;
  .brand_topping_header {
    .header_content {
      display: block;
      .thumb {
        margin: 0 -1em 0.8em;
      }
      .brand_name {
        color: $main;
        font-family: 'crimson Text',serif;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.2;
      }
      h3 {
        margin: 0.5em 0;
        color: $black;
        font-weight: 400;
        line-height: 1.2;
      }
      .designer_name {
        span {
          font-size: 1.125rem;
        }
      }
    }
    @include breakpoint(560px) {
      .header_content {
        position: relative;
        z-index: 0;
        margin: 0 -1em;
        .thumb {
          margin: 0;
        }
        .intro {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 1.5em;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
          text-align: center;
        }
        .brand_name, h3, .designer_name {
          color: $white;
        }
        .brand_name {
          text-shadow: 0 0 11px rgba($black, 0.5);
          font-size: 1.5em;
        }
        h3 {
          text-shadow: 0 0 11px rgba($black,0.5);
          font-size: 1.625em;
        }
        .desizing_name{
          font-size: 1.125em;
        }
      }
    }
  }
  .brand_topping_list {
    height: auto;
    .item_content {
      color: $gray;
      &:hover {
        color: $gray-darken;
      }
      .brand_name {
        color: $main;
        font-family: 'crimson Text',serif;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.2;
      }
      h3 {
        margin: 0.5em 0;
        color: $black;
        font-weight: 400;
        line-height: 1.2;
      }
      p {
        overflow: hidden;
        height: 1.2em * 3;
        margin: 0.8em 0;
        line-height: 1.2;
      }
      .designer_name {
        span {
          font-size: 1.125rem;
        }
      }
    }
  }
}

// Event
.event_topping {

}