@include susy-breakpoint(768px, 12) {
  // Block
  .page_block {
    padding: 3em 1em;
  }
  .block_title {
    margin-bottom: 1em;
    font-size: 2.5em;
  }

  // Index
  .top_designers_slider {
    margin-bottom: 4em;
  }
  .ads_banner {
    .slide {
      position: relative;
      overflow: hidden;
      .text {
        position: absolute;
        z-index: 2;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 30%;
        padding: 1em 0.5em 1em 1.5em;
        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          transform-origin: left top;
          transform: skewX(10deg);
        }
        &.bg_brown {
          &:after {
            background-color: $brown;
          }
        }
        &.bg_red {
          &:after {
            background-color: $bg_red;
          }
        }
        &.bg_purple {
          &:after {
            background-color: $bg_purple;
          }
        }
        &.bg_blue {
          &:after {
            background-color: $bg_blue;
          }
        }
        &.bg_green {
          &:after {
            background-color: $bg_green;
          }
        }
      }
      .text_inner {
        width: 100%;
        text-align: left;
      }
    }
  }

  // OOTD
  .ootd_detail_wrapper {
    .ootd_article {
      .article_content {
        margin-bottom: 3em;
      }
    }
  }
  .comments_block {
    .comments_title {
      padding: 0.8em 1.5em;
    }
    .comments_content {
      .item {
        padding: 1.25em 1.5em;
      }
      .msg {
        .profile_picture {
          width: 60px;
          height: 60px;
          margin-right: 1.25em;
        }
        .msg_content {
          margin-top: 0.4em;
          .title {
            margin-bottom: 0.5em;
          }
        }
        &.reply {
          margin-top: 1.875em;
          margin-left: calc(60px + 1.25em);
        }
      }
    }
  }

  // Topping Block
  .topping_block {
    padding: 3.5em 1em;
    .block_inner {
      display: flex;
    }
    .topping_header {
      flex: 0 0 auto;
      width: calc((100% - 1.5em) / 2);
      margin-right: 1.5em;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    .topping_main {
      overflow: hidden;
      flex: 1 1 auto;
      position: relative;
      .topping_list {
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  // List Items
  .list_items_wrapper {
    .list_items {
      margin: 0 -1em;
      .item {
        width: 33.333333333%;
        padding: 0 1em 2em;
        margin-bottom: 2em;
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1)~.item {
          padding-bottom: 2em;
          margin-bottom: 2em;
          border-bottom: 1px solid $khaki-lightest;
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1)~.item {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
    .list_items + .btn.more {
      margin-top: 3.5em;
    }
  }

  // Brand
  .brand_topping {
    .brand_topping_header {
      .header_content {
        margin: 0;
      }
    }
  }
}