@include susy-breakpoint(768px, 12) {
  // Pager
  .pager_navigation {
    li {
      margin: 0.25em 0.3125em;
      font-size: 1rem;
      &.prev, &.next {
        a {
          width: 108px;
        }
      }
      &.prev {
        margin-right: 2.5rem;
      }
      &.next {
        margin-left: 2.5rem;
      }
    }
  }
  .pager_bar {
    margin-top: 1.5em;
  }

  // Sort Menu
  .sort_menu {
    margin-bottom: 2.25em;
    ul {
      li {
        padding: 0 1em;
      }
      a {
        padding: 0 1em;
      }
    }
  }

  // Filter Search
  .filter_sort_bar {
    padding: 2.5em 1em 0;
  }

  // Block
  .page_block {
    padding: 3em 1em;
  }
  .block_title {
    margin-bottom: 1em;
    font-size: 2.5em;
  }

  // Banner Slider
  .banner_slider {
    .slick-dots {
      bottom: 1.875rem;
    }
  }

  // Popup
  .popup_create {
    .popup_inner {
      display: flex;
      .popup_create_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 42%;
        padding: 3em 2em;
      }
      .popup_create_picture {
        flex: 0 0 auto;
        width: 58%;
        .thumb, .thumb .pic {
          height: 100%;
        }
      }
    }
  }
  .popup_returns {
    .call_action {
      margin-top: 4em;
    }
  }
  .popup_review {
    .popup_review_main {
      .review_content {
        .controls_group {
          display: flex;
          align-items: center;
          &.comment {
            align-items: flex-start;
          }
          > label {
            flex: 0 0 auto;
            width: 90px;
            padding-right: 0.5em;
            margin-bottom: 0;
            box-sizing: border-box;
          }
          .controls {
            flex: 1 1 auto;;
          }
        }
      }
    }
  }

  // Index
  #storeMap {
    height: 70vw;
    max-height: calc(100vh - 92px - 44px);
    .map_popup {
      width: 600px;
      height: 300px;
      .map_popup_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.125rem;
        .brand_name {
          flex: 0 0 auto;
          width: calc((100% - 1.5rem) / 2);
          margin-bottom: 0;
          margin-right: 1.5rem;
        }
        h2 {
          padding: 0 1.125rem;
        }
        .address {
          flex: 1 1 auto;
          width: calc((100% - 1.5rem) / 2);
          text-align: right;
        }
      }
      .map_popup_content {
        display: flex;
        .intro {
          flex: 0 0 auto;
          width: calc((100% - 1.5rem) / 2);
          margin-bottom: 0;
          margin-right: 1.5rem;
        }
        .picture {
          flex: 0 0 auto;
          width: calc((100% - 1.5rem) / 2);
          .thumb, .thumb .pic {
            height: 100%;
          }
        }
      }
    }
  }
  #mapSky {
    display: block;
    left: 50px;
    width: calc(100% - 50px * 2);
  }
  #streetAside {
    top: 60px;
    left: auto;
    right: 0;
    width: 225px;
    height: calc(100% - 60px - 8%);
    transform: translateX(calc(100% - 0.5em));
  }
  #streetStores {
    .street_intro {
      padding: 2.5em;
      h2 {
        font-size: 2.75em;
      }
    }
  }
  .top_designers_slider {
    margin-bottom: 4em;
  }
  .ads_banner {
    .slide {
      position: relative;
      overflow: hidden;
      .text {
        position: absolute;
        z-index: 2;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 30%;
        padding: 1em 0.5em 1em 1.5em;
        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          transform-origin: left top;
          transform: skewX(10deg);
        }
        &.bg_brown {
          &:after {
            background-color: $brown;
          }
        }
        &.bg_red {
          &:after {
            background-color: $bg_red;
          }
        }
        &.bg_purple {
          &:after {
            background-color: $bg_purple;
          }
        }
        &.bg_blue {
          &:after {
            background-color: $bg_blue;
          }
        }
        &.bg_green {
          &:after {
            background-color: $bg_green;
          }
        }
      }
      .text_inner {
        width: 100%;
        text-align: left;
      }
    }
  }

  // OOTD
  .detail_wrapper {
    .detail_article {
      .article_content {
        margin-bottom: 3em;
      }
    }
  }
  .comments_block {
    .comments_title {
      padding: 0.8em 1.5em;
    }
    .comments_content {
      .item {
        padding: 1.25em 1.5em;
      }
      .msg {
        .profile_picture {
          width: 60px;
          height: 60px;
          margin-right: 1.25em;
        }
        .msg_content {
          margin-top: 0.4em;
          .title {
            margin-bottom: 0.5em;
          }
        }
        &.reply {
          margin-top: 1.875em;
          margin-left: calc(60px + 1.25em);
        }
      }
    }
  }

  // Topping Block
  .topping_block {
    padding: 3.5em 1em;
    .block_inner {
      display: flex;
    }
    .topping_header {
      flex: 0 0 auto;
      width: (100% - 3%) / 2;
      margin-right: 3%;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    .topping_main {
      overflow: hidden;
      flex: 1 1 auto;
      position: relative;
    }
    .topping_list {
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // List Items
  .list_items_wrapper {
    .list_items {
      margin: 0 -1em;
      .item {
        width: 33.333333333%;
        padding: 0 1em 2em;
        margin-bottom: 2em;
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1)~.item {
          padding-bottom: 2em;
          margin-bottom: 2em;
          border-bottom: 1px solid $khaki-lightest;
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1)~.item {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
    .list_items + .btn.more {
      margin-top: 3.5em;
    }
  }

  // Products List
  .products_list {
    .product_list_head {
      .text {
        margin-right: 16%;
      }
      h2 {
        font-size: 1.5em;
      }
    }
    .item {
      width: (100% - 2.5% * 4) / 4;
      width: calc((100% - 2.5% * 4) / 4 - 0.5px) \0;
      margin-bottom: 1.875em;
      &.col_2 {
        width: (100% - 2.5% * 4) / 4 * 2 + 2.5%;
        width: calc((100% - 2.5% * 4) / 4 * 2 + 2.5% - 0.5px) \0;
      }
    }
  }

  // Designer
  .designer_header {
    .designer_navigation {
      padding: 1.125em 0;
    }
    .designer_navigation_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .reviews {
      flex: 1 1 auto;
      margin-bottom: 0;
    }
    .nav_menu {
      flex: 0 0 auto;
      margin-left: 1em;
      > ul {
        display: block;
        font-size: 0;
        > li {
          position: relative;
          display: inline-block;
          padding: 0 0.25em;
          border-bottom: none;
          border-right: $khaki-light 1px solid;
          font-size: 1rem;
          &:first-child {
            border-top: none;
            border-left: $khaki-light 1px solid;
          }
          > ul {
            position: absolute;
            top: 100%;
            left: 50%;
            margin-top: 0.5em;
            transform: translateX(-50%);
            > li > a {
              white-space: nowrap;
            }
          }
        }
      }
      .toggle_menu {
        display: none;
      }
    }
  }
  .designer_about {
    &.page_block {
      padding-top: 4em;
    }
    .block_inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .designer_about_image {
      flex: 0 0 auto;
      width: 48%;
      margin-bottom: 0;
      &:before {
        top: -1em;
        left: -1em;
      }
    }
    .designer_about_intro {
      flex: 0 0 auto;
      width: 48%;
      .block_title {
        text-align: left;
      }
      .btn.more {
        margin: 0;
      }
    }
  }
  .designer_event {
    .block_inner {
      display: flex;
      justify-content: space-between;
    }
    .event_video {
      width: calc(48% + 1em);
      margin-top: -3em;
      margin-bottom: -3em;
      margin-left: calc((100vw - 100%) / 2 * -1);
    }
    .event_countdown {
      width: 48%;
      margin-bottom: 0;
    }
    .event_content {
      width: 48%;
    }
  }
  .designer_hometown {
    margin: 3em 0;
    .block_title,
    .country_city {
      text-align: left;
    }
    .hometown_characteristics {
      .item {
        width: (100% - 3.9% * 2) / 3;
        &:nth-child(2n) {
          margin-right: 3.9%;
        }
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1) ~ .item {
          margin-bottom: 1.5em;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1) ~ .item {
          margin-bottom: 0;
        }
      }
    }
  }
  .designer_posts {
    .block_main {
      margin-bottom: 3em;
    }
  }
  .post_block {
    margin-bottom: 2.5em;
    .post_main {
      padding: 1.5em;
    }
  }
  .designer_profile_brands {
    .brands_items {
      .item {
        width: 44%;
        margin-left: 3%;
        margin-right: 3%;
      }
    }
  }
  .designer_reviews {
    .reviews_wrapper.has_thumb {
      .item {
        padding: 0 2.5em;
      }
    }
  }
  .designer_brands_sort {
    &.page_block {
      padding: 1.875em 1em;
    }
    .block_title {
      font-size: 1.5em;
    }
    .brands_sort {
      .item {
        width: calc((100% - 2rem * 2) / 3);
        &:nth-child(2n) {
          margin-right: 2rem;
          &:after {
            display: block;
          }
        }
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1) ~ .item {
          margin-bottom: 1rem;
        }
        &:nth-child(3n) {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1) ~ .item {
          margin-bottom: 0;
        }
      }
    }
  }
  .designer_blog {
    &.page_block {
      padding-top: 2.5em;
    }
    .detail_article {
      .author_share {
        margin-bottom: 1.875em;
        .designer_info {
          .designer_name {
            span {
              font-size: 2.25rem;
            }
          }
        }
      }
    }
  }

  // Brand
  .brand_topping {
    .brand_topping_header {
      .header_content {
        margin: 0;
      }
    }
  }
  .brandStory_topping {
    .brandStory_topping_header {
      margin: 0;
    }
  }
  .brandStory_wall {
    .grid_sizer, .item {
      width: (100% - 1.3888888888889%) / 2;
    }
    .gutter_sizer {
      width: 1.3888888888889%;
    }
    .item {
      margin-bottom: 1.9444444444444vw;
    }
    .wall_words {
      padding: 1.85em 1em;
      .block_title {
        text-align: left;
      }
    }
  }
  .related_post {
    .related_post_list {
      margin-bottom: 3rem;
    }
  }
  .message_wrapper {
    .message_block {
      margin-bottom: 3em;
    }
  }

  // Products
  .products_show_wrapper {
    .master_vision {
      width: 48.75%;
      float: left;
      margin-right: 1.25%;
      margin-bottom: 1.875em;
    }
  }
  .product_showcase {
    .showcase_slider_wrapper {
      max-width: 590px;
      .showcase_nav {
        overflow: visible;
        display: block;
        width: 14%;
        height: auto;
        padding: 0.75em 0;
        float: left;
      }
      .showcase_slider {
        width: 80%;
        float: right;
      }
      .share_links {
        float: left;
        width: 100%;
        padding-left: 20%;
        box-sizing: border-box;
      }
    }
  }
  .product_about {
    .tabber_wrapper {
      margin-top: -1.875em;
      .tabber-selectors {
        padding: 1.875em 1em;
      }
      .tabber-contents {
        .tabber-content {
          padding: 3em 1em;
        }
      }
    }
  }
  .product_about_designer {
    .designer_introduction {
      margin-bottom: 2.5em;
      .designer_info {
        .profile_picture {
          width: 80px;
          height: 80px;
        }
        .designer_name {
          span {
            font-size: 1.875rem;
          }
        }
      }
      .intro_image {
        margin-top: 1.875em;
        &:before {
          top: -1.875em;
          right: -1.875em;
        }
      }
    }
    .latest_post {
      .post_block_wrapper {
        margin-bottom: 3em;
      }
    }
  }
  .product_about_cooperate {
    .title {
      margin-bottom: 3rem;
      font-size: 2.5em;
    }
    .subtitle {
      font-size: 2.25em;
    }
    .cooperate_block {
      padding: 3em 0;
    }
    .cooperate_introduction {
      .intro_block {
        margin-bottom: 3em;
      }
    }
    .cooperate_wall {
      .item {
        &:nth-child(3) {
          padding: 1em 1em 0 0;
        }
      }
    }
  }

  // Sale
  .sale_wrapper {
    .sale_banner {
      .banner_content {
        .title {
          font-size: 4.5em;
        }
        .subtitle {
          font-size: 3.5em;
        }
      }
    }
  }

  // Popular Designers
  .feature_designers {
    &:before {
      height: calc(100% - 5.25em);
    }
    .designers_slider {
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
    }
  }
  .popular_designers {
    .block_title {
      margin-bottom: 1.5em;
    }
    .popular_block_wrapper {
      margin-bottom: 4em;
    }
    .popular_block {
      padding-bottom: 3em;
      margin-bottom: 3em;
      .popular_content {
        .designer_info {
          margin-bottom: 1.5rem;
          .profile_picture {
            width: 80px;
            height: 80px;
          }
        }
        .text {
          margin-bottom: 1.5em;
        }
      }
    }
  }

  // Search
  .search_block {
    .title_sort {
      margin-bottom: 1.5em;
    }
    .search_title {
      margin-bottom: 1.875rem;
      font-size: 1.5em;
    }
    .topping_list {
      .item {
        margin-bottom: 1.375em;
      }
    }
  }

  // Login
  .login_wrapper {
    .login_container {
      display: flex;
      margin: 0 auto;
      .login_block {
        flex: 0 0 auto;
        width: 50%;
        padding: 0 2em;
        border-bottom: none;
        margin-bottom: 0;
        border-right: $khaki-light 1px solid;
        box-sizing: border-box;
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  // Order
  .sopping_steps {
    margin-bottom: 2.5em;
  }
  .checkout_cart {
    .cart_summary {
      .summary_items {
        padding: 1.5em;
      }
      .total_calculation {
        padding: 1rem 1.5rem;
      }
    }
  }
  .order_information {
    .form_wrapper {
      .row {
        .grid.g_6_12 {
          @include span(1 of 2 0.065);
        }
      }
    }
  }
  .order_view {
    .block_subtitle {
      margin-bottom: 3.125rem;
    }
    .call_action {
      margin-top: 2.8125em;
    }
  }

  // Company
  .common_form {
    .form_block {
      padding: 1.25em 1.875em 1.875em;
      box-sizing: border-box;
      background-color: $white;
      box-shadow: 0 0 4px $khaki-lighten;
    }
  }
  .company_block {
    &.page_block {
      padding: 1.875em 1em 3.5em;
    }
    .block_title {
      margin-bottom: 2.5rem;
    }
  }

  // Center Container
  .faq_fold {
    .fold {
      padding: 1.5em 0;
    }
    .fold_content {
      margin-top: 1.125em;
    }
  }
  .member_center {
    .rwd_table {
      .limit_width {
        max-width: 210px;
      }
      .pi_text {
        max-width: 250px;
      }
    }
  }
  .points_display {
    padding: 1.5rem 2rem;
  }
}

@include susy-breakpoint(900px, 12) {
  //Designer
  .designer_header {
    .designer_header_mian {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5em;
    }
    .designer_info {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
  .designer_profile_brands {
    .brands_items {
      .item {
        width: (100% - 12%) / 3;
        margin-left: 2%;
        margin-right: 2%;
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1)~.item {
          margin-bottom: 1.5em;
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1)~.item {
          margin-bottom: 0;
        }
      }
    }
  }
  .designer_new_arrivals {
    .news_arrivals {
      .news_arrivals_inner {
        display: flex;
        justify-content: space-between;
        white-space: normal;
      }
      .products_list {
        order: 1;
        display: block;
        width: 19%;
        margin-right: 2.75%;
        white-space: normal;
        .item {
          display: block;
          width: 100%;
          margin-bottom: 1.875rem !important;
          margin-right: 0;
          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
      .master_vision {
        order: 2;
        display: block;
        width: 56.5%;
        margin-right: 2.75%;
      }
      .master_vision + .products_list {
        order: 3;
      }
    }
  }

  // Order
  .checkout_cart {
    .cart_title {
      display: flex;
      align-items: center;
      padding: 0.5em 1.5em;
      background-color: $khaki-lightest;
      .main {
        flex: 1 1 auto;
        box-sizing: border-box;
      }
      [class^="label_"] {
        flex: 0 0 auto;
        width: 100px;
        margin-right: 1.5em;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
      .label_quantity {
        width: 120px;
      }
      .label_price {
        text-align: right;
      }
    }
    .cart_items {
      .item {
        position: relative;
        padding-right: 1.5rem;
        box-sizing: border-box;
        .content {
          display: flex;
          > [class^='ci_'] {
            flex: 0 0 auto;
            width: 100px;
            margin-bottom: 0;
            margin-right: 1.5em;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .ci_info {
          flex: 1 1 auto !important;
        }
        .ci_quantity {
          width: 120px !important;
          text-align: center;
        }
        .ci_price {
          text-align: right;
          line-height: 36px;
        }
        .links {
          position: absolute;
          right: 0;
          width: auto;
          bottom: 1.75rem;
          right: 1.5rem;
          margin-top: 0;
          text-align: right;
        }
      }
    }
    &.in_detail {
      .cart_items {
        .item {
          padding: 1.25em 1.5em;
        }
      }
    }
  }
}