nav {
  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

// Header Nav
.header_nav_wrap {
  display: none;
}

// Footer Nav
.footer_nav {
  > ul {
    display: flex;
    flex-wrap: wrap;
    > li {
      width: calc((100% - 1em) / 2);
      margin-right: 1em;
      margin-bottom: 1.25em;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-last-child(-n + 2):nth-child(2n + 1),
      &:nth-last-child(-n + 2):nth-child(2n + 1) ~ li {
        margin-bottom: 0;
      }
      > h4 {
        margin: 0;
        color: $black;
        font-size: 1.125em;
        font-weight: 400;
      }
      > ul {
        margin-top: 0.5em;
        > li {
          > a {
            color: $gray-darken;
            &:hover, &.current {
              color: $main;
            }
          }
        }
      }
      @include breakpoint(560px) {
        width: calc((100% - 2em) / 3);
        &:nth-child(2n) {
          margin-right: 1em;
        }
        &:nth-last-child(-n + 2):nth-child(2n + 1),
        &:nth-last-child(-n + 2):nth-child(2n + 1) ~ li {
          margin-bottom: 1.25em;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-last-child(-n + 3):nth-child(3n + 1),
        &:nth-last-child(-n + 3):nth-child(3n + 1)~li {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

// Slide Bar
#sidebar {
  position: fixed;
  z-index: 10000;
  top: 116px;
  left: -100vw;
  overflow-y: auto;
  width: 100vw;
  height: calc(100vh - 116px);
  padding: 1.5em 0;
  box-sizing: border-box;
  background-color: $khaki-lightest;
  &.head_sticky {
    top: 72px;
    height: calc(100vh - 72px);
  }
  .sidebar_menu {
    .divide_line {
      background-color: $gray-darkest;
    }
    > ul {
      margin-bottom: 1.5em;
      a {
        display: block;
        padding: 0.35rem 1.5rem;
        box-sizing: border-box;
        color: $gray-darkest;
        line-height: 1.25;
        text-align: center;
      }
      > li > a {
        font-size: 1.25em;
        &:hover, &.active, &.current {
          background-color: $white;
          color: $main;
        }
      }
      .sub_menu {
        display: none;
        padding: 0.5em;
        box-sizing: border-box;
        background-color: $khaki-light;
        > ul > li {
          position: relative;
          margin-bottom: 1.5em;
          &:after {
            content: '';
            position: absolute;
            bottom: -0.75em;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $white;
          }
          &:last-child {
            margin-bottom: 0;
            &:after {
              display: none;
            }
          }
          > a {
            font-size: 1.125em;
            &:hover, &.current {
              color: darken($main, 10%);
            }
          }
          > ul > li > a {
            border-radius: 5px;
            &:hover, &.current {
              background-color: $khaki-lightest;
              color: $main;
            }
          }
        }
      }
    }
    .links {
      margin-bottom: 1.5rem;
      font-size: 0;
      text-align: center;
      a {
        display: inline-block;
        padding: 0.5em;
        border-radius: 5px;
        min-width: 100px;
        color: $gray-darkest;
        font-size: 1rem;
        line-height: 1.25;
        vertical-align: middle;
        &:hover, &.current {
          background-color: $white;
          color: $main;
        }
      }
    }
    .currency_language {
      text-align: center;
      .select_wrapper {
        display: block;
        margin: 0 auto 1em;
        select {
          height: 35px;
          border-radius: 5px;
          padding: 0 20px 0 10px;
          background-color: $white;
          background-image: url(../images/arrow_select.png);
          background-position: calc(100% - 10px) center;
          color: $gray-darkest;
          font-size: 1rem;
        }
      }
    }
  }
}