nav {
  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    @extend .clear;
  }
}

// Header Nav
.header_nav_wrap {
  display: none;
}

// Slide Bar
#sidebar {
  position: fixed;
  z-index: 99;
  top: 116px;
  left: -100vw;
  overflow-y: auto;
  width: 100vw;
  height: calc(100vh - 116px);
  padding: 1.5em;
  box-sizing: border-box;
  background-color: $khaki-lightest;
  .sidebar_menu {
    .divide_line {
      background-color: $gray-darkest;
    }
    ul {
      margin-bottom: 1.5em;
      a {
        display: block;
        padding: 0.35rem 0.5rem;
        border-radius: 5px;
        box-sizing: border-box;
        color: $gray-darkest;
        font-size: 1.25em;
        line-height: 1.2;
        text-align: center;
        &:hover, &.current {
          background-color: $white;
          color: $main;
        }
      }
    }
    .links {
      margin-bottom: 1.5rem;
      font-size: 0;
      text-align: center;
      a {
        display: inline-block;
        padding: 0.5em;
        border-radius: 5px;
        min-width: 100px;
        color: $gray-darkest;
        font-size: 1rem;
        line-height: 1.2;
        vertical-align: middle;
        &:hover, &.current {
          background-color: $white;
          color: $main;
        }
      }
    }
    .currency_language {
      text-align: center;
      .select_wrapper {
        display: block;
        margin: 0 auto 1em;
        select {
          height: 35px;
          border-radius: 5px;
          padding: 0 20px 0 10px;
          background-color: $white;
          background-image: url(../images/arrow_select.png);
          background-position: calc(100% - 10px) center;
          color: $gray-darkest;
          font-size: 1rem;
        }
      }
    }
  }
}