@include susy-breakpoint(768px, 12) {
  // Slide Bar
  #sidebar {
    top: 136px;
    height: calc(100vh - 136px);
    .sidebar_menu {
      ul {
        a {
          padding: 0.5em;
        }
      }
      .links, .currency_language {
        display: none;
      }
    }
  }
}