block value
  - var currentUrl = '';

doctype html
html
  head
    meta(charset='utf-8')
    title VETRINA MIA
    meta(name='KeyWords', content='')
    meta(name='Description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    <!--[if lt IE 10]>
    .old_browser
      .old_browser_inner
        .oops OOPS!
        .oops_title 您的瀏覽器版本太舊了！
        p
          | 請更新至 Internet Explorer 10 以上版本或選用更現代化的瀏覽器，
          br
          br
          | 使用老舊版本的瀏覽器瀏覽本網站將可能有無法預測的錯誤，請儘快更新。
          br
          br
          | 微軟已於2016年起停止IE8 (含)以下版本之Windows安全更新（#[a(href="http://windows.microsoft.com/zh-tw/windows/end-support-help", target="_blank") 微軟 終止支援公告]），
          br
          | 為了您的個資安全、瀏覽流暢度與享受更多網站互動體驗，建議您立即升級瀏覽器。
        table
          caption &gt;&gt; 建議您更新或使用以下瀏覽器
          tr
            td
              a(href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie", target="_blank")
                img(src="images/browser/ie.png")
                span IE
            td
              a(href="http://www.google.com/chrome/", target="_blank")
                img(src="images/browser/chrome.png")
                span Chrome
            td
              a(href="https://www.mozilla.org/en-US/firefox/new/", target="_blank")
                img(src="images/browser/firefox.png")
                span Firefox
            td
              a(href="https://www.opera.com/zh-tw/download?os=windows", target="_blank")
                img(src="images/browser/opera.png")
                span Opera
        p © 2019 Vetrina Mia INC.
    <![endif]-->

    #loading
      .loading_inner
        .loading_image
          img.loading_circle(src="images/loading.png")
          img.logo(src="images/logo-2x.png")
        .text Loading...

    #wrapper
      //↓ 後台可設定網站五個顏色 ↓ -- bg_brown、bg_red、bg_purple、bg_blue、bg_green
      .header_top.bg_brown
        .header_top_inner
          .links
            a(href="javascript:;") SHIPPING
            i.divide_line
            a(href="javascript:;") REFUND
          .marquee
            | FREE SHIPPING. EASY RETURN.
          .currency_language
            .select_wrapper
              select
                option(selected)
                  | € EUR
                option
                  | $ TWD
                option
                  | ¥ CNY
            i.divide_line
            .select_wrapper
              select
                option(selected)
                  | English
                option
                  | 繁體中文
                option
                  | 简体中文
      //↑ 後台可設定網站五個顏色 ↑ -- bg_brown、bg_red、bg_purple、bg_blue、bg_green

      header#header
        .header_main
          .header_main_inner
            a#btn_menu(href="javascript:;") #[span]
            .header_search
              .search_form
                input(type="search", placeholder="What are you looking for?")
                button(type="button", onclick="location.href='search_products.html'") #[i.icon_search]
            a.header_logo(href="index.html")
              img.retina(src="images/logo.png")
            .user_options
              .option_search
                a(href="javascript:;")
                  i.icon_search
              //- .option_style
              //-   a(href="javascript:;")
              //-     i.icon_waredrobe
              //-     span My Style
              //↓ 上線時，class加'online'，並且連結至'member_account.html'; 未上線時，連結至'login.html' ↓
              .option_member
                a(href="login.html")
                  i.icon_member
              //↑ 上線時，class加'online'，並且連結至'member_account.html'; 未上線時，連結至'login.html' ↑
              //↓ 有產品在購物車時時，class加'have' ↓
              .option_cart.have
                a.cart_toggle(href="javascript:;")
                  i.icon_cart
                .cart_drop
                  .cart_view.scrollbar_y
                    .title
                      | 2 Items
                    .cart_items
                      .item
                        a.btn_delete(href="javascript:;")
                          i.icon_delete
                        a.thumb(href="product_detail.html")
                          //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                          .pic(style="background-image: url(images/img_product01.jpg);")
                            img.size(src="images/size_3x4.png")
                          //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                        .content
                          .price $ 1148
                          ul
                            li
                              | size: M
                            li
                              | color: dot
                            li
                              | Qty: 1
                      .item
                        a.btn_delete(href="javascript:;")
                          i.icon_delete
                        a.thumb(href="product_detail.html")
                          //↓ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↓
                          .pic(style="background-image: url(https://via.placeholder.com/300x400);")
                            img.size(src="images/size_3x4.png")
                          //↑ 3:4，顯示的圖片放在 pic 的 background-image，img.size 是撐開用的透明圖 ↑
                        .content
                          .price $ 1148
                          ul
                            li
                              | size: M
                            li
                              | color: dot
                            li
                              | Qty: 1
                    .cart_foot
                      .total_calculation
                        .label Subtotal
                        .total_amount
                          | NTD $2,296
                      a.btn.confirm(href="order.html")
                        | CHECKOUT
              //↑ 有產品在購物車時時，class加'have' ↑
              //↓ 登入後顯示，按下即登出 ↓
              .option_logout
                a(href="javascript:;")
                  i.icon_logout
              //↑ 登入後顯示，按下即登出 ↑
        .header_nav_wrap
          include partials/navigator-head.pug
          
      main#main
        block main
          h1 Coming Soon...
        
        //- recaptcha
          .captcha
            .captcha_inner
              .g-recaptcha(data-sitekey="6LcHGhITAAAAABIgEAplK2EWsVFkaE5o0DWUpsIs")

      footer#footer
        .footer_inner
          .footer_information
            a.footer_logo(href="index.html")
              img.retina(src="images/logo_footer.png")
            .copyright
              | © 2019 Vetrina Mia INC.
            .social_apps_links
              .social
                a(href="mailto:xxx@test.com")
                  i.icon_email
                a(href="javascript:;", target="_blank")
                  i.icon_facebook
                a(href="javascript:;", target="_blank")
                  i.icon_instagram
              .apps
                a(href="javascript:;", target="_blank")
                  img(src="images/app_ios.png")
                a(href="javascript:;", target="_blank")
                  img(src="images/app_android.png")
            hr
            a.btn.cooperation_link(href="javascript:;")
              | Cooperation | Joining | Investment
            a.interested_link(href="javascript:;")
              i.icon_hand
              | Interested in opening a shop here?
          nav.footer_nav
            ul
              li
                h4 COMPANY
                ul
                  li
                    a(class={current: currentUrl === 'about'}, href="about.html")
                      | About us
                  li
                    a(class={current: currentUrl === 'physicalStores'}, href="physical_stores.html")
                      | Physical Stores
                  li
                    a(class={current: currentUrl === 'contact'}, href="contact.html")
                      | Contact
                  li
                    a(class={current: currentUrl === 'policy'}, href="policy.html")
                      | Terms and Policy
                  li
                    a(class={current: currentUrl === 'cooperation'}, href="cooperation.html")
                      | Cooperation
              li
                h4 HELP
                ul
                  li
                    a(class={current: currentUrl === 'faq'}, href="faq.html")
                      | FAQ
                  li
                    a(class={current: currentUrl === 'delivery'}, href="delivery.html")
                      | Delivery
                  li
                    a(class={current: currentUrl === 'refundsExchanges'}, href="refunds_exchanges.html")
                      | Refunds &amp; Exchanges
                  li
                    a(class={current: currentUrl === 'customerService'}, href="customer_service.html")
                      | Customer Service
                  li
                    a(class={current: currentUrl === 'feedback'}, href="feedback.html")
                      | Feedback
              li
                h4 SHOP
                ul
                  li
                    a(class={current: currentUrl === 'designers'}, href="designers.html")
                      | Designers
                  li
                    a(class={current: currentUrl === 'brands'}, href="brands.html")
                      | Brands
                  li
                    a(class={current: currentUrl === 'events'}, href="events.html")
                      | Events
                  li
                    a(class={current: currentUrl === 'popularDesigners'}, href="popular_designers.html")
                      | Popular designers
              li
                h4 PRODUCT
                ul
                  li
                    a(class={current: currentUrl === 'women'}, href="products.html")
                      | Women
                  li
                    a(href="products.html")
                      | Men
                  li
                    a(class={current: currentUrl === 'sale'}, href="sale.html")
                      | Sale
              li
                h4 MEMBER
                ul
                  li
                    a(class={current: currentUrl === 'memberFavorite'}, href="member_favorite.html")
                      | My Favorite
                  li
                    a(class={current: currentUrl === 'memberAccount'}, href="member_account.html")
                      | My Account
                  li
                    a(class={current: currentUrl === 'memberPoints'}, href="member_points.html")
                      | My Points
                  li
                    a(class={current: currentUrl === 'memberModel'}, href="member_model.html")
                      | Be Our Model
    
    #sidebar
      include partials/navigator-sidebar.pug

    #popupEntrance.popup_block.mfp-hide
      .popup_inner
        .controls_group
          label Currency
          .select_wrapper
            select
              option(selected)
                | € EUR
              option
                | $ TWD
              option
                | ¥ CNY
        .controls_group
          label Languange
          .select_wrapper
            select
              option(selected)
                | English
              option
                | 繁體中文
              option
                | 简体中文
        button.btn.confirm.popup_modal_dismiss(type="button") Save

    block popup

    block fixedButton
      #fixedButtons
        a#backTop(href="javascript:;")
          img(src="images/arrow_back_top.png")
          span top

    // build:js scripts/vendor.js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbuild

    // build:js scripts/plugins.js
    script(src="scripts/plugins/jquery.sticky.js")
    script(src="../bower_components/jquery-sidebar/src/jquery.sidebar.js")
    script(src="../bower_components/slick-carousel/slick/slick.min.js")
    script(src="../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js")
    script(src="../bower_components/imagesloaded/imagesloaded.pkgd.js")
    script(src="../bower_components/masonry-layout/dist/masonry.pkgd.js")
    script(src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js")
    script(src="scripts/plugins/jquery.fitvids.js")
    script(src="../bower_components/rateyo/src/jquery.rateyo.js")
    script(src="scripts/plugins/jquery.tabber.js")
    script(src="scripts/plugins/jquery.retina.js")
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

    block js
      //- recaptcha - script(src='https://www.google.com/recaptcha/api.js')
