.clear {
  &:before,
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.transition {
  transition: all 0.2s ease-in-out;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Arimo',$sans-serif;
  line-height: 1.6;
}

main {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  @extend .transition;
  &:focus {
    outline: none;
  }
  &.weypro {
    font-weight: 600;
    &:hover {
      color: #379bd5 !important;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

#wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.bg_brown {
  background-color: $bg-brown;
}
.bg_red {
  background-color: $bg-red;
}
.bg_purple {
  background-color: $bg-purple;
}
.bg_blue {
  background-color: $bg-blue;
}
.bg_green {
  background-color: $bg-green;
}

.divide_line {
  display: inline-block;
  width: 1px;
  height: 30px;
  margin: 0 1.125rem;
  background-color: $white;
  vertical-align: middle;
}

.rwd_table_wrapper {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
  }
}