.row {
  margin-bottom: 1em;
  @extend .clear;
  &:last-child {
    margin-bottom: 0;
  }
  .grid {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include breakpoint(768px) {
  .row {
    .grid {
      margin-bottom: 0;
      &.g_6_12 {
        @include span(1 of 2 0.1);
      }
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
