// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-slider-next-name: 'arrow_slider_next';
$arrow-slider-next-x: 108px;
$arrow-slider-next-y: 0px;
$arrow-slider-next-offset-x: -108px;
$arrow-slider-next-offset-y: 0px;
$arrow-slider-next-width: 18px;
$arrow-slider-next-height: 52px;
$arrow-slider-next-total-width: 126px;
$arrow-slider-next-total-height: 126px;
$arrow-slider-next-image: '../images/sprite.png';
$arrow-slider-next: (108px, 0px, -108px, 0px, 18px, 52px, 126px, 126px, '../images/sprite.png', 'arrow_slider_next', );
$arrow-slider-prev-name: 'arrow_slider_prev';
$arrow-slider-prev-x: 0px;
$arrow-slider-prev-y: 74px;
$arrow-slider-prev-offset-x: 0px;
$arrow-slider-prev-offset-y: -74px;
$arrow-slider-prev-width: 18px;
$arrow-slider-prev-height: 52px;
$arrow-slider-prev-total-width: 126px;
$arrow-slider-prev-total-height: 126px;
$arrow-slider-prev-image: '../images/sprite.png';
$arrow-slider-prev: (0px, 74px, 0px, -74px, 18px, 52px, 126px, 126px, '../images/sprite.png', 'arrow_slider_prev', );
$icon-cart-name: 'icon_cart';
$icon-cart-x: 0px;
$icon-cart-y: 40px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: -40px;
$icon-cart-width: 34px;
$icon-cart-height: 34px;
$icon-cart-total-width: 126px;
$icon-cart-total-height: 126px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (0px, 40px, 0px, -40px, 34px, 34px, 126px, 126px, '../images/sprite.png', 'icon_cart', );
$icon-close-name: 'icon_close';
$icon-close-x: 0px;
$icon-close-y: 0px;
$icon-close-offset-x: 0px;
$icon-close-offset-y: 0px;
$icon-close-width: 40px;
$icon-close-height: 40px;
$icon-close-total-width: 126px;
$icon-close-total-height: 126px;
$icon-close-image: '../images/sprite.png';
$icon-close: (0px, 0px, 0px, 0px, 40px, 40px, 126px, 126px, '../images/sprite.png', 'icon_close', );
$icon-delete-name: 'icon_delete';
$icon-delete-x: 74px;
$icon-delete-y: 61px;
$icon-delete-offset-x: -74px;
$icon-delete-offset-y: -61px;
$icon-delete-width: 8px;
$icon-delete-height: 9px;
$icon-delete-total-width: 126px;
$icon-delete-total-height: 126px;
$icon-delete-image: '../images/sprite.png';
$icon-delete: (74px, 61px, -74px, -61px, 8px, 9px, 126px, 126px, '../images/sprite.png', 'icon_delete', );
$icon-diamond-name: 'icon_diamond';
$icon-diamond-x: 18px;
$icon-diamond-y: 98px;
$icon-diamond-offset-x: -18px;
$icon-diamond-offset-y: -98px;
$icon-diamond-width: 24px;
$icon-diamond-height: 21px;
$icon-diamond-total-width: 126px;
$icon-diamond-total-height: 126px;
$icon-diamond-image: '../images/sprite.png';
$icon-diamond: (18px, 98px, -18px, -98px, 24px, 21px, 126px, 126px, '../images/sprite.png', 'icon_diamond', );
$icon-diamond-b-name: 'icon_diamond_b';
$icon-diamond-b-x: 18px;
$icon-diamond-b-y: 74px;
$icon-diamond-b-offset-x: -18px;
$icon-diamond-b-offset-y: -74px;
$icon-diamond-b-width: 27px;
$icon-diamond-b-height: 24px;
$icon-diamond-b-total-width: 126px;
$icon-diamond-b-total-height: 126px;
$icon-diamond-b-image: '../images/sprite.png';
$icon-diamond-b: (18px, 74px, -18px, -74px, 27px, 24px, 126px, 126px, '../images/sprite.png', 'icon_diamond_b', );
$icon-diamond-s-name: 'icon_diamond_s';
$icon-diamond-s-x: 42px;
$icon-diamond-s-y: 98px;
$icon-diamond-s-offset-x: -42px;
$icon-diamond-s-offset-y: -98px;
$icon-diamond-s-width: 16px;
$icon-diamond-s-height: 14px;
$icon-diamond-s-total-width: 126px;
$icon-diamond-s-total-height: 126px;
$icon-diamond-s-image: '../images/sprite.png';
$icon-diamond-s: (42px, 98px, -42px, -98px, 16px, 14px, 126px, 126px, '../images/sprite.png', 'icon_diamond_s', );
$icon-email-name: 'icon_email';
$icon-email-x: 45px;
$icon-email-y: 74px;
$icon-email-offset-x: -45px;
$icon-email-offset-y: -74px;
$icon-email-width: 27px;
$icon-email-height: 24px;
$icon-email-total-width: 126px;
$icon-email-total-height: 126px;
$icon-email-image: '../images/sprite.png';
$icon-email: (45px, 74px, -45px, -74px, 27px, 24px, 126px, 126px, '../images/sprite.png', 'icon_email', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 72px;
$icon-facebook-y: 74px;
$icon-facebook-offset-x: -72px;
$icon-facebook-offset-y: -74px;
$icon-facebook-width: 24px;
$icon-facebook-height: 24px;
$icon-facebook-total-width: 126px;
$icon-facebook-total-height: 126px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (72px, 74px, -72px, -74px, 24px, 24px, 126px, 126px, '../images/sprite.png', 'icon_facebook', );
$icon-favorite-heart-name: 'icon_favorite_heart';
$icon-favorite-heart-x: 74px;
$icon-favorite-heart-y: 34px;
$icon-favorite-heart-offset-x: -74px;
$icon-favorite-heart-offset-y: -34px;
$icon-favorite-heart-width: 28px;
$icon-favorite-heart-height: 27px;
$icon-favorite-heart-total-width: 126px;
$icon-favorite-heart-total-height: 126px;
$icon-favorite-heart-image: '../images/sprite.png';
$icon-favorite-heart: (74px, 34px, -74px, -34px, 28px, 27px, 126px, 126px, '../images/sprite.png', 'icon_favorite_heart', );
$icon-hand-name: 'icon_hand';
$icon-hand-x: 108px;
$icon-hand-y: 52px;
$icon-hand-offset-x: -108px;
$icon-hand-offset-y: -52px;
$icon-hand-width: 18px;
$icon-hand-height: 22px;
$icon-hand-total-width: 126px;
$icon-hand-total-height: 126px;
$icon-hand-image: '../images/sprite.png';
$icon-hand: (108px, 52px, -108px, -52px, 18px, 22px, 126px, 126px, '../images/sprite.png', 'icon_hand', );
$icon-instagram-name: 'icon_instagram';
$icon-instagram-x: 96px;
$icon-instagram-y: 74px;
$icon-instagram-offset-x: -96px;
$icon-instagram-offset-y: -74px;
$icon-instagram-width: 24px;
$icon-instagram-height: 24px;
$icon-instagram-total-width: 126px;
$icon-instagram-total-height: 126px;
$icon-instagram-image: '../images/sprite.png';
$icon-instagram: (96px, 74px, -96px, -74px, 24px, 24px, 126px, 126px, '../images/sprite.png', 'icon_instagram', );
$icon-member-name: 'icon_member';
$icon-member-x: 74px;
$icon-member-y: 0px;
$icon-member-offset-x: -74px;
$icon-member-offset-y: 0px;
$icon-member-width: 34px;
$icon-member-height: 34px;
$icon-member-total-width: 126px;
$icon-member-total-height: 126px;
$icon-member-image: '../images/sprite.png';
$icon-member: (74px, 0px, -74px, 0px, 34px, 34px, 126px, 126px, '../images/sprite.png', 'icon_member', );
$icon-search-name: 'icon_search';
$icon-search-x: 34px;
$icon-search-y: 40px;
$icon-search-offset-x: -34px;
$icon-search-offset-y: -40px;
$icon-search-width: 34px;
$icon-search-height: 34px;
$icon-search-total-width: 126px;
$icon-search-total-height: 126px;
$icon-search-image: '../images/sprite.png';
$icon-search: (34px, 40px, -34px, -40px, 34px, 34px, 126px, 126px, '../images/sprite.png', 'icon_search', );
$icon-waredrobe-name: 'icon_waredrobe';
$icon-waredrobe-x: 40px;
$icon-waredrobe-y: 0px;
$icon-waredrobe-offset-x: -40px;
$icon-waredrobe-offset-y: 0px;
$icon-waredrobe-width: 34px;
$icon-waredrobe-height: 34px;
$icon-waredrobe-total-width: 126px;
$icon-waredrobe-total-height: 126px;
$icon-waredrobe-image: '../images/sprite.png';
$icon-waredrobe: (40px, 0px, -40px, 0px, 34px, 34px, 126px, 126px, '../images/sprite.png', 'icon_waredrobe', );
$arrow-slider-next-2x-name: 'arrow_slider_next-2x';
$arrow-slider-next-2x-x: 216px;
$arrow-slider-next-2x-y: 0px;
$arrow-slider-next-2x-offset-x: -216px;
$arrow-slider-next-2x-offset-y: 0px;
$arrow-slider-next-2x-width: 36px;
$arrow-slider-next-2x-height: 104px;
$arrow-slider-next-2x-total-width: 252px;
$arrow-slider-next-2x-total-height: 252px;
$arrow-slider-next-2x-image: '../images/sprite-2x.png';
$arrow-slider-next-2x: (216px, 0px, -216px, 0px, 36px, 104px, 252px, 252px, '../images/sprite-2x.png', 'arrow_slider_next-2x', );
$arrow-slider-prev-2x-name: 'arrow_slider_prev-2x';
$arrow-slider-prev-2x-x: 0px;
$arrow-slider-prev-2x-y: 148px;
$arrow-slider-prev-2x-offset-x: 0px;
$arrow-slider-prev-2x-offset-y: -148px;
$arrow-slider-prev-2x-width: 36px;
$arrow-slider-prev-2x-height: 104px;
$arrow-slider-prev-2x-total-width: 252px;
$arrow-slider-prev-2x-total-height: 252px;
$arrow-slider-prev-2x-image: '../images/sprite-2x.png';
$arrow-slider-prev-2x: (0px, 148px, 0px, -148px, 36px, 104px, 252px, 252px, '../images/sprite-2x.png', 'arrow_slider_prev-2x', );
$icon-cart-2x-name: 'icon_cart-2x';
$icon-cart-2x-x: 0px;
$icon-cart-2x-y: 80px;
$icon-cart-2x-offset-x: 0px;
$icon-cart-2x-offset-y: -80px;
$icon-cart-2x-width: 68px;
$icon-cart-2x-height: 68px;
$icon-cart-2x-total-width: 252px;
$icon-cart-2x-total-height: 252px;
$icon-cart-2x-image: '../images/sprite-2x.png';
$icon-cart-2x: (0px, 80px, 0px, -80px, 68px, 68px, 252px, 252px, '../images/sprite-2x.png', 'icon_cart-2x', );
$icon-close-2x-name: 'icon_close-2x';
$icon-close-2x-x: 0px;
$icon-close-2x-y: 0px;
$icon-close-2x-offset-x: 0px;
$icon-close-2x-offset-y: 0px;
$icon-close-2x-width: 80px;
$icon-close-2x-height: 80px;
$icon-close-2x-total-width: 252px;
$icon-close-2x-total-height: 252px;
$icon-close-2x-image: '../images/sprite-2x.png';
$icon-close-2x: (0px, 0px, 0px, 0px, 80px, 80px, 252px, 252px, '../images/sprite-2x.png', 'icon_close-2x', );
$icon-delete-2x-name: 'icon_delete-2x';
$icon-delete-2x-x: 148px;
$icon-delete-2x-y: 122px;
$icon-delete-2x-offset-x: -148px;
$icon-delete-2x-offset-y: -122px;
$icon-delete-2x-width: 16px;
$icon-delete-2x-height: 18px;
$icon-delete-2x-total-width: 252px;
$icon-delete-2x-total-height: 252px;
$icon-delete-2x-image: '../images/sprite-2x.png';
$icon-delete-2x: (148px, 122px, -148px, -122px, 16px, 18px, 252px, 252px, '../images/sprite-2x.png', 'icon_delete-2x', );
$icon-diamond-2x-name: 'icon_diamond-2x';
$icon-diamond-2x-x: 36px;
$icon-diamond-2x-y: 196px;
$icon-diamond-2x-offset-x: -36px;
$icon-diamond-2x-offset-y: -196px;
$icon-diamond-2x-width: 48px;
$icon-diamond-2x-height: 42px;
$icon-diamond-2x-total-width: 252px;
$icon-diamond-2x-total-height: 252px;
$icon-diamond-2x-image: '../images/sprite-2x.png';
$icon-diamond-2x: (36px, 196px, -36px, -196px, 48px, 42px, 252px, 252px, '../images/sprite-2x.png', 'icon_diamond-2x', );
$icon-diamond-b-2x-name: 'icon_diamond_b-2x';
$icon-diamond-b-2x-x: 36px;
$icon-diamond-b-2x-y: 148px;
$icon-diamond-b-2x-offset-x: -36px;
$icon-diamond-b-2x-offset-y: -148px;
$icon-diamond-b-2x-width: 54px;
$icon-diamond-b-2x-height: 48px;
$icon-diamond-b-2x-total-width: 252px;
$icon-diamond-b-2x-total-height: 252px;
$icon-diamond-b-2x-image: '../images/sprite-2x.png';
$icon-diamond-b-2x: (36px, 148px, -36px, -148px, 54px, 48px, 252px, 252px, '../images/sprite-2x.png', 'icon_diamond_b-2x', );
$icon-diamond-s-2x-name: 'icon_diamond_s-2x';
$icon-diamond-s-2x-x: 84px;
$icon-diamond-s-2x-y: 196px;
$icon-diamond-s-2x-offset-x: -84px;
$icon-diamond-s-2x-offset-y: -196px;
$icon-diamond-s-2x-width: 32px;
$icon-diamond-s-2x-height: 28px;
$icon-diamond-s-2x-total-width: 252px;
$icon-diamond-s-2x-total-height: 252px;
$icon-diamond-s-2x-image: '../images/sprite-2x.png';
$icon-diamond-s-2x: (84px, 196px, -84px, -196px, 32px, 28px, 252px, 252px, '../images/sprite-2x.png', 'icon_diamond_s-2x', );
$icon-email-2x-name: 'icon_email-2x';
$icon-email-2x-x: 90px;
$icon-email-2x-y: 148px;
$icon-email-2x-offset-x: -90px;
$icon-email-2x-offset-y: -148px;
$icon-email-2x-width: 54px;
$icon-email-2x-height: 48px;
$icon-email-2x-total-width: 252px;
$icon-email-2x-total-height: 252px;
$icon-email-2x-image: '../images/sprite-2x.png';
$icon-email-2x: (90px, 148px, -90px, -148px, 54px, 48px, 252px, 252px, '../images/sprite-2x.png', 'icon_email-2x', );
$icon-facebook-2x-name: 'icon_facebook-2x';
$icon-facebook-2x-x: 144px;
$icon-facebook-2x-y: 148px;
$icon-facebook-2x-offset-x: -144px;
$icon-facebook-2x-offset-y: -148px;
$icon-facebook-2x-width: 48px;
$icon-facebook-2x-height: 48px;
$icon-facebook-2x-total-width: 252px;
$icon-facebook-2x-total-height: 252px;
$icon-facebook-2x-image: '../images/sprite-2x.png';
$icon-facebook-2x: (144px, 148px, -144px, -148px, 48px, 48px, 252px, 252px, '../images/sprite-2x.png', 'icon_facebook-2x', );
$icon-favorite-heart-2x-name: 'icon_favorite_heart-2x';
$icon-favorite-heart-2x-x: 148px;
$icon-favorite-heart-2x-y: 68px;
$icon-favorite-heart-2x-offset-x: -148px;
$icon-favorite-heart-2x-offset-y: -68px;
$icon-favorite-heart-2x-width: 56px;
$icon-favorite-heart-2x-height: 54px;
$icon-favorite-heart-2x-total-width: 252px;
$icon-favorite-heart-2x-total-height: 252px;
$icon-favorite-heart-2x-image: '../images/sprite-2x.png';
$icon-favorite-heart-2x: (148px, 68px, -148px, -68px, 56px, 54px, 252px, 252px, '../images/sprite-2x.png', 'icon_favorite_heart-2x', );
$icon-hand-2x-name: 'icon_hand-2x';
$icon-hand-2x-x: 216px;
$icon-hand-2x-y: 104px;
$icon-hand-2x-offset-x: -216px;
$icon-hand-2x-offset-y: -104px;
$icon-hand-2x-width: 36px;
$icon-hand-2x-height: 44px;
$icon-hand-2x-total-width: 252px;
$icon-hand-2x-total-height: 252px;
$icon-hand-2x-image: '../images/sprite-2x.png';
$icon-hand-2x: (216px, 104px, -216px, -104px, 36px, 44px, 252px, 252px, '../images/sprite-2x.png', 'icon_hand-2x', );
$icon-instagram-2x-name: 'icon_instagram-2x';
$icon-instagram-2x-x: 192px;
$icon-instagram-2x-y: 148px;
$icon-instagram-2x-offset-x: -192px;
$icon-instagram-2x-offset-y: -148px;
$icon-instagram-2x-width: 48px;
$icon-instagram-2x-height: 48px;
$icon-instagram-2x-total-width: 252px;
$icon-instagram-2x-total-height: 252px;
$icon-instagram-2x-image: '../images/sprite-2x.png';
$icon-instagram-2x: (192px, 148px, -192px, -148px, 48px, 48px, 252px, 252px, '../images/sprite-2x.png', 'icon_instagram-2x', );
$icon-member-2x-name: 'icon_member-2x';
$icon-member-2x-x: 148px;
$icon-member-2x-y: 0px;
$icon-member-2x-offset-x: -148px;
$icon-member-2x-offset-y: 0px;
$icon-member-2x-width: 68px;
$icon-member-2x-height: 68px;
$icon-member-2x-total-width: 252px;
$icon-member-2x-total-height: 252px;
$icon-member-2x-image: '../images/sprite-2x.png';
$icon-member-2x: (148px, 0px, -148px, 0px, 68px, 68px, 252px, 252px, '../images/sprite-2x.png', 'icon_member-2x', );
$icon-search-2x-name: 'icon_search-2x';
$icon-search-2x-x: 68px;
$icon-search-2x-y: 80px;
$icon-search-2x-offset-x: -68px;
$icon-search-2x-offset-y: -80px;
$icon-search-2x-width: 68px;
$icon-search-2x-height: 68px;
$icon-search-2x-total-width: 252px;
$icon-search-2x-total-height: 252px;
$icon-search-2x-image: '../images/sprite-2x.png';
$icon-search-2x: (68px, 80px, -68px, -80px, 68px, 68px, 252px, 252px, '../images/sprite-2x.png', 'icon_search-2x', );
$icon-waredrobe-2x-name: 'icon_waredrobe-2x';
$icon-waredrobe-2x-x: 80px;
$icon-waredrobe-2x-y: 0px;
$icon-waredrobe-2x-offset-x: -80px;
$icon-waredrobe-2x-offset-y: 0px;
$icon-waredrobe-2x-width: 68px;
$icon-waredrobe-2x-height: 68px;
$icon-waredrobe-2x-total-width: 252px;
$icon-waredrobe-2x-total-height: 252px;
$icon-waredrobe-2x-image: '../images/sprite-2x.png';
$icon-waredrobe-2x: (80px, 0px, -80px, 0px, 68px, 68px, 252px, 252px, '../images/sprite-2x.png', 'icon_waredrobe-2x', );
$spritesheet-width: 126px;
$spritesheet-height: 126px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-slider-next, $arrow-slider-prev, $icon-cart, $icon-close, $icon-delete, $icon-diamond, $icon-diamond-b, $icon-diamond-s, $icon-email, $icon-facebook, $icon-favorite-heart, $icon-hand, $icon-instagram, $icon-member, $icon-search, $icon-waredrobe, );
$spritesheet: (126px, 126px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 252px;
$retina-spritesheet-height: 252px;
$retina-spritesheet-image: '../images/sprite-2x.png';
$retina-spritesheet-sprites: ($arrow-slider-next-2x, $arrow-slider-prev-2x, $icon-cart-2x, $icon-close-2x, $icon-delete-2x, $icon-diamond-2x, $icon-diamond-b-2x, $icon-diamond-s-2x, $icon-email-2x, $icon-facebook-2x, $icon-favorite-heart-2x, $icon-hand-2x, $icon-instagram-2x, $icon-member-2x, $icon-search-2x, $icon-waredrobe-2x, );
$retina-spritesheet: (252px, 252px, '../images/sprite-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$arrow-slider-next-group-name: 'arrow_slider_next';
$arrow-slider-next-group: ('arrow_slider_next', $arrow-slider-next, $arrow-slider-next-2x, );
$arrow-slider-prev-group-name: 'arrow_slider_prev';
$arrow-slider-prev-group: ('arrow_slider_prev', $arrow-slider-prev, $arrow-slider-prev-2x, );
$icon-cart-group-name: 'icon_cart';
$icon-cart-group: ('icon_cart', $icon-cart, $icon-cart-2x, );
$icon-close-group-name: 'icon_close';
$icon-close-group: ('icon_close', $icon-close, $icon-close-2x, );
$icon-delete-group-name: 'icon_delete';
$icon-delete-group: ('icon_delete', $icon-delete, $icon-delete-2x, );
$icon-diamond-group-name: 'icon_diamond';
$icon-diamond-group: ('icon_diamond', $icon-diamond, $icon-diamond-2x, );
$icon-diamond-b-group-name: 'icon_diamond_b';
$icon-diamond-b-group: ('icon_diamond_b', $icon-diamond-b, $icon-diamond-b-2x, );
$icon-diamond-s-group-name: 'icon_diamond_s';
$icon-diamond-s-group: ('icon_diamond_s', $icon-diamond-s, $icon-diamond-s-2x, );
$icon-email-group-name: 'icon_email';
$icon-email-group: ('icon_email', $icon-email, $icon-email-2x, );
$icon-facebook-group-name: 'icon_facebook';
$icon-facebook-group: ('icon_facebook', $icon-facebook, $icon-facebook-2x, );
$icon-favorite-heart-group-name: 'icon_favorite_heart';
$icon-favorite-heart-group: ('icon_favorite_heart', $icon-favorite-heart, $icon-favorite-heart-2x, );
$icon-hand-group-name: 'icon_hand';
$icon-hand-group: ('icon_hand', $icon-hand, $icon-hand-2x, );
$icon-instagram-group-name: 'icon_instagram';
$icon-instagram-group: ('icon_instagram', $icon-instagram, $icon-instagram-2x, );
$icon-member-group-name: 'icon_member';
$icon-member-group: ('icon_member', $icon-member, $icon-member-2x, );
$icon-search-group-name: 'icon_search';
$icon-search-group: ('icon_search', $icon-search, $icon-search-2x, );
$icon-waredrobe-group-name: 'icon_waredrobe';
$icon-waredrobe-group: ('icon_waredrobe', $icon-waredrobe, $icon-waredrobe-2x, );
$retina-groups: ($arrow-slider-next-group, $arrow-slider-prev-group, $icon-cart-group, $icon-close-group, $icon-delete-group, $icon-diamond-group, $icon-diamond-b-group, $icon-diamond-s-group, $icon-email-group, $icon-facebook-group, $icon-favorite-heart-group, $icon-hand-group, $icon-instagram-group, $icon-member-group, $icon-search-group, $icon-waredrobe-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
