// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cart-name: 'icon_cart';
$icon-cart-x: 40px;
$icon-cart-y: 0px;
$icon-cart-offset-x: -40px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 34px;
$icon-cart-height: 34px;
$icon-cart-total-width: 108px;
$icon-cart-total-height: 74px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (40px, 0px, -40px, 0px, 34px, 34px, 108px, 74px, '../images/sprite.png', 'icon_cart', );
$icon-close-name: 'icon_close';
$icon-close-x: 0px;
$icon-close-y: 0px;
$icon-close-offset-x: 0px;
$icon-close-offset-y: 0px;
$icon-close-width: 40px;
$icon-close-height: 40px;
$icon-close-total-width: 108px;
$icon-close-total-height: 74px;
$icon-close-image: '../images/sprite.png';
$icon-close: (0px, 0px, 0px, 0px, 40px, 40px, 108px, 74px, '../images/sprite.png', 'icon_close', );
$icon-delete-name: 'icon_delete';
$icon-delete-x: 74px;
$icon-delete-y: 34px;
$icon-delete-offset-x: -74px;
$icon-delete-offset-y: -34px;
$icon-delete-width: 8px;
$icon-delete-height: 9px;
$icon-delete-total-width: 108px;
$icon-delete-total-height: 74px;
$icon-delete-image: '../images/sprite.png';
$icon-delete: (74px, 34px, -74px, -34px, 8px, 9px, 108px, 74px, '../images/sprite.png', 'icon_delete', );
$icon-member-name: 'icon_member';
$icon-member-x: 0px;
$icon-member-y: 40px;
$icon-member-offset-x: 0px;
$icon-member-offset-y: -40px;
$icon-member-width: 34px;
$icon-member-height: 34px;
$icon-member-total-width: 108px;
$icon-member-total-height: 74px;
$icon-member-image: '../images/sprite.png';
$icon-member: (0px, 40px, 0px, -40px, 34px, 34px, 108px, 74px, '../images/sprite.png', 'icon_member', );
$icon-search-name: 'icon_search';
$icon-search-x: 34px;
$icon-search-y: 40px;
$icon-search-offset-x: -34px;
$icon-search-offset-y: -40px;
$icon-search-width: 34px;
$icon-search-height: 34px;
$icon-search-total-width: 108px;
$icon-search-total-height: 74px;
$icon-search-image: '../images/sprite.png';
$icon-search: (34px, 40px, -34px, -40px, 34px, 34px, 108px, 74px, '../images/sprite.png', 'icon_search', );
$icon-waredrobe-name: 'icon_waredrobe';
$icon-waredrobe-x: 74px;
$icon-waredrobe-y: 0px;
$icon-waredrobe-offset-x: -74px;
$icon-waredrobe-offset-y: 0px;
$icon-waredrobe-width: 34px;
$icon-waredrobe-height: 34px;
$icon-waredrobe-total-width: 108px;
$icon-waredrobe-total-height: 74px;
$icon-waredrobe-image: '../images/sprite.png';
$icon-waredrobe: (74px, 0px, -74px, 0px, 34px, 34px, 108px, 74px, '../images/sprite.png', 'icon_waredrobe', );
$icon-cart-2x-name: 'icon_cart-2x';
$icon-cart-2x-x: 80px;
$icon-cart-2x-y: 0px;
$icon-cart-2x-offset-x: -80px;
$icon-cart-2x-offset-y: 0px;
$icon-cart-2x-width: 68px;
$icon-cart-2x-height: 68px;
$icon-cart-2x-total-width: 216px;
$icon-cart-2x-total-height: 148px;
$icon-cart-2x-image: '../images/sprite-2x.png';
$icon-cart-2x: (80px, 0px, -80px, 0px, 68px, 68px, 216px, 148px, '../images/sprite-2x.png', 'icon_cart-2x', );
$icon-close-2x-name: 'icon_close-2x';
$icon-close-2x-x: 0px;
$icon-close-2x-y: 0px;
$icon-close-2x-offset-x: 0px;
$icon-close-2x-offset-y: 0px;
$icon-close-2x-width: 80px;
$icon-close-2x-height: 80px;
$icon-close-2x-total-width: 216px;
$icon-close-2x-total-height: 148px;
$icon-close-2x-image: '../images/sprite-2x.png';
$icon-close-2x: (0px, 0px, 0px, 0px, 80px, 80px, 216px, 148px, '../images/sprite-2x.png', 'icon_close-2x', );
$icon-delete-2x-name: 'icon_delete-2x';
$icon-delete-2x-x: 148px;
$icon-delete-2x-y: 68px;
$icon-delete-2x-offset-x: -148px;
$icon-delete-2x-offset-y: -68px;
$icon-delete-2x-width: 16px;
$icon-delete-2x-height: 18px;
$icon-delete-2x-total-width: 216px;
$icon-delete-2x-total-height: 148px;
$icon-delete-2x-image: '../images/sprite-2x.png';
$icon-delete-2x: (148px, 68px, -148px, -68px, 16px, 18px, 216px, 148px, '../images/sprite-2x.png', 'icon_delete-2x', );
$icon-member-2x-name: 'icon_member-2x';
$icon-member-2x-x: 0px;
$icon-member-2x-y: 80px;
$icon-member-2x-offset-x: 0px;
$icon-member-2x-offset-y: -80px;
$icon-member-2x-width: 68px;
$icon-member-2x-height: 68px;
$icon-member-2x-total-width: 216px;
$icon-member-2x-total-height: 148px;
$icon-member-2x-image: '../images/sprite-2x.png';
$icon-member-2x: (0px, 80px, 0px, -80px, 68px, 68px, 216px, 148px, '../images/sprite-2x.png', 'icon_member-2x', );
$icon-search-2x-name: 'icon_search-2x';
$icon-search-2x-x: 68px;
$icon-search-2x-y: 80px;
$icon-search-2x-offset-x: -68px;
$icon-search-2x-offset-y: -80px;
$icon-search-2x-width: 68px;
$icon-search-2x-height: 68px;
$icon-search-2x-total-width: 216px;
$icon-search-2x-total-height: 148px;
$icon-search-2x-image: '../images/sprite-2x.png';
$icon-search-2x: (68px, 80px, -68px, -80px, 68px, 68px, 216px, 148px, '../images/sprite-2x.png', 'icon_search-2x', );
$icon-waredrobe-2x-name: 'icon_waredrobe-2x';
$icon-waredrobe-2x-x: 148px;
$icon-waredrobe-2x-y: 0px;
$icon-waredrobe-2x-offset-x: -148px;
$icon-waredrobe-2x-offset-y: 0px;
$icon-waredrobe-2x-width: 68px;
$icon-waredrobe-2x-height: 68px;
$icon-waredrobe-2x-total-width: 216px;
$icon-waredrobe-2x-total-height: 148px;
$icon-waredrobe-2x-image: '../images/sprite-2x.png';
$icon-waredrobe-2x: (148px, 0px, -148px, 0px, 68px, 68px, 216px, 148px, '../images/sprite-2x.png', 'icon_waredrobe-2x', );
$spritesheet-width: 108px;
$spritesheet-height: 74px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-cart, $icon-close, $icon-delete, $icon-member, $icon-search, $icon-waredrobe, );
$spritesheet: (108px, 74px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 216px;
$retina-spritesheet-height: 148px;
$retina-spritesheet-image: '../images/sprite-2x.png';
$retina-spritesheet-sprites: ($icon-cart-2x, $icon-close-2x, $icon-delete-2x, $icon-member-2x, $icon-search-2x, $icon-waredrobe-2x, );
$retina-spritesheet: (216px, 148px, '../images/sprite-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-cart-group-name: 'icon_cart';
$icon-cart-group: ('icon_cart', $icon-cart, $icon-cart-2x, );
$icon-close-group-name: 'icon_close';
$icon-close-group: ('icon_close', $icon-close, $icon-close-2x, );
$icon-delete-group-name: 'icon_delete';
$icon-delete-group: ('icon_delete', $icon-delete, $icon-delete-2x, );
$icon-member-group-name: 'icon_member';
$icon-member-group: ('icon_member', $icon-member, $icon-member-2x, );
$icon-search-group-name: 'icon_search';
$icon-search-group: ('icon_search', $icon-search, $icon-search-2x, );
$icon-waredrobe-group-name: 'icon_waredrobe';
$icon-waredrobe-group: ('icon_waredrobe', $icon-waredrobe, $icon-waredrobe-2x, );
$retina-groups: ($icon-cart-group, $icon-close-group, $icon-delete-group, $icon-member-group, $icon-search-group, $icon-waredrobe-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
