// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow_down';
$arrow-down-x: 126px;
$arrow-down-y: 98px;
$arrow-down-offset-x: -126px;
$arrow-down-offset-y: -98px;
$arrow-down-width: 16px;
$arrow-down-height: 16px;
$arrow-down-total-width: 146px;
$arrow-down-total-height: 136px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (126px, 98px, -126px, -98px, 16px, 16px, 146px, 136px, '../images/sprite.png', 'arrow_down', );
$arrow-slider-next-name: 'arrow_slider_next';
$arrow-slider-next-x: 0px;
$arrow-slider-next-y: 74px;
$arrow-slider-next-offset-x: 0px;
$arrow-slider-next-offset-y: -74px;
$arrow-slider-next-width: 18px;
$arrow-slider-next-height: 52px;
$arrow-slider-next-total-width: 146px;
$arrow-slider-next-total-height: 136px;
$arrow-slider-next-image: '../images/sprite.png';
$arrow-slider-next: (0px, 74px, 0px, -74px, 18px, 52px, 146px, 136px, '../images/sprite.png', 'arrow_slider_next', );
$arrow-slider-next-v-name: 'arrow_slider_next_v';
$arrow-slider-next-v-x: 0px;
$arrow-slider-next-v-y: 126px;
$arrow-slider-next-v-offset-x: 0px;
$arrow-slider-next-v-offset-y: -126px;
$arrow-slider-next-v-width: 30px;
$arrow-slider-next-v-height: 10px;
$arrow-slider-next-v-total-width: 146px;
$arrow-slider-next-v-total-height: 136px;
$arrow-slider-next-v-image: '../images/sprite.png';
$arrow-slider-next-v: (0px, 126px, 0px, -126px, 30px, 10px, 146px, 136px, '../images/sprite.png', 'arrow_slider_next_v', );
$arrow-slider-prev-name: 'arrow_slider_prev';
$arrow-slider-prev-x: 108px;
$arrow-slider-prev-y: 0px;
$arrow-slider-prev-offset-x: -108px;
$arrow-slider-prev-offset-y: 0px;
$arrow-slider-prev-width: 18px;
$arrow-slider-prev-height: 52px;
$arrow-slider-prev-total-width: 146px;
$arrow-slider-prev-total-height: 136px;
$arrow-slider-prev-image: '../images/sprite.png';
$arrow-slider-prev: (108px, 0px, -108px, 0px, 18px, 52px, 146px, 136px, '../images/sprite.png', 'arrow_slider_prev', );
$arrow-slider-prev-v-name: 'arrow_slider_prev_v';
$arrow-slider-prev-v-x: 30px;
$arrow-slider-prev-v-y: 126px;
$arrow-slider-prev-v-offset-x: -30px;
$arrow-slider-prev-v-offset-y: -126px;
$arrow-slider-prev-v-width: 30px;
$arrow-slider-prev-v-height: 10px;
$arrow-slider-prev-v-total-width: 146px;
$arrow-slider-prev-v-total-height: 136px;
$arrow-slider-prev-v-image: '../images/sprite.png';
$arrow-slider-prev-v: (30px, 126px, -30px, -126px, 30px, 10px, 146px, 136px, '../images/sprite.png', 'arrow_slider_prev_v', );
$icon-cart-name: 'icon_cart';
$icon-cart-x: 74px;
$icon-cart-y: 0px;
$icon-cart-offset-x: -74px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 34px;
$icon-cart-height: 34px;
$icon-cart-total-width: 146px;
$icon-cart-total-height: 136px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (74px, 0px, -74px, 0px, 34px, 34px, 146px, 136px, '../images/sprite.png', 'icon_cart', );
$icon-close-name: 'icon_close';
$icon-close-x: 0px;
$icon-close-y: 0px;
$icon-close-offset-x: 0px;
$icon-close-offset-y: 0px;
$icon-close-width: 40px;
$icon-close-height: 40px;
$icon-close-total-width: 146px;
$icon-close-total-height: 136px;
$icon-close-image: '../images/sprite.png';
$icon-close: (0px, 0px, 0px, 0px, 40px, 40px, 146px, 136px, '../images/sprite.png', 'icon_close', );
$icon-delete-name: 'icon_delete';
$icon-delete-x: 126px;
$icon-delete-y: 114px;
$icon-delete-offset-x: -126px;
$icon-delete-offset-y: -114px;
$icon-delete-width: 8px;
$icon-delete-height: 9px;
$icon-delete-total-width: 146px;
$icon-delete-total-height: 136px;
$icon-delete-image: '../images/sprite.png';
$icon-delete: (126px, 114px, -126px, -114px, 8px, 9px, 146px, 136px, '../images/sprite.png', 'icon_delete', );
$icon-diamond-name: 'icon_diamond';
$icon-diamond-x: 93px;
$icon-diamond-y: 101px;
$icon-diamond-offset-x: -93px;
$icon-diamond-offset-y: -101px;
$icon-diamond-width: 24px;
$icon-diamond-height: 21px;
$icon-diamond-total-width: 146px;
$icon-diamond-total-height: 136px;
$icon-diamond-image: '../images/sprite.png';
$icon-diamond: (93px, 101px, -93px, -101px, 24px, 21px, 146px, 136px, '../images/sprite.png', 'icon_diamond', );
$icon-diamond-b-name: 'icon_diamond_b';
$icon-diamond-b-x: 76px;
$icon-diamond-b-y: 74px;
$icon-diamond-b-offset-x: -76px;
$icon-diamond-b-offset-y: -74px;
$icon-diamond-b-width: 27px;
$icon-diamond-b-height: 24px;
$icon-diamond-b-total-width: 146px;
$icon-diamond-b-total-height: 136px;
$icon-diamond-b-image: '../images/sprite.png';
$icon-diamond-b: (76px, 74px, -76px, -74px, 27px, 24px, 146px, 136px, '../images/sprite.png', 'icon_diamond_b', );
$icon-diamond-s-name: 'icon_diamond_s';
$icon-diamond-s-x: 108px;
$icon-diamond-s-y: 52px;
$icon-diamond-s-offset-x: -108px;
$icon-diamond-s-offset-y: -52px;
$icon-diamond-s-width: 16px;
$icon-diamond-s-height: 14px;
$icon-diamond-s-total-width: 146px;
$icon-diamond-s-total-height: 136px;
$icon-diamond-s-image: '../images/sprite.png';
$icon-diamond-s: (108px, 52px, -108px, -52px, 16px, 14px, 146px, 136px, '../images/sprite.png', 'icon_diamond_s', );
$icon-email-name: 'icon_email';
$icon-email-x: 18px;
$icon-email-y: 101px;
$icon-email-offset-x: -18px;
$icon-email-offset-y: -101px;
$icon-email-width: 27px;
$icon-email-height: 24px;
$icon-email-total-width: 146px;
$icon-email-total-height: 136px;
$icon-email-image: '../images/sprite.png';
$icon-email: (18px, 101px, -18px, -101px, 27px, 24px, 146px, 136px, '../images/sprite.png', 'icon_email', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 69px;
$icon-facebook-y: 101px;
$icon-facebook-offset-x: -69px;
$icon-facebook-offset-y: -101px;
$icon-facebook-width: 24px;
$icon-facebook-height: 24px;
$icon-facebook-total-width: 146px;
$icon-facebook-total-height: 136px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (69px, 101px, -69px, -101px, 24px, 24px, 146px, 136px, '../images/sprite.png', 'icon_facebook', );
$icon-favorite-heart-name: 'icon_favorite_heart';
$icon-favorite-heart-x: 47px;
$icon-favorite-heart-y: 74px;
$icon-favorite-heart-offset-x: -47px;
$icon-favorite-heart-offset-y: -74px;
$icon-favorite-heart-width: 29px;
$icon-favorite-heart-height: 27px;
$icon-favorite-heart-total-width: 146px;
$icon-favorite-heart-total-height: 136px;
$icon-favorite-heart-image: '../images/sprite.png';
$icon-favorite-heart: (47px, 74px, -47px, -74px, 29px, 27px, 146px, 136px, '../images/sprite.png', 'icon_favorite_heart', );
$icon-favorite-heart-active-name: 'icon_favorite_heart_active';
$icon-favorite-heart-active-x: 18px;
$icon-favorite-heart-active-y: 74px;
$icon-favorite-heart-active-offset-x: -18px;
$icon-favorite-heart-active-offset-y: -74px;
$icon-favorite-heart-active-width: 29px;
$icon-favorite-heart-active-height: 27px;
$icon-favorite-heart-active-total-width: 146px;
$icon-favorite-heart-active-total-height: 136px;
$icon-favorite-heart-active-image: '../images/sprite.png';
$icon-favorite-heart-active: (18px, 74px, -18px, -74px, 29px, 27px, 146px, 136px, '../images/sprite.png', 'icon_favorite_heart_active', );
$icon-hand-name: 'icon_hand';
$icon-hand-x: 126px;
$icon-hand-y: 60px;
$icon-hand-offset-x: -126px;
$icon-hand-offset-y: -60px;
$icon-hand-width: 18px;
$icon-hand-height: 22px;
$icon-hand-total-width: 146px;
$icon-hand-total-height: 136px;
$icon-hand-image: '../images/sprite.png';
$icon-hand: (126px, 60px, -126px, -60px, 18px, 22px, 146px, 136px, '../images/sprite.png', 'icon_hand', );
$icon-instagram-name: 'icon_instagram';
$icon-instagram-x: 45px;
$icon-instagram-y: 101px;
$icon-instagram-offset-x: -45px;
$icon-instagram-offset-y: -101px;
$icon-instagram-width: 24px;
$icon-instagram-height: 24px;
$icon-instagram-total-width: 146px;
$icon-instagram-total-height: 136px;
$icon-instagram-image: '../images/sprite.png';
$icon-instagram: (45px, 101px, -45px, -101px, 24px, 24px, 146px, 136px, '../images/sprite.png', 'icon_instagram', );
$icon-logout-name: 'icon_logout';
$icon-logout-x: 74px;
$icon-logout-y: 34px;
$icon-logout-offset-x: -74px;
$icon-logout-offset-y: -34px;
$icon-logout-width: 34px;
$icon-logout-height: 34px;
$icon-logout-total-width: 146px;
$icon-logout-total-height: 136px;
$icon-logout-image: '../images/sprite.png';
$icon-logout: (74px, 34px, -74px, -34px, 34px, 34px, 146px, 136px, '../images/sprite.png', 'icon_logout', );
$icon-member-name: 'icon_member';
$icon-member-x: 34px;
$icon-member-y: 40px;
$icon-member-offset-x: -34px;
$icon-member-offset-y: -40px;
$icon-member-width: 34px;
$icon-member-height: 34px;
$icon-member-total-width: 146px;
$icon-member-total-height: 136px;
$icon-member-image: '../images/sprite.png';
$icon-member: (34px, 40px, -34px, -40px, 34px, 34px, 146px, 136px, '../images/sprite.png', 'icon_member', );
$icon-msg-name: 'icon_msg';
$icon-msg-x: 126px;
$icon-msg-y: 82px;
$icon-msg-offset-x: -126px;
$icon-msg-offset-y: -82px;
$icon-msg-width: 18px;
$icon-msg-height: 16px;
$icon-msg-total-width: 146px;
$icon-msg-total-height: 136px;
$icon-msg-image: '../images/sprite.png';
$icon-msg: (126px, 82px, -126px, -82px, 18px, 16px, 146px, 136px, '../images/sprite.png', 'icon_msg', );
$icon-search-name: 'icon_search';
$icon-search-x: 0px;
$icon-search-y: 40px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -40px;
$icon-search-width: 34px;
$icon-search-height: 34px;
$icon-search-total-width: 146px;
$icon-search-total-height: 136px;
$icon-search-image: '../images/sprite.png';
$icon-search: (0px, 40px, 0px, -40px, 34px, 34px, 146px, 136px, '../images/sprite.png', 'icon_search', );
$icon-share-facebook-name: 'icon_share_facebook';
$icon-share-facebook-x: 126px;
$icon-share-facebook-y: 40px;
$icon-share-facebook-offset-x: -126px;
$icon-share-facebook-offset-y: -40px;
$icon-share-facebook-width: 20px;
$icon-share-facebook-height: 20px;
$icon-share-facebook-total-width: 146px;
$icon-share-facebook-total-height: 136px;
$icon-share-facebook-image: '../images/sprite.png';
$icon-share-facebook: (126px, 40px, -126px, -40px, 20px, 20px, 146px, 136px, '../images/sprite.png', 'icon_share_facebook', );
$icon-share-pinterest-name: 'icon_share_pinterest';
$icon-share-pinterest-x: 126px;
$icon-share-pinterest-y: 0px;
$icon-share-pinterest-offset-x: -126px;
$icon-share-pinterest-offset-y: 0px;
$icon-share-pinterest-width: 20px;
$icon-share-pinterest-height: 20px;
$icon-share-pinterest-total-width: 146px;
$icon-share-pinterest-total-height: 136px;
$icon-share-pinterest-image: '../images/sprite.png';
$icon-share-pinterest: (126px, 0px, -126px, 0px, 20px, 20px, 146px, 136px, '../images/sprite.png', 'icon_share_pinterest', );
$icon-share-twitter-name: 'icon_share_twitter';
$icon-share-twitter-x: 126px;
$icon-share-twitter-y: 20px;
$icon-share-twitter-offset-x: -126px;
$icon-share-twitter-offset-y: -20px;
$icon-share-twitter-width: 20px;
$icon-share-twitter-height: 20px;
$icon-share-twitter-total-width: 146px;
$icon-share-twitter-total-height: 136px;
$icon-share-twitter-image: '../images/sprite.png';
$icon-share-twitter: (126px, 20px, -126px, -20px, 20px, 20px, 146px, 136px, '../images/sprite.png', 'icon_share_twitter', );
$icon-share-weibo-name: 'icon_share_weibo';
$icon-share-weibo-x: 103px;
$icon-share-weibo-y: 74px;
$icon-share-weibo-offset-x: -103px;
$icon-share-weibo-offset-y: -74px;
$icon-share-weibo-width: 20px;
$icon-share-weibo-height: 20px;
$icon-share-weibo-total-width: 146px;
$icon-share-weibo-total-height: 136px;
$icon-share-weibo-image: '../images/sprite.png';
$icon-share-weibo: (103px, 74px, -103px, -74px, 20px, 20px, 146px, 136px, '../images/sprite.png', 'icon_share_weibo', );
$icon-waredrobe-name: 'icon_waredrobe';
$icon-waredrobe-x: 40px;
$icon-waredrobe-y: 0px;
$icon-waredrobe-offset-x: -40px;
$icon-waredrobe-offset-y: 0px;
$icon-waredrobe-width: 34px;
$icon-waredrobe-height: 34px;
$icon-waredrobe-total-width: 146px;
$icon-waredrobe-total-height: 136px;
$icon-waredrobe-image: '../images/sprite.png';
$icon-waredrobe: (40px, 0px, -40px, 0px, 34px, 34px, 146px, 136px, '../images/sprite.png', 'icon_waredrobe', );
$arrow-down-2x-name: 'arrow_down-2x';
$arrow-down-2x-x: 252px;
$arrow-down-2x-y: 196px;
$arrow-down-2x-offset-x: -252px;
$arrow-down-2x-offset-y: -196px;
$arrow-down-2x-width: 32px;
$arrow-down-2x-height: 32px;
$arrow-down-2x-total-width: 292px;
$arrow-down-2x-total-height: 272px;
$arrow-down-2x-image: '../images/sprite-2x.png';
$arrow-down-2x: (252px, 196px, -252px, -196px, 32px, 32px, 292px, 272px, '../images/sprite-2x.png', 'arrow_down-2x', );
$arrow-slider-next-2x-name: 'arrow_slider_next-2x';
$arrow-slider-next-2x-x: 0px;
$arrow-slider-next-2x-y: 148px;
$arrow-slider-next-2x-offset-x: 0px;
$arrow-slider-next-2x-offset-y: -148px;
$arrow-slider-next-2x-width: 36px;
$arrow-slider-next-2x-height: 104px;
$arrow-slider-next-2x-total-width: 292px;
$arrow-slider-next-2x-total-height: 272px;
$arrow-slider-next-2x-image: '../images/sprite-2x.png';
$arrow-slider-next-2x: (0px, 148px, 0px, -148px, 36px, 104px, 292px, 272px, '../images/sprite-2x.png', 'arrow_slider_next-2x', );
$arrow-slider-next-v-2x-name: 'arrow_slider_next_v-2x';
$arrow-slider-next-v-2x-x: 0px;
$arrow-slider-next-v-2x-y: 252px;
$arrow-slider-next-v-2x-offset-x: 0px;
$arrow-slider-next-v-2x-offset-y: -252px;
$arrow-slider-next-v-2x-width: 60px;
$arrow-slider-next-v-2x-height: 20px;
$arrow-slider-next-v-2x-total-width: 292px;
$arrow-slider-next-v-2x-total-height: 272px;
$arrow-slider-next-v-2x-image: '../images/sprite-2x.png';
$arrow-slider-next-v-2x: (0px, 252px, 0px, -252px, 60px, 20px, 292px, 272px, '../images/sprite-2x.png', 'arrow_slider_next_v-2x', );
$arrow-slider-prev-2x-name: 'arrow_slider_prev-2x';
$arrow-slider-prev-2x-x: 216px;
$arrow-slider-prev-2x-y: 0px;
$arrow-slider-prev-2x-offset-x: -216px;
$arrow-slider-prev-2x-offset-y: 0px;
$arrow-slider-prev-2x-width: 36px;
$arrow-slider-prev-2x-height: 104px;
$arrow-slider-prev-2x-total-width: 292px;
$arrow-slider-prev-2x-total-height: 272px;
$arrow-slider-prev-2x-image: '../images/sprite-2x.png';
$arrow-slider-prev-2x: (216px, 0px, -216px, 0px, 36px, 104px, 292px, 272px, '../images/sprite-2x.png', 'arrow_slider_prev-2x', );
$arrow-slider-prev-v-2x-name: 'arrow_slider_prev_v-2x';
$arrow-slider-prev-v-2x-x: 60px;
$arrow-slider-prev-v-2x-y: 252px;
$arrow-slider-prev-v-2x-offset-x: -60px;
$arrow-slider-prev-v-2x-offset-y: -252px;
$arrow-slider-prev-v-2x-width: 60px;
$arrow-slider-prev-v-2x-height: 20px;
$arrow-slider-prev-v-2x-total-width: 292px;
$arrow-slider-prev-v-2x-total-height: 272px;
$arrow-slider-prev-v-2x-image: '../images/sprite-2x.png';
$arrow-slider-prev-v-2x: (60px, 252px, -60px, -252px, 60px, 20px, 292px, 272px, '../images/sprite-2x.png', 'arrow_slider_prev_v-2x', );
$icon-cart-2x-name: 'icon_cart-2x';
$icon-cart-2x-x: 148px;
$icon-cart-2x-y: 0px;
$icon-cart-2x-offset-x: -148px;
$icon-cart-2x-offset-y: 0px;
$icon-cart-2x-width: 68px;
$icon-cart-2x-height: 68px;
$icon-cart-2x-total-width: 292px;
$icon-cart-2x-total-height: 272px;
$icon-cart-2x-image: '../images/sprite-2x.png';
$icon-cart-2x: (148px, 0px, -148px, 0px, 68px, 68px, 292px, 272px, '../images/sprite-2x.png', 'icon_cart-2x', );
$icon-close-2x-name: 'icon_close-2x';
$icon-close-2x-x: 0px;
$icon-close-2x-y: 0px;
$icon-close-2x-offset-x: 0px;
$icon-close-2x-offset-y: 0px;
$icon-close-2x-width: 80px;
$icon-close-2x-height: 80px;
$icon-close-2x-total-width: 292px;
$icon-close-2x-total-height: 272px;
$icon-close-2x-image: '../images/sprite-2x.png';
$icon-close-2x: (0px, 0px, 0px, 0px, 80px, 80px, 292px, 272px, '../images/sprite-2x.png', 'icon_close-2x', );
$icon-delete-2x-name: 'icon_delete-2x';
$icon-delete-2x-x: 252px;
$icon-delete-2x-y: 228px;
$icon-delete-2x-offset-x: -252px;
$icon-delete-2x-offset-y: -228px;
$icon-delete-2x-width: 16px;
$icon-delete-2x-height: 18px;
$icon-delete-2x-total-width: 292px;
$icon-delete-2x-total-height: 272px;
$icon-delete-2x-image: '../images/sprite-2x.png';
$icon-delete-2x: (252px, 228px, -252px, -228px, 16px, 18px, 292px, 272px, '../images/sprite-2x.png', 'icon_delete-2x', );
$icon-diamond-2x-name: 'icon_diamond-2x';
$icon-diamond-2x-x: 186px;
$icon-diamond-2x-y: 202px;
$icon-diamond-2x-offset-x: -186px;
$icon-diamond-2x-offset-y: -202px;
$icon-diamond-2x-width: 48px;
$icon-diamond-2x-height: 42px;
$icon-diamond-2x-total-width: 292px;
$icon-diamond-2x-total-height: 272px;
$icon-diamond-2x-image: '../images/sprite-2x.png';
$icon-diamond-2x: (186px, 202px, -186px, -202px, 48px, 42px, 292px, 272px, '../images/sprite-2x.png', 'icon_diamond-2x', );
$icon-diamond-b-2x-name: 'icon_diamond_b-2x';
$icon-diamond-b-2x-x: 152px;
$icon-diamond-b-2x-y: 148px;
$icon-diamond-b-2x-offset-x: -152px;
$icon-diamond-b-2x-offset-y: -148px;
$icon-diamond-b-2x-width: 54px;
$icon-diamond-b-2x-height: 48px;
$icon-diamond-b-2x-total-width: 292px;
$icon-diamond-b-2x-total-height: 272px;
$icon-diamond-b-2x-image: '../images/sprite-2x.png';
$icon-diamond-b-2x: (152px, 148px, -152px, -148px, 54px, 48px, 292px, 272px, '../images/sprite-2x.png', 'icon_diamond_b-2x', );
$icon-diamond-s-2x-name: 'icon_diamond_s-2x';
$icon-diamond-s-2x-x: 216px;
$icon-diamond-s-2x-y: 104px;
$icon-diamond-s-2x-offset-x: -216px;
$icon-diamond-s-2x-offset-y: -104px;
$icon-diamond-s-2x-width: 32px;
$icon-diamond-s-2x-height: 28px;
$icon-diamond-s-2x-total-width: 292px;
$icon-diamond-s-2x-total-height: 272px;
$icon-diamond-s-2x-image: '../images/sprite-2x.png';
$icon-diamond-s-2x: (216px, 104px, -216px, -104px, 32px, 28px, 292px, 272px, '../images/sprite-2x.png', 'icon_diamond_s-2x', );
$icon-email-2x-name: 'icon_email-2x';
$icon-email-2x-x: 36px;
$icon-email-2x-y: 202px;
$icon-email-2x-offset-x: -36px;
$icon-email-2x-offset-y: -202px;
$icon-email-2x-width: 54px;
$icon-email-2x-height: 48px;
$icon-email-2x-total-width: 292px;
$icon-email-2x-total-height: 272px;
$icon-email-2x-image: '../images/sprite-2x.png';
$icon-email-2x: (36px, 202px, -36px, -202px, 54px, 48px, 292px, 272px, '../images/sprite-2x.png', 'icon_email-2x', );
$icon-facebook-2x-name: 'icon_facebook-2x';
$icon-facebook-2x-x: 138px;
$icon-facebook-2x-y: 202px;
$icon-facebook-2x-offset-x: -138px;
$icon-facebook-2x-offset-y: -202px;
$icon-facebook-2x-width: 48px;
$icon-facebook-2x-height: 48px;
$icon-facebook-2x-total-width: 292px;
$icon-facebook-2x-total-height: 272px;
$icon-facebook-2x-image: '../images/sprite-2x.png';
$icon-facebook-2x: (138px, 202px, -138px, -202px, 48px, 48px, 292px, 272px, '../images/sprite-2x.png', 'icon_facebook-2x', );
$icon-favorite-heart-2x-name: 'icon_favorite_heart-2x';
$icon-favorite-heart-2x-x: 94px;
$icon-favorite-heart-2x-y: 148px;
$icon-favorite-heart-2x-offset-x: -94px;
$icon-favorite-heart-2x-offset-y: -148px;
$icon-favorite-heart-2x-width: 58px;
$icon-favorite-heart-2x-height: 54px;
$icon-favorite-heart-2x-total-width: 292px;
$icon-favorite-heart-2x-total-height: 272px;
$icon-favorite-heart-2x-image: '../images/sprite-2x.png';
$icon-favorite-heart-2x: (94px, 148px, -94px, -148px, 58px, 54px, 292px, 272px, '../images/sprite-2x.png', 'icon_favorite_heart-2x', );
$icon-favorite-heart-active-2x-name: 'icon_favorite_heart_active-2x';
$icon-favorite-heart-active-2x-x: 36px;
$icon-favorite-heart-active-2x-y: 148px;
$icon-favorite-heart-active-2x-offset-x: -36px;
$icon-favorite-heart-active-2x-offset-y: -148px;
$icon-favorite-heart-active-2x-width: 58px;
$icon-favorite-heart-active-2x-height: 54px;
$icon-favorite-heart-active-2x-total-width: 292px;
$icon-favorite-heart-active-2x-total-height: 272px;
$icon-favorite-heart-active-2x-image: '../images/sprite-2x.png';
$icon-favorite-heart-active-2x: (36px, 148px, -36px, -148px, 58px, 54px, 292px, 272px, '../images/sprite-2x.png', 'icon_favorite_heart_active-2x', );
$icon-hand-2x-name: 'icon_hand-2x';
$icon-hand-2x-x: 252px;
$icon-hand-2x-y: 120px;
$icon-hand-2x-offset-x: -252px;
$icon-hand-2x-offset-y: -120px;
$icon-hand-2x-width: 36px;
$icon-hand-2x-height: 44px;
$icon-hand-2x-total-width: 292px;
$icon-hand-2x-total-height: 272px;
$icon-hand-2x-image: '../images/sprite-2x.png';
$icon-hand-2x: (252px, 120px, -252px, -120px, 36px, 44px, 292px, 272px, '../images/sprite-2x.png', 'icon_hand-2x', );
$icon-instagram-2x-name: 'icon_instagram-2x';
$icon-instagram-2x-x: 90px;
$icon-instagram-2x-y: 202px;
$icon-instagram-2x-offset-x: -90px;
$icon-instagram-2x-offset-y: -202px;
$icon-instagram-2x-width: 48px;
$icon-instagram-2x-height: 48px;
$icon-instagram-2x-total-width: 292px;
$icon-instagram-2x-total-height: 272px;
$icon-instagram-2x-image: '../images/sprite-2x.png';
$icon-instagram-2x: (90px, 202px, -90px, -202px, 48px, 48px, 292px, 272px, '../images/sprite-2x.png', 'icon_instagram-2x', );
$icon-logout-2x-name: 'icon_logout-2x';
$icon-logout-2x-x: 148px;
$icon-logout-2x-y: 68px;
$icon-logout-2x-offset-x: -148px;
$icon-logout-2x-offset-y: -68px;
$icon-logout-2x-width: 68px;
$icon-logout-2x-height: 68px;
$icon-logout-2x-total-width: 292px;
$icon-logout-2x-total-height: 272px;
$icon-logout-2x-image: '../images/sprite-2x.png';
$icon-logout-2x: (148px, 68px, -148px, -68px, 68px, 68px, 292px, 272px, '../images/sprite-2x.png', 'icon_logout-2x', );
$icon-member-2x-name: 'icon_member-2x';
$icon-member-2x-x: 68px;
$icon-member-2x-y: 80px;
$icon-member-2x-offset-x: -68px;
$icon-member-2x-offset-y: -80px;
$icon-member-2x-width: 68px;
$icon-member-2x-height: 68px;
$icon-member-2x-total-width: 292px;
$icon-member-2x-total-height: 272px;
$icon-member-2x-image: '../images/sprite-2x.png';
$icon-member-2x: (68px, 80px, -68px, -80px, 68px, 68px, 292px, 272px, '../images/sprite-2x.png', 'icon_member-2x', );
$icon-msg-2x-name: 'icon_msg-2x';
$icon-msg-2x-x: 252px;
$icon-msg-2x-y: 164px;
$icon-msg-2x-offset-x: -252px;
$icon-msg-2x-offset-y: -164px;
$icon-msg-2x-width: 36px;
$icon-msg-2x-height: 32px;
$icon-msg-2x-total-width: 292px;
$icon-msg-2x-total-height: 272px;
$icon-msg-2x-image: '../images/sprite-2x.png';
$icon-msg-2x: (252px, 164px, -252px, -164px, 36px, 32px, 292px, 272px, '../images/sprite-2x.png', 'icon_msg-2x', );
$icon-search-2x-name: 'icon_search-2x';
$icon-search-2x-x: 0px;
$icon-search-2x-y: 80px;
$icon-search-2x-offset-x: 0px;
$icon-search-2x-offset-y: -80px;
$icon-search-2x-width: 68px;
$icon-search-2x-height: 68px;
$icon-search-2x-total-width: 292px;
$icon-search-2x-total-height: 272px;
$icon-search-2x-image: '../images/sprite-2x.png';
$icon-search-2x: (0px, 80px, 0px, -80px, 68px, 68px, 292px, 272px, '../images/sprite-2x.png', 'icon_search-2x', );
$icon-share-facebook-2x-name: 'icon_share_facebook-2x';
$icon-share-facebook-2x-x: 252px;
$icon-share-facebook-2x-y: 80px;
$icon-share-facebook-2x-offset-x: -252px;
$icon-share-facebook-2x-offset-y: -80px;
$icon-share-facebook-2x-width: 40px;
$icon-share-facebook-2x-height: 40px;
$icon-share-facebook-2x-total-width: 292px;
$icon-share-facebook-2x-total-height: 272px;
$icon-share-facebook-2x-image: '../images/sprite-2x.png';
$icon-share-facebook-2x: (252px, 80px, -252px, -80px, 40px, 40px, 292px, 272px, '../images/sprite-2x.png', 'icon_share_facebook-2x', );
$icon-share-pinterest-2x-name: 'icon_share_pinterest-2x';
$icon-share-pinterest-2x-x: 252px;
$icon-share-pinterest-2x-y: 0px;
$icon-share-pinterest-2x-offset-x: -252px;
$icon-share-pinterest-2x-offset-y: 0px;
$icon-share-pinterest-2x-width: 40px;
$icon-share-pinterest-2x-height: 40px;
$icon-share-pinterest-2x-total-width: 292px;
$icon-share-pinterest-2x-total-height: 272px;
$icon-share-pinterest-2x-image: '../images/sprite-2x.png';
$icon-share-pinterest-2x: (252px, 0px, -252px, 0px, 40px, 40px, 292px, 272px, '../images/sprite-2x.png', 'icon_share_pinterest-2x', );
$icon-share-twitter-2x-name: 'icon_share_twitter-2x';
$icon-share-twitter-2x-x: 252px;
$icon-share-twitter-2x-y: 40px;
$icon-share-twitter-2x-offset-x: -252px;
$icon-share-twitter-2x-offset-y: -40px;
$icon-share-twitter-2x-width: 40px;
$icon-share-twitter-2x-height: 40px;
$icon-share-twitter-2x-total-width: 292px;
$icon-share-twitter-2x-total-height: 272px;
$icon-share-twitter-2x-image: '../images/sprite-2x.png';
$icon-share-twitter-2x: (252px, 40px, -252px, -40px, 40px, 40px, 292px, 272px, '../images/sprite-2x.png', 'icon_share_twitter-2x', );
$icon-share-weibo-2x-name: 'icon_share_weibo-2x';
$icon-share-weibo-2x-x: 206px;
$icon-share-weibo-2x-y: 148px;
$icon-share-weibo-2x-offset-x: -206px;
$icon-share-weibo-2x-offset-y: -148px;
$icon-share-weibo-2x-width: 40px;
$icon-share-weibo-2x-height: 40px;
$icon-share-weibo-2x-total-width: 292px;
$icon-share-weibo-2x-total-height: 272px;
$icon-share-weibo-2x-image: '../images/sprite-2x.png';
$icon-share-weibo-2x: (206px, 148px, -206px, -148px, 40px, 40px, 292px, 272px, '../images/sprite-2x.png', 'icon_share_weibo-2x', );
$icon-waredrobe-2x-name: 'icon_waredrobe-2x';
$icon-waredrobe-2x-x: 80px;
$icon-waredrobe-2x-y: 0px;
$icon-waredrobe-2x-offset-x: -80px;
$icon-waredrobe-2x-offset-y: 0px;
$icon-waredrobe-2x-width: 68px;
$icon-waredrobe-2x-height: 68px;
$icon-waredrobe-2x-total-width: 292px;
$icon-waredrobe-2x-total-height: 272px;
$icon-waredrobe-2x-image: '../images/sprite-2x.png';
$icon-waredrobe-2x: (80px, 0px, -80px, 0px, 68px, 68px, 292px, 272px, '../images/sprite-2x.png', 'icon_waredrobe-2x', );
$spritesheet-width: 146px;
$spritesheet-height: 136px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-slider-next, $arrow-slider-next-v, $arrow-slider-prev, $arrow-slider-prev-v, $icon-cart, $icon-close, $icon-delete, $icon-diamond, $icon-diamond-b, $icon-diamond-s, $icon-email, $icon-facebook, $icon-favorite-heart, $icon-favorite-heart-active, $icon-hand, $icon-instagram, $icon-logout, $icon-member, $icon-msg, $icon-search, $icon-share-facebook, $icon-share-pinterest, $icon-share-twitter, $icon-share-weibo, $icon-waredrobe, );
$spritesheet: (146px, 136px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 292px;
$retina-spritesheet-height: 272px;
$retina-spritesheet-image: '../images/sprite-2x.png';
$retina-spritesheet-sprites: ($arrow-down-2x, $arrow-slider-next-2x, $arrow-slider-next-v-2x, $arrow-slider-prev-2x, $arrow-slider-prev-v-2x, $icon-cart-2x, $icon-close-2x, $icon-delete-2x, $icon-diamond-2x, $icon-diamond-b-2x, $icon-diamond-s-2x, $icon-email-2x, $icon-facebook-2x, $icon-favorite-heart-2x, $icon-favorite-heart-active-2x, $icon-hand-2x, $icon-instagram-2x, $icon-logout-2x, $icon-member-2x, $icon-msg-2x, $icon-search-2x, $icon-share-facebook-2x, $icon-share-pinterest-2x, $icon-share-twitter-2x, $icon-share-weibo-2x, $icon-waredrobe-2x, );
$retina-spritesheet: (292px, 272px, '../images/sprite-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$arrow-down-group-name: 'arrow_down';
$arrow-down-group: ('arrow_down', $arrow-down, $arrow-down-2x, );
$arrow-slider-next-group-name: 'arrow_slider_next';
$arrow-slider-next-group: ('arrow_slider_next', $arrow-slider-next, $arrow-slider-next-2x, );
$arrow-slider-next-v-group-name: 'arrow_slider_next_v';
$arrow-slider-next-v-group: ('arrow_slider_next_v', $arrow-slider-next-v, $arrow-slider-next-v-2x, );
$arrow-slider-prev-group-name: 'arrow_slider_prev';
$arrow-slider-prev-group: ('arrow_slider_prev', $arrow-slider-prev, $arrow-slider-prev-2x, );
$arrow-slider-prev-v-group-name: 'arrow_slider_prev_v';
$arrow-slider-prev-v-group: ('arrow_slider_prev_v', $arrow-slider-prev-v, $arrow-slider-prev-v-2x, );
$icon-cart-group-name: 'icon_cart';
$icon-cart-group: ('icon_cart', $icon-cart, $icon-cart-2x, );
$icon-close-group-name: 'icon_close';
$icon-close-group: ('icon_close', $icon-close, $icon-close-2x, );
$icon-delete-group-name: 'icon_delete';
$icon-delete-group: ('icon_delete', $icon-delete, $icon-delete-2x, );
$icon-diamond-group-name: 'icon_diamond';
$icon-diamond-group: ('icon_diamond', $icon-diamond, $icon-diamond-2x, );
$icon-diamond-b-group-name: 'icon_diamond_b';
$icon-diamond-b-group: ('icon_diamond_b', $icon-diamond-b, $icon-diamond-b-2x, );
$icon-diamond-s-group-name: 'icon_diamond_s';
$icon-diamond-s-group: ('icon_diamond_s', $icon-diamond-s, $icon-diamond-s-2x, );
$icon-email-group-name: 'icon_email';
$icon-email-group: ('icon_email', $icon-email, $icon-email-2x, );
$icon-facebook-group-name: 'icon_facebook';
$icon-facebook-group: ('icon_facebook', $icon-facebook, $icon-facebook-2x, );
$icon-favorite-heart-group-name: 'icon_favorite_heart';
$icon-favorite-heart-group: ('icon_favorite_heart', $icon-favorite-heart, $icon-favorite-heart-2x, );
$icon-favorite-heart-active-group-name: 'icon_favorite_heart_active';
$icon-favorite-heart-active-group: ('icon_favorite_heart_active', $icon-favorite-heart-active, $icon-favorite-heart-active-2x, );
$icon-hand-group-name: 'icon_hand';
$icon-hand-group: ('icon_hand', $icon-hand, $icon-hand-2x, );
$icon-instagram-group-name: 'icon_instagram';
$icon-instagram-group: ('icon_instagram', $icon-instagram, $icon-instagram-2x, );
$icon-logout-group-name: 'icon_logout';
$icon-logout-group: ('icon_logout', $icon-logout, $icon-logout-2x, );
$icon-member-group-name: 'icon_member';
$icon-member-group: ('icon_member', $icon-member, $icon-member-2x, );
$icon-msg-group-name: 'icon_msg';
$icon-msg-group: ('icon_msg', $icon-msg, $icon-msg-2x, );
$icon-search-group-name: 'icon_search';
$icon-search-group: ('icon_search', $icon-search, $icon-search-2x, );
$icon-share-facebook-group-name: 'icon_share_facebook';
$icon-share-facebook-group: ('icon_share_facebook', $icon-share-facebook, $icon-share-facebook-2x, );
$icon-share-pinterest-group-name: 'icon_share_pinterest';
$icon-share-pinterest-group: ('icon_share_pinterest', $icon-share-pinterest, $icon-share-pinterest-2x, );
$icon-share-twitter-group-name: 'icon_share_twitter';
$icon-share-twitter-group: ('icon_share_twitter', $icon-share-twitter, $icon-share-twitter-2x, );
$icon-share-weibo-group-name: 'icon_share_weibo';
$icon-share-weibo-group: ('icon_share_weibo', $icon-share-weibo, $icon-share-weibo-2x, );
$icon-waredrobe-group-name: 'icon_waredrobe';
$icon-waredrobe-group: ('icon_waredrobe', $icon-waredrobe, $icon-waredrobe-2x, );
$retina-groups: ($arrow-down-group, $arrow-slider-next-group, $arrow-slider-next-v-group, $arrow-slider-prev-group, $arrow-slider-prev-v-group, $icon-cart-group, $icon-close-group, $icon-delete-group, $icon-diamond-group, $icon-diamond-b-group, $icon-diamond-s-group, $icon-email-group, $icon-facebook-group, $icon-favorite-heart-group, $icon-favorite-heart-active-group, $icon-hand-group, $icon-instagram-group, $icon-logout-group, $icon-member-group, $icon-msg-group, $icon-search-group, $icon-share-facebook-group, $icon-share-pinterest-group, $icon-share-twitter-group, $icon-share-weibo-group, $icon-waredrobe-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
