// Fonts
$sans-serif: "Helvetica Neue",Arial,"Heiti TC","LiHei Pro","微軟正黑體","Microsoft Jhenghei", sans-serif;

// Color
$white: #ffffff;
$black: #000000;

$gray: #94949B;
$gray-darken: #4A4A4A;
$gray-darkest: #353535;

$bg-brown: #B4A189;
$bg-red: #B48989;
$bg-purple: #9C89B4;
$bg-blue: #898EB4;
$bg-green: #89B4A0;

$main: #907E59;