ul
  li
    a(class={current: currentUrl === 'designers'}, href="designers.html")
      | Designers
  li
    a(class={current: currentUrl === 'brands'}, href="brands.html")
      | Brands
  li
    a(class={current: currentUrl === 'women'}, href="products.html")
      | Women
    .sub_menu
      ul
        li
          a(href="products.html") CLOTHING
          ul
            li
              a(href="products.html") Jeaens
            li
              a(href="products.html") Trench Coats
            li
              a(href="products.html") Jackets
            li
              a(href="products.html") Coats
            li
              a(href="products.html") Quilts &amp; Puffers
            li
              a(href="products.html") Suits
            li
              a(href="products.html") Blazers
            li
              a(href="products.html") Formal Shirts
        li
          a(href="products.html") BAGS
          ul
            li
              a(href="products.html") Bags
            li
              a(href="products.html") Scarves
            li
              a(href="products.html") Wallets &amp; Card Cases
            li
              a(href="products.html") Travel Accessories
            li
              a(href="products.html") Ties &amp; Cunfflinks
            li
              a(href="products.html") Key Rings
            li
              a(href="products.html") Hats &amp; Gloves
        li
          a(href="products.html") ACCESSORIES
          ul
            li
              a(href="products.html") Scarves
            li
              a(href="products.html") Wallets &amp; Card Cases
            li
              a(href="products.html") Key &amp; Bag Charms
            li
              a(href="products.html") Travel Accessories
            li
              a(href="products.html") Belts
            li
              a(href="products.html") Jewellery
            li
              a(href="products.html") Hats &amp; Gloves
            li
              a(href="products.html") Eyewear
  li
    a(class={current: currentUrl === 'men'}, href="products.html")
      | Men
    .sub_menu
      ul
        li
          a(href="products.html") CLOTHING
          ul
            li
              a(href="products.html") Jeaens
            li
              a(href="products.html") Trench Coats
            li
              a(href="products.html") Jackets
            li
              a(href="products.html") Coats
            li
              a(href="products.html") Quilts &amp; Puffers
            li
              a(href="products.html") Suits
            li
              a(href="products.html") Blazers
            li
              a(href="products.html") Formal Shirts
        li
          a(href="products.html") BAGS
          ul
            li
              a(href="products.html") Bags
            li
              a(href="products.html") Scarves
            li
              a(href="products.html") Wallets &amp; Card Cases
            li
              a(href="products.html") Travel Accessories
            li
              a(href="products.html") Ties &amp; Cunfflinks
            li
              a(href="products.html") Key Rings
            li
              a(href="products.html") Hats &amp; Gloves
        li
          a(href="products.html") ACCESSORIES
          ul
            li
              a(href="products.html") Scarves
            li
              a(href="products.html") Wallets &amp; Card Cases
            li
              a(href="products.html") Key &amp; Bag Charms
            li
              a(href="products.html") Travel Accessories
            li
              a(href="products.html") Belts
            li
              a(href="products.html") Jewellery
            li
              a(href="products.html") Hats &amp; Gloves
            li
              a(href="products.html") Eyewear
  li
    a(class={current: currentUrl === 'sale'}, href="sale.html")
      | Sale
  li
    a(class={current: currentUrl === 'events'}, href="events.html")
      | Events
  li
    a(class={current: currentUrl === 'popularDesigners'}, href="popular_designers.html")
      | Popular Designers
