ul
  li
    a(href="designer.html")
      | Designer
  li
    a(href="brand.html")
      | Brand
  li
    a(href="javascript:;")
      | Women
  li
    a(href="javascript:;")
      | Men
  li
    a(href="sale.hmtl")
      | Sale
  li
    a(href="events.html")
      | Event
  li
    a(href="popular_designer.html")
      | Popular Designers
