ul
  li
    a(class={current: currentUrl === 'designers'}, href="designers.html")
      | Designers
  li
    a(class={current: currentUrl === 'brands'}, href="brands.html")
      | Brands
  li
    a(class={current: currentUrl === 'women'}, href="javascript:;")
      | Women
    .sub_menu
      ul
        li
          a(href="javascript:;") CLOTHING
          ul
            li
              a(href="javascript:;") Jeaens
            li
              a(href="javascript:;") Trench Coats
            li
              a(href="javascript:;") Jackets
            li
              a(href="javascript:;") Coats
            li
              a(href="javascript:;") Quilts &amp; Puffers
            li
              a(href="javascript:;") Suits
            li
              a(href="javascript:;") Blazers
            li
              a(href="javascript:;") Formal Shirts
        li
          a(href="javascript:;") BAGS
          ul
            li
              a(href="javascript:;") Bags
            li
              a(href="javascript:;") Scarves
            li
              a(href="javascript:;") Wallets &amp; Card Cases
            li
              a(href="javascript:;") Travel Accessories
            li
              a(href="javascript:;") Ties &amp; Cunfflinks
            li
              a(href="javascript:;") Key Rings
            li
              a(href="javascript:;") Hats &amp; Gloves
        li
          a(href="javascript:;") ACCESSORIES
          ul
            li
              a(href="javascript:;") Scarves
            li
              a(href="javascript:;") Wallets &amp; Card Cases
            li
              a(href="javascript:;") Key &amp; Bag Charms
            li
              a(href="javascript:;") Travel Accessories
            li
              a(href="javascript:;") Belts
            li
              a(href="javascript:;") Jewellery
            li
              a(href="javascript:;") Hats &amp; Gloves
            li
              a(href="javascript:;") Eyewear
  li
    a(class={current: currentUrl === 'men'}, href="javascript:;")
      | Men
    .sub_menu
      ul
        li
          a(href="javascript:;") CLOTHING
          ul
            li
              a(href="javascript:;") Jeaens
            li
              a(href="javascript:;") Trench Coats
            li
              a(href="javascript:;") Jackets
            li
              a(href="javascript:;") Coats
            li
              a(href="javascript:;") Quilts &amp; Puffers
            li
              a(href="javascript:;") Suits
            li
              a(href="javascript:;") Blazers
            li
              a(href="javascript:;") Formal Shirts
        li
          a(href="javascript:;") BAGS
          ul
            li
              a(href="javascript:;") Bags
            li
              a(href="javascript:;") Scarves
            li
              a(href="javascript:;") Wallets &amp; Card Cases
            li
              a(href="javascript:;") Travel Accessories
            li
              a(href="javascript:;") Ties &amp; Cunfflinks
            li
              a(href="javascript:;") Key Rings
            li
              a(href="javascript:;") Hats &amp; Gloves
        li
          a(href="javascript:;") ACCESSORIES
          ul
            li
              a(href="javascript:;") Scarves
            li
              a(href="javascript:;") Wallets &amp; Card Cases
            li
              a(href="javascript:;") Key &amp; Bag Charms
            li
              a(href="javascript:;") Travel Accessories
            li
              a(href="javascript:;") Belts
            li
              a(href="javascript:;") Jewellery
            li
              a(href="javascript:;") Hats &amp; Gloves
            li
              a(href="javascript:;") Eyewear
  li
    a(class={current: currentUrl === 'sale'}, href="sale.hmtl")
      | Sale
  li
    a(class={current: currentUrl === 'events'}, href="events.html")
      | Events
  li
    a(class={current: currentUrl === 'popularDesigners'}, href="popular_designers.html")
      | Popular Designers
