ul
  li
    a(href="javascript:;") Designer
  li
    a(href="javascript:;") Brand
  li
    a(href="javascript:;") Women
  li
    a(href="javascript:;") Men
  li
    a(href="javascript:;") Sale
  li
    a(href="javascript:;") Event
